@font-face {
  font-family: 'AGLettericaCondensed';
  src: url('../../fonts/AGLettericaCondensed-Roman.eot');
  src: url('../../fonts/AGLettericaCondensed-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../../fonts/roboto-regular-webfont.eot");
  src: url("../../fonts/roboto-regular-webfont.woff") format('woff'), url("../fonts/roboto-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  background: #0F0E0F;
  overflow-x: hidden;
}
p,
h1,
h2 {
  margin: 0;
}
select{
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
}
.checkout_left_block input[type="checkbox"],
.checkout_left_block input[type="radio"] {
  display: none;
}

.relative {
  position: relative;
}
.small_logo{display: none}
.checkout_title h1,
.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0;
  font-family: 'AGLettericaCondensed';
}

button,
button:focus,
button:active {
  outline: none;
  cursor: pointer;
}

.label_error {
  color: #dd8080;
  font-size: 13px;
  margin-top: 5px;
}
#cart_edit_button{display: none}
.select_button {
  background: inherit;
  border: 2px solid #a0a0a0;
  color: #a0a0a0;
  border-radius: 3px;
  width: 270px;
  font-size: 16px;
  font-weight: 600;
  padding: 2% 3%;
}

.select_button.active {
  border: 1px solid #65bd00;
  color: #65bd00;
}

.for_checkbox {
  margin-left: 24px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  width: auto !important;
}

.for_checkbox:before {
  color: #a0a0a0;
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  font-family: "Font Awesome 5 Free";
  top: 0;
  left: -20px;
}

.checkout_left_block input[type="radio"]+label.for_checkbox:before {
  content: "\f111";
  font-weight: 400;
}

.checkout_left_block input[type="checkbox"]+label.for_checkbox:before {
  font-weight: 400;
  content: "\f0c8";
}

.checkout_left_block input[type="radio"].checkout_checkbox:checked~label.for_checkbox:before {
  content: "\f192";
  color: #65bd00;
}

.checkout_left_block input[type="checkbox"].checkout_checkbox:checked~label.for_checkbox:before {
  content: "\f14a";
  color: #65bd00;
}

.checkout_left_block input[type="checkbox"].checkout_checkbox:disabled~label.for_checkbox:before,
.checkout_left_block input[type="radio"].checkout_checkbox:disabled~label.for_checkbox:before {
  content: "\f057";
  color: #e36565;
}

.checkout_left_block {
  padding: 1% 5% 2% 3%;
  background: #0F0E0F;
  color: #fff;
  height: 100%;
}
.checkout_left_block .checkout_logo {
  width: 10%;
  background: #0F0E0F;
}

.checkout_left_block .checkout_logo svg {
  width: 70%;
  fill: #65bd00;
}

.checkout_left_block .checkout_center {
  width: 87%;
  margin-left: 3%;
}

.checkout_left_block .checkout_center .checkout_step .label_step {
  color: #fff;
  position: relative;
  margin-left: 60px;
  font-family: 'AGLettericaCondensed';
  margin-bottom: 5px;
}

.checkout_left_block .checkout_center .checkout_step .label_step:first-child {
  margin-left: 0;
}

.checkout_left_block .checkout_center .checkout_step .label_step:first-child:before {
  display: none;
}

.checkout_left_block .checkout_center .checkout_step .label_step.active,
.checkout_left_block .checkout_center .checkout_step .label_step.done a,
.checkout_left_block .checkout_center .checkout_step .label_step.done {
  color: #65bd00;
}

.checkout_left_block .checkout_center .checkout_step .label_step.active:before,
.checkout_left_block .checkout_center .checkout_step .label_step.done:before {
  background: #65bd00;
}

.checkout_left_block .checkout_center .checkout_step .label_step.active {
  border-bottom: 2px solid #65bd00;
}

.checkout_left_block .checkout_center .checkout_step .label_step:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -40px;
}

.checkout_left_block .checkout_center .checkout_content h2,
.checkout_left_block .checkout_center .checkout_content h3 {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'AGLettericaCondensed';
}

.checkout_left_block .checkout_center .checkout_content label {
  width: 48%;
  color: #a0a0a0;
  position: relative;
}

.checkout_left_block .checkout_center .checkout_content .form-control {
  background: #2a2e32;
  border-color: #2a2e32;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-top: 5px;
  transition: .3s linear;
}
.checkout_left_block .checkout_center .checkout_content .form-control:focus {
  box-shadow: none;
}
.checkout_no_product {
  text-align: center;
}
.checkout_no_product figure {
  margin: 2em 2em;
  width: 100%;
  height: 100%;
}
.checkout_no_product figure figcaption {
  padding: 3em;
}
.checkout_no_product figure svg {
  width: 7em;
  height: 7em;
  opacity: 0.3;
  vertical-align: super;
}
.checkout_no_product .open_jivo, .checkout_no_product a {
  color: #65bd00;
  cursor: pointer;
}
.checkout_left_block .checkout_center .checkout_content select {
  margin-top: 10px;
  margin-top: 10px;
  background: #2a2e32;
  border: none;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.checkout_left_block .checkout_center .checkout_content a {
  color: #65bd00;
  border-bottom: 1px dashed #65bd00;
}

.checkout_left_block .checkout_center .checkout_content a:hover {
  border-bottom: none;
  text-decoration: none;
}

.checkout_left_block .checkout_center .form_register {
  visibility: hidden;
  height: 0;
}

.checkout_left_block .checkout_center #register_check:checked~.form_register {
  visibility: visible;
  height: auto;
}

.checkout_left_block .checkout_center .with_register {
  margin-top: 50px;
}

.checkout_right_block {
  background: #212529;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 0 10px 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  width: 40%;
  font-family: 'robotoregular', sans-serif;
}
.checkout_right_block .back {
  font-size: 16px;
  color: #a0a0a0;
  font-weight: 600;
  text-decoration: none;
}

.checkout_right_block .cash_on_dilivery {
  border-bottom: 2px solid #e36565;
  background: #e36565;
  color: #fff;
  padding: 15px;
}

.checkout_right_block .checkout_prod_title {
  padding: 20px 30px;
}

.checkout_right_block .checkout_prod_block {
  max-height: 400px;
  overflow-y: auto;
  background: #1d2024;
}
.checkout_right_block .prices{
  padding: 20px 30px;
}
.checkout_right_block .checkout_prod_block::-webkit-scrollbar {
  width: 5px;
}

.checkout_right_block .checkout_prod_block::-webkit-scrollbar-track {
  background: #e4e4e4;
}

.checkout_right_block .checkout_prod_block::-webkit-scrollbar-thumb {
  background-color: #949393;
  border-radius: 5px;
}

.checkout_right_block .checkout_prod_block button {
  background: none;
  border: 1px solid #65bd00;
  border-radius: 3px;
}

.checkout_right_block .checkout_prod_block .checkout_product_item {
  padding: 5%;
  color: #a0a0a0;
  display: flex;
}
.checkout_right_block .checkout_prod_block .checkout_product_item .manufac{
  font-size: 12px;
  color: #a0a0a0;
  display: block;
}
.checkout_right_block .checkout_prod_block .checkout_product_item .checkout_prod_img {
  max-width: 90px;
  border-radius: 10px;
}

.checkout_right_block .checkout_prod_block .checkout_product_item .product_name a {
  font-size: 15px;
  line-height: 16px;
  color: #65bd00;
}

.checkout_right_block .checkout_prod_block .checkout_product_item .product_price {
  font-weight: 600;
  color: #fff;
  text-align: right;
}

.checkout_right_block .checkout_prod_block .checkout_product_item .product_quantity form{
  border-radius: 3px;
  overflow: hidden;
}
.checkout_right_block .checkout_prod_block .checkout_product_item .product_quantity{
  margin-top: 3px;
}
.checkout_right_block .checkout_prod_block .checkout_product_item .product_option {
  font-size: 12px;
}

.checkout_right_block .checkout_prod_block .checkout_product_item input.quantity {
  width: 30px;
  background: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  text-align: center;
  background: #2a2e32;
  color: #fff
}

.checkout_right_block .checkout_prod_block .checkout_product_item .product_delete,
.checkout_right_block .cart-action .product_delete {
  font-size: 13px;
  color: #e36565;
  text-decoration: none;
  margin-left: 5px;
  border: none;
  padding: 0;
  background: none;
}
.checkout_right_block .cart-action .product_delete {
  padding-right: 10px
}
.checkout_right_block .checkout_prices>.d-flex{
  margin-bottom: 5px;
}
.checkout_right_block .checkout_prices .price {
  color: #a0a0a0;
  position: relative;
}

.checkout_right_block .checkout_prices .price form {
  position: absolute;
  top: 0;
  right: -40%;
}

.checkout_right_block .checkout_prices .price form button {
  background: none;
  border: none;
}

.checkout_right_block .checkout_prices .price form button i {
  color: #e36565;
  font-size: 15px;
}

.checkout_right_block .checkout_total_price .price {
  color: #65bd00;
  font-size: 20px;
}

.checkout_right_block .price {
  font-weight: 600;
}

.checkout_right_block .price_text {
  color: #a0a0a0;
  font-weight: 600;
  font-size: 16px;
}

.checkout_left_block .checkout_buttons {
  margin-top: 7%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shipping_item.disabled>div,
.payment_item.disabled>div {
  opacity: 0.4
}

#shipping_method .shipping_item,
#payment_method .shipping_item,
#shipping_method .payment_item,
#payment_method .payment_item {
  padding: 30px 0;
}

#shipping_method .shipping_item .shipping_info,
#payment_method .shipping_item .shipping_info,
#shipping_method .payment_item .shipping_info,
#payment_method .payment_item .shipping_info,
#shipping_method .shipping_item .payment_info,
#payment_method .shipping_item .payment_info,
#shipping_method .payment_item .payment_info,
#payment_method .payment_item .payment_info {
  width: 85%;
  margin-left: 55px;
  color: #a0a0a0;
}

#shipping_method .shipping_item .shipping_cost,
#payment_method .shipping_item .shipping_cost,
#shipping_method .payment_item .shipping_cost,
#payment_method .payment_item .shipping_cost,
#shipping_method .shipping_item .payment_cost,
#payment_method .shipping_item .payment_cost,
#shipping_method .payment_item .payment_cost,
#payment_method .payment_item .payment_cost {
  margin-bottom: 10px;
  flex: 1
}

#shipping_method .shipping_item .shipping_name,
#payment_method .shipping_item .shipping_name,
#shipping_method .payment_item .shipping_name,
#payment_method .payment_item .shipping_name,
#shipping_method .shipping_item .payment_name,
#payment_method .shipping_item .payment_name,
#shipping_method .payment_item .payment_name,
#payment_method .payment_item .payment_name {
  color: #fff !important;
  padding-left: 30px;
  font-weight: 600
}

.confirm_info {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 20px;
}

.textarea_checkout textarea {
  min-height: 150px;
}

.textarea_checkout textarea:focus {
  border-color: #65bd00;
  box-shadow: 0 0 0 0.2rem rgba(130, 181, 35, 0.28);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 181, 35, 0.28);
}

.button_order {
  width: 48%;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  padding: 10px 15px;
}

.button_order.active {
  background: #65bd00;
  cursor: pointer;
  pointer-events: auto;
}
.button_order:hover{
  background: #529a00;
}
.button_order:disabled {
  background: #b3e05e;
  pointer-events: none;
  cursor: not-allowed;
}

.button_step_back {
  width: 48%;
}

.button_step_back a {
  font-size: 15px;
  color: #a0a0a0;
  border-bottom: 2px dashed #a0a0a0;
}

.button_step_back a:hover {
  border-bottom: none;
  text-decoration: none;
}

.confirm .checkout_prod_block button {
  background: none;
  border: 1px solid #65bd00;
  border-radius: 3px;
}

.confirm .checkout_prod_block .checkout_product_item {
  margin-bottom: 15px;
  color: #a0a0a0;
}

.confirm .checkout_prod_block .checkout_product_item .checkout_prod_img {
  max-width: 90px;
  border-radius: 10px;
}

.confirm .checkout_prod_block .checkout_product_item .product_name {
  font-size: 15px;
  color: #65bd00;
}

.confirm .checkout_prod_block .checkout_product_item .product_price {
  font-weight: 600;
  color: #fff;
  text-align: right;
  width: 30%;
}

.confirm .checkout_prod_block .checkout_product_item .product_option {
  font-size: 14px;
  width: 100%;
  color: #a0a0a0
}

.confirm .checkout_prices {
  margin-bottom: 10px;
}

.confirm .checkout_prices .price_text {
  font-size: 16px;
}

.confirm .checkout_prices .price {
  color: #bfbfbf;
  position: relative;
}

.confirm .checkout_prices .price form {
  position: absolute;
  top: 0;
  right: -40%;
}

.confirm .checkout_prices .price form button {
  background: none;
  border: none;
}

.confirm .checkout_prices .price form button i {
  color: #e36565;
  font-size: 15px;
}

.confirm .checkout_total_price {
  padding: 1% 0;
}

.confirm .checkout_total_price .price {
  color: #bfbfbf;
  font-size: 20px;
}

.confirm .checkout_total_price .price_text {
  font-size: 24px;
}

.confirm .price {
  font-weight: 600;
}

.confirm .price_text {
  color: #bfbfbf;
  font-weight: 600;
}

.confirm .button_step_forward {
  width: auto;
}

.confirm .button_step_forward button {
  padding: 2% 15%;
}

#customselect_iconselect {
  background: #2a2e32;
  font-size: 14px;
  line-height: 13px;
  color: #fff;
  width: 20%;
  min-width: 75px;
  padding: 5px 15px;
  margin: 5px 5px 0 0;
  font-size: 13px;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  position: relative;
  align-items: center;
}

#customselect_iconselect:after {
  display: block;
  content: "▼";
  width: 7px;
  color: #fff;
  height: 10px;
  font-size: 10px;
  position: absolute;
  top: 35%;
  right: 10%;
}

#customselect_iconselect:hover,
#customselect_iconselect:focus {
  background-position: 0 -43px;
}

#customselect_holder {
  width: 75%;
  overflow: auto;
  display: none;
  position: absolute;
  top: 100%;
  max-height: 200px;
  margin-top: 5px;
  left: 0;
  border-radius: 5px;
  background: #2a2e32;
  z-index: 10
}

#customselect_holder .selectitems {
  padding: 5px;
  color: #fff;
}

#customselect_holder .hoverclass {
  background: #1d2024;
  cursor: pointer;
}

#customselect_holder .selectedclass {
  background: #ccc;
}

.checkout_right_block .checkout_prod_block .checkout_product_item .plus,
.checkout_right_block .checkout_prod_block .checkout_product_item .minus {
  background: #2a2e32;
  border: none;
  width: 35px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: none;
  color: #fff;
  text-align: center;
  line-height: 20px;
  padding-top:8px
}
.checkout_right_block .checkout_prod_block .checkout_product_item .plus:focus,
.checkout_right_block .checkout_prod_block .checkout_product_item .minus:focus {
  outline: none;
}

.top_cart {
  height: 80%;
}

label.cart_block {
  cursor: pointer;
}

#step_confirm .button_order, #step_ .button_order {
  background: #65bd00;
  color: #fff;
  border-radius: 3px;
  border: none;
  width: auto;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid #65bd00;
  font-family: 'robotoregular', sans-serif;
}

#step_confirm .button_order:disabled, #step_ .button_order:disabled {
  background: #b3e05e;
  pointer-events: none;
  cursor: not-allowed;
}

#step_ #customselect_iconselect {
  margin-top: 0
}
.title {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  font-size: 20px;
  margin: 0;
  line-height: 21px;
}

.dropdown_mobile {
  display: none;
  color: #212529;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.go_back {
  color: #a0a0a0;
  font-weight: 600;
  text-decoration: underline;
  position: fixed;
  top: 10px;
  right: 10px;
}

.go_back:hover {
  color: #fff;
}

.checkout_right_block .bonus {
  color: #fff;
  font-size: 12px;
}

.checkout_left_block .checkout_center .gift_block {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.checkout_left_block .checkout_center .gift_block .gift_item {
  max-width: 100px;
  min-width: 90px;
  width: 50%;
  box-sizing: border-box;
  margin-right: 10px;
}

.checkout_left_block .checkout_center .gift_block .gift_item label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout_left_block .checkout_center .gift_block .gift_item label img {
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
  width: 100%
}

.checkout_left_block .checkout_center .gift_block .gift_item label p {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
  padding-left: 2px
}

.checkout_left_block .checkout_center .gift_block .gift_item label a {
  font-size: 13px;
  padding-left: 2px;
  line-height: 15px;
  margin-top: 5px;
}

.checkout_left_block .checkout_center .gift_block .gift_item input:checked~label img {
  border: 2px solid #65bd00;
}
.checkout_left_block .checkout_center .checkout_content .textarea_checkout label{
  width: 100%
}
.close{
  font-size: 15px;
}
.close_cart{display: none}
/* #step_confirm .go_back, #step_ .go_back{display: block;} */

.tooltip-trigger {
  color: #ababab;
  cursor: pointer;
}
.tooltip-trigger:hover {
  color: #fff;
}
.nobs-tooltip {
  background-color: #181818;
  border-radius: 3px;
  position: fixed;
  box-shadow: 0 0 6px 1px #717070;
  padding: 1rem;
  display: none;
  width: 40%;
  right: 7rem;
  left: auto;
  bottom: 3rem;
}

.nobs-tooltip p {
  padding-top: .5rem;
}

.nobs-tooltip .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.checkbox-with-helper label{
  display: inline;
}

@media screen and (max-width: 1015px) {
  .checkout_logo {
    display: none;
  }

  .checkout_left_block .checkout_center {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .go_back {
    display: none;
  }
  #messages{
    padding: 0 30px 5px;
  }
  .checkout_right_block {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    right: -100%
  }
  .small_logo{
    display: block;
    width: 50px;
    height: 35px;
  }
  #cart_edit_button{
    display: block;
    background: none;
    color: #fff;
    border: none;
    outline: none
  }
  #cart_edit_button svg{
    width: 30px;
    height: 30px
  }
  .close_in_checkout{display: none}
  .close_cart{
    display: block;
  }
  .checkout_right_block.show{right: 0}
  .checkout_left_block .checkout_center .checkout_content label {
    width: 45%;
  }
  .checkout_left_block {
    padding: 0;
  }
  .checkout_left_block .checkout_title {
    margin-bottom: 20px;
    padding: 20px 30px;
  }

  .checkout_left_block .checkout_content,
  .checkout_left_block .checkout_step{
    padding: 5px 30px;
  }

  .checkout_left_block .checkout_center {
    margin-left: 0;
  }

  .dropdown_mobile {
    display: block;
    transition: 0.3s
  }

  .close_in_checkout {
    color: #fff;
    position: absolute;
    top: 19px;
    right: 20px;
  }
  .close_in_checkout:hover {
    color: #fff;
    opacity: 1
  }

  .dropdown_mobile.show {
    transform: rotate(180deg);
  }
  .button_step_back a {
    font-size: 15px
  }
}
@media screen and (max-width: 768px) {
  .checkout_step {
    display: none;
  }
  .nobs-tooltip {
    width: 95%;
    right: auto;
    left: 1rem;
    bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .checkout_title h1, .title,.checkout_left_block .checkout_center .checkout_content h2,
  .checkout_left_block .checkout_center .checkout_content h3{
    font-size: 17px
  }
  .checkout_buttons{
    padding:0;
    margin-top: 0;
  }
  .checkout_left_block .checkout_title{
    padding: 15px 20px;
    margin-bottom: 10px;
  }
  .checkout_left_block .checkout_center .checkout_content label {
    width: 100%;
  }
  .checkout_left_block .checkout_center .with_register {
    margin-top: 30px;
  }
  .small_logo{
    display: block;
    width: 30px;
    height: 25px;
  }
  #cart_edit_button svg{
    width: 20px;
    height: 20px
  }
  .checkout_right_block .close, .checkout_right_block .close span,
  .checkout_right_block .checkout_prod_block .checkout_product_item .product_delete,
  .checkout_right_block .checkout_prod_block .checkout_product_item .product_delete i{font-size: 13px!important;}
}
@media screen and (max-width: 469px) {
  #shipping_method .shipping_item .shipping_info,
  #payment_method .shipping_item .shipping_info,
  #shipping_method .payment_item .shipping_info,
  #payment_method .payment_item .shipping_info,
  #shipping_method .shipping_item .payment_info,
  #payment_method .shipping_item .payment_info,
  #shipping_method .payment_item .payment_info,
  #payment_method .payment_item .payment_info{
    margin: 0;
    width: 100%
  }
  #shipping_method .shipping_item .shipping_name,
  #payment_method .shipping_item .shipping_name,
  #shipping_method .payment_item .shipping_name,
  #payment_method .payment_item .shipping_name,
  #shipping_method .shipping_item .payment_name,
  #payment_method .shipping_item .payment_name,
  #shipping_method .payment_item .payment_name,
  #payment_method .payment_item .payment_name{
    padding-left: 5px;
  }
  #shipping_method .shipping_item .shipping_cost,
  #payment_method .shipping_item .shipping_cost,
  #shipping_method .payment_item .shipping_cost,
  #payment_method .payment_item .shipping_cost,
  #shipping_method .shipping_item .payment_cost,
  #payment_method .shipping_item .payment_cost,
  #shipping_method .payment_item .payment_cost,
  #payment_method .payment_item .payment_cost{
    font-size: 12px;
  }
  .checkout_title h1, .title{
    font-size: 15px
  }
  .button_step_back,.button_order{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  #step_confirm .button_order, #step_ .button_order{
    font-size: 16px;
    padding: 5px;
  }
}
