*{
    font-family: Arial;
}

@font-face {
    font-family: 'helvetica_bold';
    src: url('../fonts/helvetica_neucyr_bold.eot');
    src: url('../fonts/helvetica_neucyr_bold.woff') format('woff'),
     url('../fonts/helvetica_neucyr_bold.woff2') format('woff2'),
     url('../fonts/helvetica_neucyr_bold.svg') format('svg'),
     url('../fonts/helvetica_neucyr_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 100%;
    background: url(../images/letter_bg.jpg);
}

.container {
    width: 580px;
    margin: 0 auto;
    background: #fff;
}

header {
    background: url(../images/header_bg.jpg) 0 0 no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}

table {
    font-family: 'helvetica_bold';
}

.header_link {
    font-family: 'helvetica_bold', Arial;
    font-size: 16px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#fff, #fae7a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 20px;
    left: 200px;
    display: block;
    font-weight: bold;
}

.header_link:hover {
    opacity: 0.5 all;
    transition: 0.3s;
}

.greeting {
    padding: 22px 24px 10px;
}

.dear_client {
    font-family: 'helvetica_bold', Arial;
    font-size: 30px;
    color: #000;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.checkout {
    font-family: 'helvetica_bold', Arial;
    font-size: 18px;
    color: #444;
    display: block;
    margin-bottom: 10px;
}

.num {
    color: #003c7a;
    display: inline-block;
}

.table_title {
    font-family: 'helvetica_bold', Arial;
    font-size: 18px;
    color: #003c7a;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}

.pad_l {
    padding-left: 25px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg tbody {
    border-bottom: 1px solid #f7f7f7;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-utw5 {
    font-weight: bold;
    font-size: 18px;
    background-color: #f3f4f4;
    border: none;
    border-top: 1px solid #003f80;
    text-align: left;
}

.result {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
}

.result td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.result th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.result .tg-jr4o {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}

.result .tg-uy9o {
    font-size: 14px;
    width: 120px;
    text-align: left;
}

.result .tg-wjjn {
    font-weight: bold;
    font-size: 14px;
    color: #003c7a;
    text-align: right;
    vertical-align: top;
}

.result .tg-787n {
    font-size: 14px;
    font-weight: bold;
    color: #003c7a;
    vertical-align: top;
    width: 120px;
    text-align: left;
}

.orderer_info {
    font-family: 'helvetica_bold', Arial;
    padding: 22px 24px 10px;
}

.orderer_info .email {
    text-decoration: underline;
    color: inherit;
}

.shipping {}

tr td:nth-child(1) {
    padding-left: 25px;
}

tr th:nth-child(1) {
    padding-left: 25px;
}

.shipping_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shipping_table tbody {
    border-top: 1px solid #003f80;
}

.shipping_table td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.shipping_table th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.shipping_table .tg-ecrz {
    font-size: 14px;
    vertical-align: top;
}

.shipping_table .tg-nrw8 {
    font-size: 14px;
    text-align: left;
}

.shipping_table tr td:nth-child(2) {
    width: 400px;
}

.shipping_table tr th:nth-child(2) {
    width: 400px;
}

.paying {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 10px;
}

.paying tbody {
    border-top: 1px solid #003f80;
}

.paying td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.paying th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    text-align: left;
}

.paying tr th:nth-child(1){
	padding-left: 25px;
}

.paying tr td:nth-child(1){
	padding-left: 25px;
}

.other_info{
    padding: 22px 24px 10px;
    font-family: 'helvetica_bold', Arial;
}

.socials{
	text-align: center;
	list-style: none;
}

.socials a{
	display: block;
	height: 34px;
	width: 35px;
	background: url(../images/social_sprite.png) 0 0 no-repeat;
}

.socials li{
	display: inline-block;
}

.socials span{
	display: block;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.necessary{
	color: red;
	font-size: 24px;
	font-weight: bold;		
}

.online_order{
	color: green;
	font-weight: bold;
}

.other_info_email{
	color: blue;
}

.other_info p {
	font-size: 14px;
}

.thanking{
	font-size: 16px;
}

.hot_line{
	text-decoration: none;
	color: #000;
}

a.vk{
	background-position: -35px 0;
	margin: 0 15px;
}

a.insta{
	background-position: -70px 0 ;
}