
<?php if($sorting_status == 1){ ?>
    <select id="input-sort" class="form-control" onchange="location = this.value;">
      <?php if(!isset($url_string)){ ?>
        <option selected value="<?php echo $sort_order_href; ?>"><?php echo $sort_order; ?></option>
      <?php }else{ ?>
      <option value="<?php echo $sort_order_href; ?>"><?php echo $sort_order; ?></option>
    <?php } ?>
        <?php foreach ($sortings as $key => $sorting) { ?>
        <?php  if( isset($url_string) && $url_string == $sorting){ ?>
            <option selected value="<?php echo $sorting; ?>"><?php echo $$key; ?></option>
        <?php  }else{ ?>
                <option value="<?php echo $sorting; ?>"><?php echo $$key; ?></option>
            <?php  } ?>
        <?php } ?>
    </select>
  <?php } ?>
