<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	 <!--[if !mso]><!-->
<meta http-equiv="X-Ua-Compatible" content="IE=edge">	 <!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="GENERaTOR" content="MSHTML 11.00.9600.18666">
<style type="text/css">
@media screen and (max-width: 360px){
    p{ font-size: 16px !important; }
    .container{width: 100%; max-width: 360px}
}
</style>
</head>
<body>
<div class="container" style="margin: -8px; width: 100%; background-image: url(https://lh3.googleusercontent.com/UsqbrlOa_jnS3Pzk-aXlKpgMOenwBu_p367U_xhmQnPfjSox8RdiG9BXZh-3XMQVwNh3q3nKVUNlrW5m_i3Goa7gLnC4sasubIKwjsHo8ueD7dCpPxwhBLPuDQThf08DH16FpPg-uaobIFis-cAf9tkc_EBm1v4M67QyMFSn7agv4gIgW2dPaaMaSBM-BTyNRk7nuEMebMCdhhsfmmv2zonrh4wIGZ-jfwa0P9yJQlS4mVKG-qQ8OqdIVstSXXgHigA76pmgEJvH3qy2QncOVg3czobPtzcrePCtFG3iTD-IXnDt4VaGr4fMI_MGwYDNFKlgE6ixZKQWYf9bqHTRkSSuj90R_u8Bk1j6IjUkGMrU3RHNzXvieD2gOqL3r1gnVrg1_fMRlLw8xQaNIRQMYF4wOACMSsZXCrjO8lsEnlSxzsgwEDlRsNnlqIpA9v48FIFgnon_cw4Vqm-AtZDGcG3fqnkK_EctpF5wvMUbaPIzSEEqkYB9zRKYqyCPuRsokExTeXiIoyRs3mWEShXZMtJBNUm_D4pxXkqICBBcSbanD6jgf29AaQcHVxbGH77kj0Iq5rH0Z-pAd9V6wUMTzl2bpacRa2CzX2kESKLD5YU7mUdn4wTqFEKV=w1298-h950-no); ">
	<center>
		<table border="0" cellpadding="0" cellspacing="0" style="width: 95%; max-width: 600px; font-size: 18px; font-family: Arial, Arial, Helvetica, sans-serif;">
			<tbody>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; padding: 0 10px; background-color: #82b523">
							<tbody>
								<tr>
									<td style="width: 100%;max-width: 600px">
										<a href="<?php echo $store_url; ?>" style="text-decoration: none;" target="_blank"><img style="" src="https://bit.ly/2wV9Nhw" alt=""></a>
									</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" style="background-color: #FFFFFF;width: 100%; max-width: 600px; padding: 10px">
							<tbody>
								<tr>
									<td>
										<p style="font-size: 20px"><?=$text_greeting?></p>
                    <?php foreach ($text_main as $text) { ?>
                      <p style="font-size: 20px"><?=$text?></p>
                    <?php } ?>
										<p style="font-size: 16px"><?=$text_note?></p>
									</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; padding-bottom: 50px; font-family: Arial, Arial, Helvetica, sans-serif; ">
							<tbody>
								<tr>
									<td style="width: 100%; text-align: center;">
										<a href="<?php echo $store_url; ?>" target="_blank" style="text-decoration: none;"><p style="color: #656464">© Errors seeds сувениры из Европы 2009-2018</p>
									</td>
								</tr>
								<tr>
									<td style="width: 100%;">
										<center>
                      <div>
                        <a href="https://www.facebook.com/esuacom/" style="text-decoration:none;display:inline-block;width:50px" target="_blank">
                          <img src="https://bit.ly/2wADhAX" alt="facebook" style="padding:5px; width:30px">
                        </a>
                        <a href="https://www.instagram.com/errorsseeds_ua/" style="text-decoration:none;display:inline-block;width:50px" target="_blank">
                          <img src="https://bit.ly/2MHJeXB" alt="instagram" style="padding:5px;  width:30px">
                        </a>
                      </div>
										</center>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</div>
</body>
</html>
