/**
* @version     1.0
* @module      Product 3D/360 Viewer for OpenCart
* @author      AJAX-ZOOM
* @copyright   Copyright (C) 2016 AJAX-ZOOM. All rights reserved.
* @license     http://www.ajax-zoom.com/index.php?cid=download
*/

#message {
	display: none;
	position: fixed;
	right: 3px;
	top: 3px;
	z-index: 2000;
}

.save-require {
	background-color: yellow !important;
	background: yellow !important;
	color: #999999;
}
.save-require:hover {
	background-color: #00aff0 !important;
}
.pull-right {
	float: right;
}
#pairRows input, #pairRows textarea{
	margin-bottom: 3px;
}

#pairRows textarea{
	resize:vertical;
}

#imageTableSets {
	width: 100%;
}
#product-tab-content-ModuleAjaxzoom .row{
	background: none;
}
.form-group {
	padding: 5px;
}

#product-images360sets {
	padding: 10px;
}