/**
* @version     1.0
* @module      Product 3D/360 Viewer for OpenCart
* @author      AJAX-ZOOM
* @copyright   Copyright (C) 2016 AJAX-ZOOM. All rights reserved.
* @license     http://www.ajax-zoom.com/index.php?cid=download
*/

#message {
    position: absolute !important;
    color: green; font-weight: bold;
}

button.button, div.button {
    border: 0px;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    background: #003A88;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.list thead td {
    line-height: 25px;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.ajaxzoom-content {
    background: none !important;
}

.ajaxzoom-content .box > .content {
    border: 0 !important;
}