
  <label for="cart_block" class="cart_block menu_item">
      <div class="cpt_shopping_cart_info">
        <svg viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.92639 2.47358H1.46323C0.966176 2.47358 0.563232 2.07064 0.563232 1.57358C0.563232 1.07653 0.966176 0.673584 1.46323 0.673584H1.92639C3.51011 0.673584 4.80739 1.77545 5.13303 3.39616L5.14164 3.45609H19.9982C21.4661 3.45609 22.58 4.73418 22.3933 6.21235L21.6833 10.8581C21.2253 12.6732 19.6822 13.9475 17.8001 13.9475H6.64857L6.88394 15.5862C6.9429 16.112 7.43712 16.5076 8.07376 16.5076H19.6527C20.1498 16.5076 20.5527 16.9105 20.5527 17.4076C20.5527 17.9047 20.1498 18.3076 19.6527 18.3076H8.07376C6.56002 18.3076 5.26125 17.2681 5.0987 15.8145L4.83069 13.9475H4.82863L4.29024 10.1826L3.35997 3.70221C3.20982 2.95828 2.63917 2.47358 1.92639 2.47358ZM6.39003 12.1475H17.8001C18.8358 12.1475 19.6768 11.4531 19.9208 10.5028L20.6106 5.96454C20.6592 5.57907 20.3777 5.25609 19.9982 5.25609H5.40404L6.27774 11.3658L6.39003 12.1475Z" fill="white"/>
          <path d="M17.1053 23.0611C18.0645 23.0611 18.8421 22.2905 18.8421 21.34C18.8421 20.3895 18.0645 19.6189 17.1053 19.6189C16.146 19.6189 15.3684 20.3895 15.3684 21.34C15.3684 22.2905 16.146 23.0611 17.1053 23.0611Z" fill="#fff"/>
          <path d="M8.26321 23.0611C9.22244 23.0611 10.0001 22.2905 10.0001 21.34C10.0001 20.3895 9.22244 19.6189 8.26321 19.6189C7.30398 19.6189 6.52637 20.3895 6.52637 21.34C6.52637 22.2905 7.30398 23.0611 8.26321 23.0611Z" fill="#fff"/>
        </svg>
        <?php if($cart_count){ ?>
          <div id="shpcrtga">
            <?php echo $cart_count; ?>
          </div>
          <?php } ?>
      </div>
  </label>
  <input class="cart_block" name="cart_block" id="cart_block" type="checkbox" <?php if($cart_is_open) { ?>checked<?php } ?>>
  <?php if ($cart_popup) { ?>
    <div id="cart">
      <?php echo $cart_popup; ?>
    </div>
  <?php } ?>
