<?php echo $header; ?>
<div class="slider_top container">
    <?php echo $content_top; ?>
</div>
<div class="container home">
  <div class="main_content_text">
    <?php echo $column_left; ?>
      <?php echo $column_right; ?>
  </div>  
</div>
<?php echo $content_bottom; ?>
<?php echo $footer; ?>
