.eventCalendar-hidden {
	display: none;
}
.eventCalendar-wrap {
	position: relative;
	overflow: hidden;
}
.eventCalendar-arrow {
	position: absolute;
	z-index: 5;
	top: 3px;
}
.eventCalendar-prev {
	left: 3px;
}
.eventCalendar-next {
	right: 3px;
}
.eventCalendar-monthTitle {
	display: block;
	text-align: center;
}
.eventCalendar-monthWrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.eventCalendar-currentMonth {
	z-index: 1;
}
.eventCalendar-daysList {
	display: table;
	width: 100%}
.eventCalendar-showAsWeek {
	display: block;
}
.eventCalendar-daysList li {
	display: table-cell;
}
.eventCalendar-dayWithEvents {
	background: rgba(0, 0, 0, .15);
}
.eventCalendar-current {
	background: rgba(0, 0, 0, .35);
}
.eventCalendar-showAsWeek li {
	display: block;
	float: left;
	width: 14.28%;
	height: 20px;
}
.eventCalendar-daysList a {
	padding: 0;
	display: block;
	text-align: center;
	font-size: 8px;
	min-width: 7px;
}
.eventCalendar-loading {
	display: block;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
}
.eventCalendar-list {
	position: relative;
	z-index: 1;
}
.eventCalendar-oldEventList {
	z-index: 2;
}
.eventCalendar-subtitle {
	padding-left: 0;
	font-size: 120%}
@media screen and (max-height:820px) {
	#special_calendar {
		width: 500px;
		left: -500px;
		top: 200px;
	}
}.security_content {
	 height: 500px;
 }
.eventCalendar-monthWrap.eventCalendar-currentMonth {
	width: auto;
}
.eventCalendar-list time small {
	display: none;
}
.eventCalendar-list {
	/*display: flex;*/
	/*justify-content: space-between;*/
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.eventCalendar-slider {
	height: 227px!important;
}
#special_calendar .security_button:hover {
	right: -200px;
}
#special_calendar .security_button {
	position: absolute;
	transition: .3s;
	top: 0;
	right: -85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 600;
	width: 200px;
	fill: #fff;
	background: #b12525;
	border-radius: 0 3px 3px 0;
	padding: 20px;
	cursor: pointer;
}
#special_calendar .security_button>span {
	color: #fff;
	font-size: 14px;
}
#special_calendar .security_button svg {
	width: 45px;
}
#special_calendar.open {
	left: 0;
}
#eventCalendar {
	width: auto;
}
.eventCalendar-list-wrap {
	padding: 15px;
}
body .eventCalendar-currentTitle {
	background-color: #b12525;
	outline: 1px solid #b12525;
}
body .eventCalendar-daysList li.eventCalendar-dayWithEvents a {
	background: #b12525;
}
#special_calendar {
	position: fixed;
	top: 100px;
	left: -500px;
	z-index: 4000;
	background: #0f0e0f;
	width: 500px;
	padding: 15px;
	transition: .3s;
	padding-left: 0;
	padding-right: 0;
}
.eventCalendar-wrap {
	border: none;
	margin-bottom: 20px;
	margin-top: -20px;
	background-color: #0f0e0f;
	color: #ffffff;
}
#special_calendar.open .security_button {
	z-index: -1;
}
.eventCalendar-wrap .eventCalendar-arrow {
	text-decoration: none;
	color: #fff;
	padding: 0 5px;
	line-height: 28px;
	top: -6px;
	padding: 18px 10px;
}
.eventCalendar-wrap .eventCalendar-arrow:hover {
	opacity: .7;
}
.eventCalendar-wrap .eventCalendar-arrow span {
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
	float: left;
	text-indent: -5000px;
}
.eventCalendar-wrap .eventCalendar-arrow.eventCalendar-prev span {
	border-left-width: 0;
	border-right: 6px solid #fff;
}
.eventCalendar-slider {
	height: 80px;
}
.eventCalendar-monthWrap {
	top: 0;
	left: 0;
}
.eventCalendar-currentTitle {
	line-height: 35px;
	background-color: #33a7b5;
	outline: 1px solid #33a7b5;
}
.eventCalendar-currentTitle .eventCalendar-monthTitle {
	font-size: 120%;
	text-decoration: none;
	color: #fff;
}
.eventCalendar-wrap {
	top: 5px;
}
.eventCalendar-daysList {
	zoom: 1;
	padding: 0;
	width: 100%}
.eventCalendar-daysList.eventCalendar-showAsWeek {
	margin: 10px 0;
	width: auto;
	border-bottom-width: 0;
	border-radius: 0;
	background-color: #0f0e0f;
}
.eventCalendar-daysList.showDayNames.eventCalendar-showAsWeek {
	border-radius: none;
}
.eventCalendar-daysList:after, .eventCalendar-daysList:before {
	content: "";
	display: table;
}
.eventCalendar-daysList:after {
	clear: both;
}
.eventCalendar-day-header {
	text-transform: lowercase;
	text-align: center;
	font-size: 15px;
	border-bottom: solid 1px #e3e3e3;
	background: #84bc0d;
	color: black;
}
.eventCalendar-daysList.eventCalendar-showAsWeek li {
	height: auto;
	margin: 0;
}
.eventCalendar-daysList.eventCalendar-showAsWeek li.eventCalendar-empty {
	background-color: #0f0e0f;
	min-height: 29px;
}
.eventCalendar-day a {
	text-decoration: none;
	font-size: 10px;
	color: #424242;
}
.eventCalendar-day {
	border-left: none;
}
.eventCalendar-day a {
	border: none;
}
.eventCalendar-showAsWeek .eventCalendar-day {
	border-left-width: 0;
	background: #0f0e0f;
	color: #fff;
}
.eventCalendar-showAsWeek .eventCalendar-day a {
	border: solid 1px #e3e3e3;
	border-color: #fff #e3e3e3 #e3e3e3 #e3e3e3;
	line-height: 27px;
	font-size: 12px;
	color: #fff;
}
.eventCalendar-day a:hover {
	background-color: #7a7777;
}
.eventCalendar-daysList li.today a {
	color: #fff;
	background: #84bc0d;
}
li.eventCalendar-day.today a:hover {
	background-color: #9cdce4;
}
.eventCalendar-daysList li.eventCalendar-dayWithEvents a {
	background: #f77a11;
	color: #fff;
}
li.eventCalendar-day.eventCalendar-dayWithEvents a:hover {
	background-color: #f9a45d;
}
.eventCalendar-daysList li.current a {
	color: #fff;
	background: #449fb2;
}
li.eventCalendar-day.current a:hover {
	background-color: #79bdcc;
}
.eventCalendar-loading {
	margin: 0 auto;
	padding: 0;
	background-color: #ccc;
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 4;
	top: 38px;
	left: 0;
}
.eventCalendar-loading.error {
	background-color: red;
}
.eventCalendar-subtitle {
	padding-top: 10px;
}
.eventCalendar-list-wrap {
	min-height: 100px;
	position: relative;
}
.eventCalendar-list-content.scrollable {
	height: 100px;
	overflow-y: auto;
	margin: 0 5px 5px 0;
}
.eventCalendar-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.eventCalendar-list li {
	padding: 0 0 5px;
	margin: 0;
	margin-bottom: 20px;
	clear: both;
	border-bottom: 1px dashed #84bc0d;
}
.eventCalendar-list li time {
	font-size: 11px;
	line-height: 15px;
}
.eventCalendar-list li time em {
	float: left;
	font-style: normal;
	background-color: #84bc0d;
	color: #fff;
	padding: 2px 5px;
}
.eventCalendar-list li time small {
	font-size: 11px;
	float: left;
	background-color: #f77a11;
	color: #fff;
	padding: 2px 5px;
	margin: 0 0 0 3px;
}
.eventCalendar-list li .eventCalendar-eventTitle {
	display: block;
	clear: both;
	font-size: 150%;
	text-decoration: none;
}
.eventCalendar-list li a.eventCalendar-eventTitle {
	color: #33a7b5;
}
.eventCalendar-list li a.eventCalendar-eventTitle:hover {
	text-decoration: underline;
}
.eventCalendar-list li .eventDesc {
	clear: both;
	margin: 0 0 5px;
	font-size: 80%;
	line-height: 1.2em;
}
.eventCalendar-list .eventCalendar-noEvents {
	font-size: 120%;
	padding: 5px;
	background-color: #f77a11;
	border-bottom: none;
	color: #fff;
	text-align: center;
}
.bt {
	font-size: 15px;
	display: block;
	clear: both;
	text-align: center;
	margin-top: 10px;
	padding: 11px 34px 12px;
	text-decoration: none;
	line-height: 1;
	color: #fff!important;
	background-color: #33a7b5;
	text-shadow: none;
	box-shadow: none;
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	-ms-transition: .1s linear all;
	-o-transition: .1s linear all;
	transition: .1s linear all;
}
.bt:hover {
	background-color: #f77a11;
	text-decoration: none;
}
body #pesky-product.slideOutLeft {
	left: -100%}
body #pesky-product.slideInLeft {
	left: 0;
}
.eventCalendar-list-wrap
{
	max-width: 500px;
}
.eventCalendar-list-wrap .image_cl
{
	background-size: contain;
	height: 100px;
	margin: 0 auto;
	max-width: 300px;
	background-repeat: no-repeat;
}
.eventCalendar-list
{
	max-height: 400px;
	overflow-y: auto;

}
/*.eventCalendar-list li:nth-child(1),*/
/*.eventCalendar-list li:nth-child(2),*/
/*.eventCalendar-list li:nth-child(3)*/
/*{*/
/*	width: 40%;*/
/*}*/



#special_calendar ::-webkit-scrollbar {
	width: 10px;
	background-color: #f9f9fd;
}

#special_calendar ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #63b800;
}

#special_calendar ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #f9f9fd;
}
