<?php echo $header; ?>
<div class="slider_top container">
  <?php echo $content_top; ?>
</div>
<div class="container category">
  <div class="back-cat ">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php if (isset($breadcrumb['href'])) { ?>
    <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text'] . ' <i class="fas fa-chevron-right"></i> '; ?></a></li>
    <?php } else { echo $breadcrumb['text'] . '  '; }
      } ?>
  </div>
  <div class="main_content_text">
    <?php if ($description) { ?>
    <div class="toggle_xs">
      <div class="category_content">
        <?php if ($image_2) { ?>
        <img src="<?php echo $image_2; ?>" alt="<?php echo $category_name; ?>">
        <?php } ?>
        <?php echo $description; ?>
      </div>
    </div>
    <span class="show_all"><?php echo $full_text; ?> <i class="fas fa-chevron-down"></i></span>
    <?php } ?>
    <div>
      <div class="cpt_maincontent">
        <div class="d-flex flex-row justify-content-between">
          <div class="search_result">
            <?php if ($products) { ?>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <div id="cat_product_sort" class="d-flex flex-row  align-items-center">
                <?php echo $column_left; ?>
              </div>
              <div class="radio_plitka" data-filter-data='<?php echo $filter_data; ?>'>
                <span class="bg_plitka_icon" id="plitka_icon"><i class="fas fa-th-large"></i></span>
                <span class="bg_plitka_icon" id="spisok_icon"><i class="fas fa-th-list"></i></span>
              </div>
            </div>
            <div id="products"><?php echo $products; ?></div>
            <?php } else { ?>
            <div class="d-flex justify-content-center mb-3">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 72" style="enable-background:new 0 0 100 72;width: 50%;max-width: 350px;" xml:space="preserve">
                <style type="text/css">
                  .empty_search0 {
                    fill-opacity: 0;
                  }

                  .empty_search1 {
                    opacity: 6.000000e-002;
                    fill: #9BB7CE;
                    enable-background: new;
                  }

                  .empty_search2 {
                    fill: #A2D855;
                  }

                  .empty_search3 {
                    fill: #65BD00;
                  }

                  .empty_search4 {
                    fill: #FFFFFF;
                  }

                  .empty_search5 {
                    fill: none;
                    stroke: #65BD00;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .empty_search6 {
                    fill: #C9F688;
                  }

                  .empty_search7 {
                    fill: none;
                    stroke: #65BD00;
                    stroke-width: 2.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .empty_search8 {
                    fill: none;
                    stroke: #FFFFFF;
                    stroke-width: 2.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g transform="translate(-185.000000, -1426.000000)">
                  <g transform="translate(26.000000, 961.000000)">
                    <g transform="translate(150.000000, 465.000000)">
                      <g transform="translate(4.000000, 0.000000)">
                        <rect x="0.2" y="1.1" class="empty_search0" width="110" height="77" />
                        <path class="empty_search1" d="M10.4,24.2c4.2-8.5,12.2-15.7,21.5-19.6c7-3,18.4-3.4,24.4,2.9c9.1,9.5,5.2,26,1,36.8
					C53.3,54.4,43,66,29.9,68.1c-0.1,0-0.2,0-0.4,0.1c-7.4,1.2-15.3-1.2-19.9-7.5C2.3,50.7,5.3,34.6,10.4,24.2z" />
                        <path class="empty_search1" d="M81.5,18.5c0.6-2.3,1.9-4.4,3.6-6.1c3.5-3.2,8.4-3.2,12.7-1.6c8.2,3.1,9.1,15.2,2.7,20.6
					c-3.4,2.9-8.7,2.8-12.6,1.1C82.8,30.3,80,23.8,81.5,18.5z" />
                        <circle class="empty_search2" cx="100.4" cy="22.7" r="2.6" />
                        <circle class="empty_search2" cx="37.5" cy="2.5" r="1.4" />
                        <circle class="empty_search3" cx="46.8" cy="15.6" r="1.5" />
                        <path class="empty_search2" d="M29.3,13c0,0.1-0.1,0.2-0.2,0.3c-0.8,0.2-1.6,0.4-2.3,0.8c-0.7,0.4-1.2,0.9-1.8,1.6
					c-0.7,1-1.1,2.1-1.4,3.3c0,0.1-0.1,0.2-0.3,0.2c-0.1,0-0.2-0.1-0.3-0.2c-0.5-3-2.3-5.1-5.4-5.6c-0.1,0-0.3-0.1-0.3-0.3
					c0-0.1,0.1-0.3,0.3-0.3c3.1-0.5,4.8-2.7,5.4-5.7c0-0.1,0.1-0.2,0.3-0.2c0.1,0,0.2,0.1,0.3,0.2c0.2,1.2,0.7,2.4,1.4,3.4
					c0.7,1,1.8,1.7,2.9,2c0.4,0.1,0.7,0.2,1.1,0.3C29.3,12.8,29.4,12.9,29.3,13z" />
                        <path class="empty_search3" d="M29.3,13c0,0.1-0.1,0.2-0.2,0.3c-0.8,0.2-1.6,0.4-2.3,0.8c-0.7,0.4-1.2,0.9-1.8,1.6
					c-0.4-0.7-1.1-1.4-1.7-1.9c-0.1-0.1-0.2-0.2-0.3-0.2c-0.5-0.4-0.4-0.5,0.2-0.9c0.8-0.5,1.4-1.2,1.9-2c0.7,1,1.8,1.7,2.9,2
					c0.4,0.1,0.7,0.2,1.1,0.3C29.3,12.8,29.4,12.9,29.3,13z" />
                        <circle class="empty_search2" cx="97.3" cy="2.5" r="1.4" />
                        <path class="empty_search2" d="M87.2,13c0,0.1-0.1,0.1-0.1,0.2c-0.5,0.1-1.1,0.3-1.5,0.5c-0.5,0.2-0.8,0.6-1.2,1.1
					c-0.5,0.6-0.8,1.4-0.9,2.2c0,0.1-0.1,0.1-0.2,0.1S83.2,17,83.1,17c-0.4-2-1.5-3.4-3.6-3.8c-0.1,0-0.2-0.1-0.2-0.2
					c0-0.1,0.1-0.2,0.2-0.2c2.1-0.4,3.2-1.8,3.6-3.8c0-0.1,0.1-0.1,0.2-0.1S83.4,9,83.5,9c0.1,0.8,0.5,1.6,0.9,2.3
					c0.5,0.6,1.2,1.1,1.9,1.4c0.2,0.1,0.5,0.1,0.7,0.2C87.2,12.9,87.3,12.9,87.2,13z" />
                        <path class="empty_search3" d="M87.2,13c0,0.1-0.1,0.1-0.1,0.2c-0.5,0.1-1.1,0.3-1.5,0.5c-0.5,0.2-0.8,0.6-1.2,1.1
					c-0.3-0.5-0.7-0.9-1.1-1.3c-0.1-0.1-0.1-0.1-0.2-0.1c-0.4-0.2-0.3-0.4,0.1-0.6c0.5-0.4,0.9-0.8,1.2-1.4c0.5,0.6,1.2,1.1,1.9,1.4
					c0.2,0.1,0.5,0.1,0.7,0.2C87.2,12.9,87.3,12.9,87.2,13z" />
                        <path class="empty_search1" d="M95.4,70.5H62.5c-9.1,0-11.2-13.4-7.7-19.7c2.2-3.8,5.4-7,9.1-9.4c4.7-3,10.6-4,16.1-4.4
					c4.6-0.4,9.6-0.1,13.8,2.1c10.5,5.5,8.6,18.6,4,27.4C97.1,67.8,96.3,69.2,95.4,70.5z" />
                      </g>
                    </g>
                  </g>
                </g>
                <g>
                  <path class="empty_search4" d="M83.2,68.9L73.3,59c-1-1-1.9-1.7-0.7-2.9s1.9-0.3,2.9,0.7l9.9,9.9c1,1,1.5,2,0.7,2.9
		C85.2,70.5,84.2,69.9,83.2,68.9z" />
                </g>
                <g>
                  <path class="empty_search5" d="M35.1,45.1c-1.4,1.1-3.1,1.6-6.4,1.6c-3.3-0.1-3.4-0.7-3.4-0.7s0.2-0.5-0.3-2.6s-1.8-2.6-1.8-2.6
		c1-4.4,3-5.5,4.2-5.8" />
                  <path class="empty_search6" d="M38.2,50.4c-0.8,0.3-1.8,0.5-2.7,0.6c-0.7,0.1-1.4,0.1-2,0.1c-0.4,0-0.8,0-1.1,0c-0.6,0-1.1,0.1-1.7,0.1
		c-1.7,0.1-3.4,0.3-4.9-0.1c-1.9-0.5-3.9-1.4-5.3-2.6c-0.6-0.5-1.1-1-1.5-1.6c-0.5-0.8-0.7-1.6-0.6-2.4c0.2-1.3,0.6-2.5,0.9-4
		l0.2-0.6c0.7-2.5,1.4-5,3-7.2c0.8-1.1,1.8-2.1,3.1-3.1c1.3-1,2.8-2.2,4.5-2.9c1.4-0.6,2.9-1.1,4.8-1.5c0.3-0.1,0.7-0.1,1.1-0.2
		c1.1-0.2,2.3-0.5,3.3-0.5c1.4,0,2.7,0.2,4,0.4c0.2,0,0.4,0.1,0.6,0.1c0.6,0.1,1.2,0.3,1.8,0.5l2-1.5c-0.4-0.1-0.7-0.2-1.1-0.3l0,0
		c-0.3-0.1-0.6-0.2-0.9-0.3c-0.7-0.2-1.5-0.3-2.2-0.4C43.3,23,43,23,42.8,23c-1.7-0.3-3.3-0.5-5.2-0.2l-0.2,0
		c-3.3,0.6-6.7,1.1-9.7,3C24.3,28,22,30,20.6,32.2c-1.6,2.5-2.3,5.2-3,7.8l0,0c-0.1,0.3-0.2,0.7-0.3,1.1c-0.6,1.9-1.2,4-0.5,5.7
		c0.2,0.5,0.5,1,0.8,1.5c2.2,3.4,6.9,5.4,11.8,5.1c0.7,0,1.4-0.1,2.1-0.1c2.3-0.1,4.6-0.2,7-0.9c0.1,0,0.2-0.1,0.3-0.1L38.2,50.4z" />
                </g>
                <g>
                  <path class="empty_search6" d="M62.4,27.8c0-0.6-0.1-1.2-0.4-1.8c-0.4-0.7-1.1-1.3-1.9-1.6c-0.6-0.2-1.1-0.4-1.7-0.5c-0.3-0.1-0.6-0.2-1-0.3
		c-0.4-0.1-0.7-0.2-1-0.4c-0.5-0.2-0.9-0.3-1.4-0.5c-0.4-0.1-0.8-0.3-1.3-0.4l-4.4,1.3c0.1,0,2.1,0.5,2.2,0.6c0.7,0.3,2.2,0.6,3,0.9
		c1.4,0.4,2.9,0.9,4.4,1.4c0.3,0.1,1.2,0.4,1.5,0.9c0,0.1,0.1,0.2,0,0.4c-0.2,0.8-0.4,1.6-0.5,2.4C59,34,58,37.3,56.9,40.2
		c-0.6,1.5-1.4,3.2-2.9,4.7c-1.1,1.1-2.5,2.4-4,3.5c-2.4,1.8-4.8,3.5-7.8,4.3c-0.4,0.1-0.8,0.2-1.3,0.3l0.5,2.3
		c2.3-0.6,4.2-1.3,5.7-2.2c1.3-0.8,2.6-1.7,3.7-2.6l0.4-0.3c1.8-1.4,4-3.2,5.5-5.1c1.4-1.8,2.2-3.9,2.7-5.6c0.4-1.2,0.7-2.5,1.1-3.7
		c0.2-0.9,0.5-1.8,0.7-2.6c0.3-0.9,0.5-1.8,0.6-2.7l0-0.2c0.1-0.3,0.1-0.5,0.2-0.8C62.2,29,62.4,28.4,62.4,27.8z" />
                  <path class="empty_search6" d="M41.3,55.7c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2l-0.5-2.3c0-0.2,0.1-0.3,0.2-0.4
		c0.4-0.1,0.9-0.2,1.2-0.3c3-0.8,5.3-2.5,7.7-4.3c1.5-1.2,2.9-2.4,4-3.5c1.5-1.4,2.3-3.1,2.9-4.6c1.1-2.8,2.1-6.1,2.8-10
		c0.2-0.9,0.3-1.6,0.5-2.5c0-0.1,0-0.1,0-0.2c-0.1-0.1-0.3-0.4-1.3-0.7c-1.5-0.5-2.9-1-4.4-1.4l-0.7-0.2c-0.8-0.2-1.8-0.5-2.3-0.7
		c-0.1,0-0.5-0.1-1-0.3c-1-0.3-1.1-0.3-1.1-0.3C49,23.9,49,23.7,49,23.6c0-0.1,0.1-0.2,0.2-0.3l4.4-1.3c0.1,0,0.1,0,0.2,0
		c0.4,0.2,0.8,0.3,1.2,0.4c0.5,0.1,1,0.3,1.4,0.5c0.4,0.1,0.7,0.3,1.1,0.4c0.3,0.1,0.6,0.2,0.9,0.3c0.6,0.2,1.2,0.3,1.7,0.5
		c0.9,0.4,1.6,1,2.1,1.8c0.3,0.6,0.5,1.3,0.4,1.9c0,0.6-0.2,1.2-0.3,1.8c-0.1,0.3-0.2,0.6-0.2,0.8l0,0.2c-0.2,0.9-0.4,1.8-0.6,2.8
		c-0.3,0.9-0.5,1.8-0.7,2.6c-0.3,1.3-0.7,2.5-1.1,3.7c-0.6,1.8-1.4,3.8-2.8,5.7c-1.5,2-3.7,3.8-5.5,5.2L51,50.9
		c-1.2,0.9-2.4,1.8-3.8,2.6C45.6,54.4,43.7,55.1,41.3,55.7C41.4,55.7,41.3,55.7,41.3,55.7z M41.2,53.3l0.3,1.7
		c2.1-0.5,3.9-1.2,5.3-2.1c1.3-0.8,2.5-1.7,3.7-2.6l0.4-0.3c1.8-1.3,4-3.1,5.4-5c1.4-1.8,2.1-3.8,2.7-5.5c0.4-1.2,0.7-2.5,1.1-3.7
		c0.2-0.9,0.5-1.8,0.7-2.7c0.3-0.9,0.5-1.9,0.6-2.7l0-0.2c0.1-0.3,0.1-0.5,0.2-0.8c0.1-0.5,0.3-1.1,0.3-1.6c0,0,0,0,0,0
		c0-0.6,0-1.1-0.3-1.6c-0.4-0.7-0.9-1.2-1.7-1.5c-0.5-0.2-1.1-0.4-1.6-0.5c-0.3-0.1-0.7-0.2-1-0.3c-0.4-0.1-0.7-0.2-1.1-0.4
		c-0.5-0.2-0.9-0.3-1.4-0.5c-0.4-0.1-0.8-0.3-1.2-0.4l-3.2,1c0.9,0.2,1.1,0.3,1.1,0.3c0.5,0.2,1.5,0.5,2.3,0.7l0.7,0.2
		c1.5,0.4,2.9,0.9,4.4,1.4c0.6,0.2,1.4,0.5,1.7,1c0.1,0.2,0.1,0.4,0.1,0.6c-0.2,0.8-0.4,1.6-0.5,2.4c-0.8,3.9-1.7,7.2-2.9,10.1
		c-0.6,1.5-1.4,3.3-3,4.8c-1.1,1.1-2.5,2.4-4.1,3.6c-2.4,1.8-4.9,3.5-7.9,4.4C41.9,53.1,41.6,53.2,41.2,53.3z" />
                </g>
                <path class="empty_search7" d="M53.4,32.2c-0.7,3.2-1,4.9-4.1,8.2c-2.6,2.7-6.4,4.9-6.4,4.9" />
                <path class="empty_search8" d="M66.2,61.6c-2.6,1.1-5.4,1.7-8.3,1.7C46,63.3,36.5,53.7,36.5,42S46,20.6,57.8,20.6S79.2,30.2,79.2,42
	c0,5.8-2.1,10.5-5.9,14.4" />
              </svg>
            </div>
            <div class="h3 text-center mb-5"><?php echo $text_empty; ?></div>
            <?php } ?>
          </div>
        </div>
        <div>
          <div class="navigator_product mb-3">
            <?php echo $pagination; ?>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<?php echo $content_bottom; ?>
<?php echo $footer; ?>
