<?php echo $header; ?>
<div class="slider_top container">
  <?php echo $content_top; ?>
</div>
<div class="container category">
  <div class="p-0">
    <div class="back-cat ">
      <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <?php if (isset($breadcrumb['href'])) { ?>
      <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text'] . ' <i class="fas fa-chevron-right"></i> '; ?></a></li>
      <?php } else { echo $breadcrumb['text'] . '  '; }
        } ?>
    </div>
    <div class="toggle_xs">
      <div class="category_content">
        <?php echo $text_special; ?>
      </div>
    </div>
    <span class="show_all"><?php echo $full_text; ?> <i class="fas fa-chevron-down"></i></span>
    <?php if ($products) { ?>
    <div class="cpt_maincontent">
      <div class="d-flex flex-row align-items-center justify-content-between mt-3 mb-3">
        <button type="button" id="filter_button">
            <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.01" x="0.5" y="0.5" width="15" height="15" fill="#0F0F0F" stroke="#979797"></rect>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.98918 14.5487V8.19077C5.98918 8.09963 5.95522 8.0121 5.89395 7.94531L0.804789 2.42463C0.127369 1.68864 0.649163 0.5 1.6488 0.5H14.2064C15.2057 0.5 15.7266 1.68977 15.0502 2.42487L9.96317 7.94467C9.90076 8.01327 9.86606 8.1022 9.86606 8.19221V12.1163C9.86606 12.3395 9.81307 12.5318 9.70489 12.7175C9.63285 12.8412 9.60491 12.8765 9.37455 13.1527L7.57496 15.2129C6.98561 15.7929 5.98918 15.375 5.98918 14.5487ZM6.63007 7.26845C6.86132 7.52011 6.98918 7.84932 6.98918 8.19077V14.3654L8.61371 12.5039C8.786 12.2972 8.81051 12.2661 8.84078 12.2142C8.86085 12.1797 8.86606 12.1608 8.86606 12.1163V8.19221C8.86606 7.85225 8.99428 7.52364 9.22566 7.26934L14.3146 1.74747C14.4013 1.65324 14.3342 1.5 14.2064 1.5H1.6488C1.52008 1.5 1.45316 1.65245 1.54031 1.74713L6.63007 7.26845Z" fill="#65BD00"></path>
            </svg>
             <?php echo $text_filter; ?>
          </button>
        <div id="cat_product_sort" class="d-flex flex-row  align-items-center">
          <?php echo $column_right; ?>
        </div>
        <div class="radio_plitka" data-filter-data='<?php echo $filter_data; ?>'>
          <span class="bg_plitka_icon" id="plitka_icon"><i class="fas fa-th-large"></i></span>
          <span class="bg_plitka_icon" id="spisok_icon"><i class="fas fa-th-list"></i></span>
        </div>
      </div>
      <div class="d-flex flex-row align-items-start mb-3">
        <div class="filter">
          <?php echo $column_left; ?>
        </div>
        <div id="products">
          <?php echo $products; ?>
        </div>
      </div>
      <div>
        <div class="navigator_product mb-3">
          <?php echo $pagination; ?>
        </div>
      </div>
    </div>
    <?php } else { ?>
      <div class="d-flex justify-content-center mb-3">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 72" style="enable-background:new 0 0 100 72;width: 50%;max-width: 350px;" xml:space="preserve">
        <style type="text/css">
        	.st0{fill-opacity:0;}
        	.st1{opacity:6.000000e-002;fill:#9BB7CE;enable-background:new    ;}
        	.st2{fill:#A2D855;}
        	.st3{fill:#65BD00;}
        	.st4{fill:#FFFFFF;}
        	.st5{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        	.st6{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        	.st7{fill:none;}
        	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        </style>
        <g transform="translate(-185.000000, -1426.000000)">
        	<g transform="translate(26.000000, 961.000000)">
        		<g transform="translate(150.000000, 465.000000)">
        			<g transform="translate(4.000000, 0.000000)">
        				<rect x="0.2" y="1.1" class="st0" width="110" height="77"/>
        				<path class="st1" d="M10.4,24.2c4.2-8.5,12.2-15.7,21.5-19.6c7-3,18.4-3.4,24.4,2.9c9.1,9.5,5.2,26,1,36.8
        					C53.3,54.4,43,66,29.9,68.1c-0.1,0-0.2,0-0.4,0.1c-7.4,1.2-15.3-1.2-19.9-7.5C2.3,50.7,5.3,34.6,10.4,24.2z"/>
        				<path class="st1" d="M81.5,18.5c0.6-2.3,1.9-4.4,3.6-6.1c3.5-3.2,8.4-3.2,12.7-1.6c8.2,3.1,9.1,15.2,2.7,20.6
        					c-3.4,2.9-8.7,2.8-12.6,1.1C82.8,30.3,80,23.8,81.5,18.5z"/>
        				<circle class="st2" cx="100.4" cy="22.7" r="2.6"/>
        				<circle class="st2" cx="37.5" cy="2.5" r="1.4"/>
        				<circle class="st3" cx="46.8" cy="15.6" r="1.5"/>
        				<path class="st2" d="M29.3,13c0,0.1-0.1,0.2-0.2,0.3c-0.8,0.2-1.6,0.4-2.3,0.8c-0.7,0.4-1.2,0.9-1.8,1.6
        					c-0.7,1-1.1,2.1-1.4,3.3c0,0.1-0.1,0.2-0.3,0.2c-0.1,0-0.2-0.1-0.3-0.2c-0.5-3-2.3-5.1-5.4-5.6c-0.1,0-0.3-0.1-0.3-0.3
        					c0-0.1,0.1-0.3,0.3-0.3c3.1-0.5,4.8-2.7,5.4-5.7c0-0.1,0.1-0.2,0.3-0.2c0.1,0,0.2,0.1,0.3,0.2c0.2,1.2,0.7,2.4,1.4,3.4
        					c0.7,1,1.8,1.7,2.9,2c0.4,0.1,0.7,0.2,1.1,0.3C29.3,12.8,29.4,12.9,29.3,13z"/>
        				<path class="st3" d="M29.3,13c0,0.1-0.1,0.2-0.2,0.3c-0.8,0.2-1.6,0.4-2.3,0.8c-0.7,0.4-1.2,0.9-1.8,1.6
        					c-0.4-0.7-1.1-1.4-1.7-1.9c-0.1-0.1-0.2-0.2-0.3-0.2c-0.5-0.4-0.4-0.5,0.2-0.9c0.8-0.5,1.4-1.2,1.9-2c0.7,1,1.8,1.7,2.9,2
        					c0.4,0.1,0.7,0.2,1.1,0.3C29.3,12.8,29.4,12.9,29.3,13z"/>
        				<circle class="st2" cx="97.3" cy="2.5" r="1.4"/>
        				<path class="st2" d="M87.2,13c0,0.1-0.1,0.1-0.1,0.2c-0.5,0.1-1.1,0.3-1.5,0.5c-0.5,0.2-0.8,0.6-1.2,1.1
        					c-0.5,0.6-0.8,1.4-0.9,2.2c0,0.1-0.1,0.1-0.2,0.1S83.2,17,83.1,17c-0.4-2-1.5-3.4-3.6-3.8c-0.1,0-0.2-0.1-0.2-0.2
        					c0-0.1,0.1-0.2,0.2-0.2c2.1-0.4,3.2-1.8,3.6-3.8c0-0.1,0.1-0.1,0.2-0.1S83.4,9,83.5,9c0.1,0.8,0.5,1.6,0.9,2.3
        					c0.5,0.6,1.2,1.1,1.9,1.4c0.2,0.1,0.5,0.1,0.7,0.2C87.2,12.9,87.3,12.9,87.2,13z"/>
        				<path class="st3" d="M87.2,13c0,0.1-0.1,0.1-0.1,0.2c-0.5,0.1-1.1,0.3-1.5,0.5c-0.5,0.2-0.8,0.6-1.2,1.1
        					c-0.3-0.5-0.7-0.9-1.1-1.3c-0.1-0.1-0.1-0.1-0.2-0.1c-0.4-0.2-0.3-0.4,0.1-0.6c0.5-0.4,0.9-0.8,1.2-1.4c0.5,0.6,1.2,1.1,1.9,1.4
        					c0.2,0.1,0.5,0.1,0.7,0.2C87.2,12.9,87.3,12.9,87.2,13z"/>
        				<path class="st1" d="M95.4,70.5H62.5c-9.1,0-11.2-13.4-7.7-19.7c2.2-3.8,5.4-7,9.1-9.4c4.7-3,10.6-4,16.1-4.4
        					c4.6-0.4,9.6-0.1,13.8,2.1c10.5,5.5,8.6,18.6,4,27.4C97.1,67.8,96.3,69.2,95.4,70.5z"/>
        			</g>
        		</g>
        	</g>
        </g>
        <g>
        	<path class="st4" d="M58.5,55.1c1.4-0.1,2.8,0.1,2.8,1.9c0,1.7-1.4,1.8-2.7,1.8c-1.4,0-2.8-0.2-2.8-2C55.8,55.2,57.2,55,58.5,55.1z
        		"/>
        	<line class="st5" x1="17" y1="57.5" x2="43" y2="57.5"/>
        	<line class="st6" x1="43" y1="57" x2="52" y2="57"/>
        </g>
        <g>
        	<path class="st7" d="M30.3,45.4c-0.3,1.2,0.5,1.9,2,1.9c2.1,0,3.9-1.2,4.6-3l-0.2-1.5l-0.2,0C32.8,43,30.7,43.7,30.3,45.4z"/>
        	<path class="st3" d="M22.8,35.6c-3.1,0-5.5,1.6-6.1,4c-0.6,2.7,1.9,3.3,3.7,3.8c2,0.5,3.2,0.7,2.9,2c-0.2,1.1-1.4,1.7-3.2,1.7
        		c-2.5,0-3.2-1.1-3.9-2c-0.3-0.4-1.1,0.4-1.3,1.2c-0.3,1.2,1.2,2.8,4.8,2.8c3.3,0,5.7-1.6,6.3-4c0.6-2.8-2-3.4-3.9-3.8
        		c-2-0.5-3.1-0.7-2.8-1.9c0.2-1.1,1.4-1.8,3.2-1.8c1.7,0,2.6,0.7,3.4,1.6c0.4,0.5,1.2-0.2,1.4-1C27.4,37.1,26.1,35.6,22.8,35.6z"/>
        	<path class="st3" d="M36.9,44.4c-0.7,1.8-2.5,3-4.6,3c-1.5,0-2.3-0.7-2-1.9c0.4-1.7,2.5-2.4,6.3-2.5l0.2,0l-0.2-1.7
        		c-5.3,0.1-8.2,1.4-8.9,4.3c-0.5,2.2,0.8,3.7,3.6,3.7c2,0,3.9-0.8,5.1-2.2c-0.3,1.6,0.2,2.1,1.2,2.1c0.1,0,0.1,0,0.2,0l-0.4-0.6
        		L36.9,44.4z"/>
        	<path class="st3" d="M35.9,35.7c-3.6,0-5.9,1.7-6.2,3.2c-0.3,1.3,1,1.4,1.4,1c1.2-1.2,2.2-2.1,4.1-2.1c0.8,0,1.4,0.2,1.8,0.5
        		l0.6-2.4C37.2,35.8,36.6,35.7,35.9,35.7z"/>
        </g>
        <g>
        	<path class="st7" d="M37,41c1.9-0.8,4.5-1.2,7.9-1.3l0.8,0l0.1-0.3c0.5-2.4-0.5-3.8-3-3.8c-2.3,0-3.6,1-5,2.4l-0.7,2.4L37,41z"/>
        	<path class="st7" d="M39.1,47.3c2.8,0,5.3-1.8,5.9-4.3l0.3-1.2l-0.9,0c-4.7,0.1-7.3,1-7.7,3.2l0.2,1.5C37.3,47,38,47.3,39.1,47.3z"
        		/>
        	<path class="st7" d="M68.6,35.6c-2.6,0-5.1,1.9-6.1,4.5l9.5,0.1C72.5,37.4,71.2,35.6,68.6,35.6z"/>
        	<path class="st3" d="M43.6,33c-1.9,0-3.4,0.4-4.6,0.9l-1.2,4.2c1.4-1.4,2.6-2.4,5-2.4c2.5,0,3.6,1.3,3,3.8l-0.1,0.3l-0.8,0
        		c-3.3,0-6,0.5-7.9,1.3l-0.4,4c0.5-2.2,3.1-3,7.7-3.2l0.9,0L45,43c-0.6,2.5-3,4.3-5.9,4.3c-1.1,0-1.9-0.3-2.2-0.9l0.5,3.2
        		c0.1,0,0.3,0,0.4,0c2.5,0,4.8-1,6.4-2.8c-0.4,2,0.3,2.6,1.4,2.6c0.6,0,1.2-0.2,1.4-0.8l2.1-9.3C50,35.3,48.1,33,43.6,33z"/>
        	<path class="st3" d="M57.7,26.9l-0.3,0c-0.9,0-1.5,0-1.8,1.2l-4.5,20.2c-0.3,1.2,0.4,1.2,1.2,1.2l0.3,0c0.9,0,1.5,0,1.7-1.2
        		l4.5-20.2C59.2,26.9,58.6,26.9,57.7,26.9z"/>
        	<path class="st3" d="M69.2,33.1c-4.7,0-9,3.6-10,8.4c-1.1,5,1.5,8.4,6.5,8.4c4.3,0,7.3-2.2,7.7-3.9c0.3-1.3-1-1.9-1.4-1.3
        		c-1.2,1.4-2.8,2.6-5.6,2.6c-3,0-4.7-2.1-4.3-5l11.7,0.1c0.8,0,1.1-0.3,1.2-1l0.1-0.3C76.1,36.4,73.8,33.1,69.2,33.1z M72.1,40.2
        		l-9.5-0.1c1-2.7,3.4-4.5,6.1-4.5C71.2,35.6,72.5,37.4,72.1,40.2z"/>
        </g>
        <g>
        	<g>
        		<path class="st4" d="M83.2,68.9L73.3,59c-1-1-1.9-1.7-0.7-2.9s1.9-0.3,2.9,0.7l9.9,9.9c1,1,1.5,2,0.7,2.9
        			C85.2,70.5,84.2,69.9,83.2,68.9z"/>
        	</g>
        	<path class="st8" d="M66.2,61.6c-2.6,1.1-5.4,1.7-8.3,1.7C46,63.3,36.5,53.7,36.5,42S46,20.6,57.8,20.6S79.2,30.2,79.2,42
        		c0,5.8-2.1,10.5-5.9,14.4"/>
        </g>
      </svg>
    </div>
    <div class="h3 text-center mb-5" style="color:#fff"><?php echo $text_empty; ?></div>
    <?php } ?>
  </div>
</div>
<?php echo $content_bottom; ?>
<?php echo $footer; ?>
