/* 
	Resets defualt browser settings
	reset.css
*/

/*
	Page Style
*/

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#frame {
	position:absolute;
	z-index:0;
	width:645px;
	height:341px;
	top:-3px;
	/*left:-80px;*/
	left:50px;
}

#example {
	float:left;
	margin-left:50px;
	width:645px;
	height:196px;
	position:relative;
	background:url(../images/bg_slide.jpg);
}

/*
	Slideshow style
*/

#slides {
	position:absolute;
	/*top:15px;*/
	/*left:4px;*/
	z-index:100;
	height:195px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	height:270px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	width:490px;
	height:196px;
	display:block;
	margin-left:70px;
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:55px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:614px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

/*div.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

div.pagination li.current a {
	background-position:0 -12px;
}

/*
	Footer
*/

/*
	Type and anchors
*/

#slides .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}
#slides div{
	height:196px;
}
#slides ul.pagination{
	display:none;
}