<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"-->

<title>{$page_title|default:$smarty.const.CONF_DEFAULT_TITLE|escape:'html'}</title>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{$page_meta_tags}
<script type="text/javascript" src="{$smarty.const.URL_JS}/niftycube.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/reports/jquery-1.7.min.js"></script>
		<script src="{$smarty.const.URL_JS}/slides.min.jquery.js"></script>
		<script src="{$smarty.const.URL_JS}/test.js"></script>

{literal}
{/literal}
{literal}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T36VTNM');</script>
<!-- End Google Tag Manager -->
<meta name="yandex-verification" content="3940d507abba79b6" />
<script type="text/javascript">
			$(function() {
var offset = $("#feedback").offset();
var height_b = screen.height;
var topPadding = height_b/2;
$(window).scroll(function() {
 if ($(window).scrollTop() > offset.top) {
$("#feedback").stop().animate({
marginTop: $(window).scrollTop() - offset.top + topPadding
 });
} else {
$("#feedback").stop().animate({
marginTop: 0
});
}
});
});
		</script>
{/literal}

    <script type="text/javascript" src="{$smarty.const.URL_JS}/superfish.js"></script>

		<script type="text/javascript" src="{$smarty.const.URL_JS}/jcarousellite_1.0.1.min.js"></script>

		<script type="text/javascript" src="{$smarty.const.URL_JS}/popup.js?v={$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}"></script>

{literal}
<script type="text/javascript">
			jQuery(function(){
				jQuery('ul.sf-menu').superfish();
			});
		</script>
{/literal}
<!-- {literal}
<script type="text/javascript">
		jQuery.validator.setDefaults({
		  debug: true,
		  success: "valid"
		});
		$("#FormRegister").validate({
				
                rules: {

		    	cust_password2: {
		      			equalTo: "#first_password"
		   					 }
                },
                messages: {
                    cust_password2: "введите правильный пароль"
                },
                focusCleanup: true,
            });
</script>
{/literal} -->
<!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script> -->
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script> -->
<script src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/jquery.validate.js"></script>

<script src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/validate.register.js?v={$smarty.now}"></script>
{literal}
<script>
			$(function(){
				// Set starting slide to 1
				var startSlide = 1;
				// Get slide number if it exists
				//if (window.location.hash) {
					//startSlide = window.location.hash.replace('#','');
				//}
				// Initialize Slides
				$('#slides').slides({
					preload: true,
					preloadImage: '/img/loading.gif',
					generatePagination: true,
					play: 5000,
					pause: 2500,
					hoverPause: true,
					// Get the starting slide
					start: startSlide
					//animationComplete: function(current){
						// Set the slide number as a hash
						//window.location.hash = '#' + current;
					//}
				});
			});
		</script>
{/literal}

{literal}
<script type="text/javascript">
		$(document).ready(function(){
			PopUp($('#obj'), $('#trigg'));
			$('#viber').click(function(){
				viber_open(); return false;
			});

		});
	</script>
{/literal}

{literal}
<script type="text/javascript">
function init_viber(){
	var message =
'<div id="viber-wrap">'
	+ '<div class="box-viber">'
		+ '<div id="box-viber">'
			+ '<div id="viber-content">'
{/literal}
{literal}
				+ '<div class="viber-title"> Viber Errors-seeds: <b>+38 093 00 00 849</b> </div>'
				+ '<div class="viber-lead"> Добавьте этот номер в список контактов, откройте Viber на вашем смартфоне и отправьте свое сообщение бесплатно.</div>'
				+ '<div> Время работы: с <b>10:00</b> до <b>20:00</b>, с понедельника по пятницу, с 11:00 до 16:00 суббота и воскресенье.</div>'
{/literal}
{literal}

			+ '</div>'
			+ '<div onclick="hide_viber()" title="Close" class="btn_canc"></div>'
		+ '</div>'
	+ '</div>'
+ '</div>'
	+ '<div id="fade-viber"></div>';
	$('body').append(message);

}
function viber_open() {
    var d = $('#viber-content');
    if (!d.length){
        init_viber();
        $('#viber-wrap').click(hide_viber);
		$('#viber-wrap .box-viber').click(function(e){e.stopPropagation()});

    }
    $('#fade-viber, #viber-wrap').show()
	$('#viber-wrap .box-viber').css({
		top: $(window).height()/2-$('#viber-wrap .box-viber').height()/2+'px',
		left: '50%',
		'margin-left': -$('#viber-wrap .box-viber').width()/2
	});

}

function hide_viber() {
    $('#viber-wrap').hide();
    $('#fade-viber').hide();
    return false
}
</script>
{/literal}



{literal}
	<script>
$(document).ready(function(){

	// hide #back-top first
	$("#back-top").hide();

	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	});

});
</script>
{/literal}

{literal}
	<script type="text/javascript">
	$(document).ready(function(){
		$('#descript').click(function () {
			$('.descript_product_full').show();
			$('.reviews_block').css("display","none");
			$("#descript").css({
			color:"85bc0d",
			display:"block",
			borderBottom:"1px solid",
			borderColor:"85bc0d",
			 paddingLeft:"7px",
			 paddingRight:"7px",
			 paddingBottom:"2px"
			});
			$('#review').css({
			color:"fff",
			borderBottom:"none"
			});
		});
		$('#review').click(function () {
			$('.reviews_block').show();
			$('.descript_product_full').hide();
			$('#review').css("color","85bc0d");
			$("#review").css({
			color:"85bc0d",
			display:"block",
			borderBottom:"1px solid",
			borderColor:"85bc0d",
			 paddingLeft:"7px",
			 paddingRight:"7px",
			 paddingBottom:"2px"
			});
			$('#descript').css({
			color:"fff",
			borderBottom:"none"
			});
		});
		});
		</script>
{/literal}

{literal}




{/literal}
<link rel="shortcut icon" href="/logo_favicon.png" />
<script type="text/javascript">var country_prefix = {if $lang_iso2=='ru'}'ru'{/if}{if $lang_iso2=='ua'}'ua'{/if}</script>
<script type="text/javascript" src="/mistaces/mistakes.js?ver=1.0"></script>
<link href="/mistaces/mistakes.css" rel="stylesheet" type="text/css" />
{if $PAGE_VIEW neq 'noframe'}
<!-- BEGIN JIVOSITE CODE -->{literal}
<script type='text/javascript'>
(function(){ var widget_id = 'gU1nbJCePW';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{/if}



{literal}
<script type="text/javascript">
    function lookup(searchstring) {
        if(searchstring.length == 0) {
            // Hide the suggestion box.
            $('#suggestions').hide();
        } else {
            $.post("/autosearch.php", {queryString: ""+searchstring+""}, function(data){
                if(data.length >0) {
                    $('#suggestions').show();
                    $('#autoSuggestionsList').html(data);
                }
            }, "html");
        }
    } // lookup

    function fill(thisValue) {
    $('#searchstring').val(thisValue);
    $("form#autosearch").submit();
    setTimeout("$('#suggestions').hide();", 200);
}

</script>



<style type="text/css">
.text_left_column {
max-height:578px;
overflow-y:auto;
}
.text_left_column h1{
    color: #85bc0d;
    font-family: 'AGLettericaCondensedLight-Roman';
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}
.text_left_column ul{
    color: #b1b1b1;
    list-style-type: disc;
    list-style-position: inside;
    font-family: 'AGLettericaCondensed-Roman';
    font-size: 16px;
    margin-top: 15px;
}
</style>
<style type="text/css">
        .suggestionsBox {
                position: relative;
                left: 30px;
                margin: 24px 0px 0px 0px;
                width: 200px;
                background-color: #212427;
                -moz-border-radius: 7px;
                -webkit-border-radius: 7px;
                border: 2px solid #000;
                color: #fff;
                z-index: 99999;
        }
        .suggestionList {
                margin: 0px;
                padding: 0px;
        }
        .suggestionList ul
        {
        	list-style: none;
        }
        .suggestionList li {
                margin: 0px 0px 3px 0px;
                padding: 3px;
                cursor: pointer;
        }
        .suggestionList li:hover {
                background-color: #85BC0D;
        }
</style>
{/literal}

