<!-- cpt_container_start -->
<!-- {cpt_custom_html code='njr3gga6' overridestyle=':9cg94r'}
{cpt_product_lists list_id='specialoffers' block_height='' overridestyle=''}
{cpt_custom_html code='de9hsbax' overridestyle=':xlwben'}-->


{if $lang_iso2 == "ua"}


<div style="text-align: center; position:relative"><span class="georgia-notifi"><a href="https://errors-seeds.com.ua/blog/118/"><span>E</span>rrors-seeds відтепер і в Грузії<span>!</span></a>
</span></div>
<!--<p style="text-align: center;"><span style="color: #99cc00; font-size: large;"><br></a></br>
</span></p>-->


{/if}

{if $lang_iso2 == "ru"}


<div style="text-align: center; position:relative"><span class="georgia-notifi" style=""><a href="https://errors-seeds.com.ua/blog/118/"><span>E</span>rrors-seeds теперь и в Грузии<span>!</span></a>
</span></div>
<!--
<p style="text-align: center;"><span style="color: #99cc00; font-size: large;"><br></a></br>
</span></p>
-->
{/if}


<!-- category ua -->


{if $lang_iso2 == "ua"}
<div class="cpt_root_categories">
<table width="95%" border="0" cellpadding="5" >
 {*<tr id="blackFriday_category">
 	<td width="1%"  align="center" class="cat_image" colspan="4">
		<a href='https://errors-seeds.com.ua/category/black-friday/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/bf_es.png" alt="Black Friday">
		</a>



	<p style="text-transform:uppercase;">	<a href='https://errors-seeds.com.ua/category/black-friday/' class="rcat_root_category">Black Friday</a></p>

		<div class="rcat_child_categories">
				</div>
	</td>

 </tr>*}
 {literal}
  <script>
  	window.setInterval(function () {
  		var current = new Date()
  		var expiry = new Date(Date.parse("2016-11-25T22:00:00.0Z"));
  		if(current.getTime()>expiry.getTime()){
  			$('.blackFriday_category').removeClass('blackFriday_category');
  		}
  	},0);
  	window.setInterval(function () {
  		var current = new Date()
  		var expiry2 = new Date(Date.parse("2016-11-25T22:00:00.0Z"));
  		if(current.getTime()>expiry2.getTime()){
  			$('#blackFriday_category').hide();
  		}
  	},0);
  </script>
 {/literal}

    <tr>
      <td width="1%" align="center" class="cat_image">
        <a href='ua/category/suvenirnaja-produkcija/'>
      <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/suvenirmo1g.png" alt="Suvenirna produkcija - image" title="Suvenirna produkcija">
    </a>



        <p> <a href='ua/category/suvenirnaja-produkcija/' class="rcat_root_category">Сувенірна продукція</a></p>

        <!-- <span class="rcat_products_num">[0]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/avtocvetushie-sorta/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon18np9%5B1%5Dw1.png" alt="Avtokvituchi sorty - image" title="Avtokvituchi sorty">
		</a>



        <p> <a href='/ua/category/avtocvetushie-sorta/' class="rcat_root_category">Автоквітучі сорти</a></p>

        <!-- <span class="rcat_products_num">[63]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/femenizirovannye-sorta/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon2z602%5B1%5Dqo.png" alt="Avtokvituchi feminizovani sorty - image" title="Avtokvituchi feminizovani sorty">
		</a>



        <p> <a href='/ua/category/femenizirovannye-sorta/' class="rcat_root_category">Автоквітучі фемінізовані сорти</a></p>

        <!-- <span class="rcat_products_num">[39]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/fotoperiodichnye-sorta/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon3d7l9%5B1%5Dah.png" alt="Fotoperiodychni sorty - image" title="Fotoperiodychni sorty">
		</a>



        <p> <a href='/ua/category/fotoperiodichnye-sorta/' class="rcat_root_category">Фотоперіодичні сорти</a></p>

        <!-- <span class="rcat_products_num">[79]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      </tr>
      <tr>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/femenizirovannye-sorta_ag/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon48y.png" alt="Feminizovani sorty - image" title="Feminizovani sorty">
		</a>



        <p> <a href='/ua/category/femenizirovannye-sorta_ag/' class="rcat_root_category">Фемінізовані сорти</a></p>

        <!-- <span class="rcat_products_num">[52]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/pobediteli-kubkov/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon5xvej.png" alt="Peremozhci kubkiv - image" title="Peremozhci kubkiv">
		</a>



        <p> <a href='/ua/category/pobediteli-kubkov/' class="rcat_root_category">Переможці кубків</a></p>

        <!-- <span class="rcat_products_num">[26]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/sativa/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon7uuyx.png" alt="Satyva - image" title="Satyva">
		</a>



        <p> <a href='/ua/category/sativa/' class="rcat_root_category">Сатива</a></p>

        <!-- <span class="rcat_products_num">[10]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
      <td width="1%" align="center" class="cat_image">
        <a href='/ua/category/indika/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon8h3ne.png" alt="Indyka - image" title="Indyka">
		</a>



        <p> <a href='/ua/category/indika/' class="rcat_root_category">Індика</a></p>

        <!-- <span class="rcat_products_num">[10]</span> -->

        <div class="rcat_child_categories">
        </div>
      </td>
    </tr>
<!-- --->

<tr>			<td width="1%" align="center" class="cat_image">
		<a href='/ua/category/med-kannabis/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/med3ue.png" alt="Med. kannabis - image" title="Med. kannabis">
		</a>



	<p>	<a href='/ua/category/med-kannabis/' class="rcat_root_category">Мед. каннабіс</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/ua/category/dlja-novichkov/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/baby2w8.png" alt="Dlja pochatkivciv -image" title="Dlja pochatkivciv">
		</a>



	<p>	<a href='/ua/category/dlja-novichkov/' class="rcat_root_category">Для початківців</a></p>

	<!-- <span class="rcat_products_num">[23]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/ua/category/optovaja-prodazha/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/bag7p0.png" alt="Optovyj prodazh - image" title="Optovyj prodazh">
		</a>



	<p>	<a href='/ua/category/optovaja-prodazha/' class="rcat_root_category">Оптовий продаж</a></p>

	<!-- <span class="rcat_products_num">[47]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/ua/category/oborudovanie/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/equipment2cx.png" alt="Osvitlennja ta dobryva - image" title="Osvitlennja ta dobryva">
		</a>



	<p>	<a href='/ua/category/oborudovanie/' class="rcat_root_category">Освітлення та добрива</a></p>

	<!-- <span class="rcat_products_num">[18]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
	</tr>


<!-- 3 end--->
<!-- 4 --->



<tr>
<td width="1%" align="center" class="cat_image">
		<a href='/ua/category/slabopahnushie-sorta-konopli/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/2122ex.png" alt="Slabopahnushhi sorty - image" title="Slabopahnushhi sorty">
		</a>



	<p>	<a href='/ua/category/slabopahnushie-sorta-konopli/' class="rcat_root_category">Слабопахнущі сорти</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>



<td width="1%" align="center" class="cat_image">
		<a href='https://errors-seeds.com.ua/auxpage_action_list/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/akcee.png" alt="Akcii' ta znyzhky - image" title="Akcii' ta znyzhky">
		</a>



	<p>	<a href='https://errors-seeds.com.ua/auxpage_action_list/' class="rcat_root_category">Акції та знижки</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>



<td width="1%" align="center" class="cat_image">
		<a href='/ua/category/new/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/newko.png" alt="Novynky - image" title="Novynky">
		</a>



	<p>	<a href='/ua/category/new/' class="rcat_root_category">Новинки</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
	<td width="1%" align="center" class="cat_image">
        <a href='/category/hight-thc-seeds/'>
            <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/moshnie-sorta.png" alt="Potuzhni sorty - image" title="Potuzhni sorty">
        </a>



        <p>	<a href='/category/hight-thc-seeds/' class="rcat_root_category">Потужні сорти</a></p>

        <!-- <span class="rcat_products_num">[21]</span> -->

        <div class="rcat_child_categories">
        </div>
    </td>

	</tr>
	{*
	<tr>
	<td>	</td>
	<td width="1%" align="center" class="cat_image" colspan="2">
        <a href='https://errors-seeds.com.ua/category/drugie/'>
            <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/other.png" alt="Inshi - image" title="Inshi">
        </a>



       <p>	<a href='https://errors-seeds.com.ua/category/drugie/' class="rcat_root_category">Інші</a></p>

        <!-- <span class="rcat_products_num">[21]</span> -->

        <div class="rcat_child_categories">
        </div>
    </td>
    <!-- <td width="1%" align="center" class="cat_image">
        <a href='https://errors-seeds.com.ua/category/cbd-sorta/'>
            <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/cbd.png" alt="CBD - image" title="CBD">
        </a>



        <p>	<a href='https://errors-seeds.com.ua/category/cbd-sorta/' class="rcat_root_category">CBD</a></p>

        <span class="rcat_products_num">[21]</span>

        <div class="rcat_child_categories">
        </div>
    </td> -->
    <td>	</td>
    </tr>*}

<!-- 4  end--->




</table>



</div>
{/if}



<!-- end category ua -->



{if $lang_iso2 == "ru"}
<div class="cpt_root_categories">
<table width="95%" border="0" cellpadding="5">
{*<tr  id="blackFriday_category">
 	<td width="1%"  align="center" class="cat_image" colspan="4">
		<a href='https://errors-seeds.com.ua/category/black-friday/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/bf_es.png" alt="Black Friday">
		</a>



	<p style="text-transform:uppercase;">	<a href='https://errors-seeds.com.ua/category/black-friday/' class="rcat_root_category">Black Friday</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>

 </tr>*}
 {literal}
  <script>
  	window.setInterval(function () {
  		var current = new Date()
  		var expiry = new Date(Date.parse("2016-11-25T22:00:00.0Z"));
  		if(current.getTime()>expiry.getTime()){
  			$('.blackFriday_category').removeClass('blackFriday_category');
  		}
  	},0);
  	window.setInterval(function () {
  		var current = new Date()
  		var expiry2 = new Date(Date.parse("2016-11-25T22:00:00.0Z"));
  		if(current.getTime()>expiry2.getTime()){
  			$('#blackFriday_category').hide();
  		}
  	},0);
  </script>
 {/literal}
	<tr>
<td width="1%" align="center" class="cat_image">
		<a href='/category/suvenirnaja-produkcija/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/suvenirmo1g.png" alt="Suvenirnaja produkcija - image" title="Suvenirnaja produkcija">
		</a>



	<p>	<a href='/category/suvenirnaja-produkcija/' class="rcat_root_category">Сувенирная продукция</a></p>

	<!-- <span class="rcat_products_num">[0]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
<td width="1%" align="center" class="cat_image">
		<a href='/category/avtocvetushie-sorta/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon18np9%5B1%5Dw1.png" alt="Avtocvetushhie sorta - image" title="Avtocvetushhie sorta">
		</a>



	<p>	<a href='/category/avtocvetushie-sorta/' class="rcat_root_category">Автоцветущие сорта</a></p>

	<!-- <span class="rcat_products_num">[63]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/category/femenizirovannye-sorta/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon2z602%5B1%5Dqo.png" alt="Avtocvetushhie feminizirovannye sorta - image" title="Avtocvetushhie feminizirovannye sorta">
		</a>



	<p>	<a href='/category/femenizirovannye-sorta/' class="rcat_root_category">Автоцветущие феминизированные сорта</a></p>

	<!-- <span class="rcat_products_num">[39]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/category/fotoperiodichnye-sorta/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon3d7l9%5B1%5Dah.png" alt="Fotoperiodichnye sorta - image" title="Fotoperiodichnye sorta">
		</a>



	<p>	<a href='/category/fotoperiodichnye-sorta/' class="rcat_root_category">Фотопериодичные сорта</a></p>

	<!-- <span class="rcat_products_num">[79]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>

	</tr>	<tr>
<td width="1%" align="center" class="cat_image">
		<a href='/category/femenizirovannye-sorta_ag/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon48y.png" alt="Feminizirovannye sorta - image" title="Feminizirovannye sorta">
		</a>



	<p>	<a href='/category/femenizirovannye-sorta_ag/' class="rcat_root_category">Феминизированные сорта</a></p>

	<!-- <span class="rcat_products_num">[52]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
<td width="1%" align="center" class="cat_image">
		<a href='/category/pobediteli-kubkov/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon5xvej.png" alt="Pobediteli kubkov - image" title="Pobediteli kubkov">
		</a>



	<p>	<a href='/category/pobediteli-kubkov/' class="rcat_root_category">Победители кубков</a></p>

	<!-- <span class="rcat_products_num">[26]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>

					<td width="1%" align="center" class="cat_image">
		<a href='/category/sativa/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon7uuyx.png" alt="Sativa - image" title="Sativa">
		</a>



	<p>	<a href='/category/sativa/' class="rcat_root_category">Сатива</a></p>

	<!-- <span class="rcat_products_num">[10]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/category/indika/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/sort_icon8h3ne.png" alt="Indika - image" title="Indika">
		</a>



	<p>	<a href='/category/indika/' class="rcat_root_category">Индика</a></p>

	<!-- <span class="rcat_products_num">[10]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
	</tr>
<!-- --->

<tr>			<td width="1%" align="center" class="cat_image">
		<a href='/category/med-kannabis/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/med3ue.png" alt="Med. kannabis - image" title="Med. kannabis">
		</a>



	<p>	<a href='/category/med-kannabis/' class="rcat_root_category">Мед. каннабис</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/category/dlja-novichkov/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/baby2w8.png" alt="Dlja novichkov - image" title="Dlja novichkov">
		</a>



	<p>	<a href='/category/dlja-novichkov/' class="rcat_root_category">Для новичков</a></p>

	<!-- <span class="rcat_products_num">[23]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/category/optovaja-prodazha/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/bag7p0.png" alt="Optovaja prodazha - image" title="Optovaja prodazha">
		</a>



	<p>	<a href='/category/optovaja-prodazha/' class="rcat_root_category">Оптовая продажа</a></p>

	<!-- <span class="rcat_products_num">[47]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
					<td width="1%" align="center" class="cat_image">
		<a href='/category/oborudovanie/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/equipment2cx.png" alt="Osveshhenie i udobrenija - image" title="Osveshhenie i udobrenija">
		</a>



	<p>	<a href='/category/oborudovanie/' class="rcat_root_category">Освещение и удобрения</a></p>

	<!-- <span class="rcat_products_num">[18]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>
	</tr>


<!-- 3 end--->
<!-- 4 --->



<tr>
<td width="1%" align="center" class="cat_image">
		<a href='/category/slabopahnushie-sorta-konopli/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/2122ex.png" alt="Slabopahnushhie sorta - image" title="Slabopahnushhie sorta">
		</a>



	<p>	<a href='/category/slabopahnushie-sorta-konopli/' class="rcat_root_category">Слабопахнущие сорта</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>



<td width="1%" align="center" class="cat_image">
		<a href='https://errors-seeds.com.ua/auxpage_action_list/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/akcee.png" alt="Akcii i skidki - image" title="Akcii i skidki">
		</a>



	<p>	<a href='https://errors-seeds.com.ua/auxpage_action_list/' class="rcat_root_category">Акции и скидки</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>



<td width="1%" align="center" class="cat_image">
		<a href='/category/new/'>
			<img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/newko.png" alt="Novinki - image" title="Novinki">
		</a>



	<p>	<a href='/category/new/' class="rcat_root_category">Новинки</a></p>

	<!-- <span class="rcat_products_num">[21]</span> -->

		<div class="rcat_child_categories">
				</div>
	</td>

    <!--moschnie sorta -->

    <td width="1%" align="center" class="cat_image">
        <a href='/category/hight-thc-seeds/'>
            <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/moshnie-sorta.png" alt="Moshhnye sorta - image" title="Moshhnye sorta">
        </a>



        <p>	<a href='/category/hight-thc-seeds/' class="rcat_root_category">Мощные сорта</a></p>

        <!-- <span class="rcat_products_num">[21]</span> -->

        <div class="rcat_child_categories">
        </div>
    </td>




	</tr>
	{*
	<tr>
	<td>	</td>
	<td width="1%" align="center" class="cat_image" colspan="2">
        <a href='https://errors-seeds.com.ua/category/drugie/'>
            <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/other.png" alt="Drugie - image" title="Drugie">
        </a>



        <p>	<a href='https://errors-seeds.com.ua/category/drugie/' class="rcat_root_category">Другие</a></p>

        <!-- <span class="rcat_products_num">[21]</span> -->

        <div class="rcat_child_categories">
        </div>
    </td>
    <!-- <td width="1%" align="center" class="cat_image">
        <a href='https://errors-seeds.com.ua/category/cbd-sorta/'>
            <img border="0" src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/cbd.png" alt="CBD - image" title="CBD">
        </a>



        <p>	<a href='https://errors-seeds.com.ua/category/cbd-sorta/' class="rcat_root_category">CBD</a></p>

        <span class="rcat_products_num">[21]</span>

        <div class="rcat_child_categories">
        </div>
    </td> -->
    <td>	</td>
    </tr>*}

<!-- 4  end--->




</table>



</div>
{/if}





<!-- cpt_container_end -->

<!-- cpt_container_start -->{cpt_product_lists list_id='specialoffers' block_height='' overridestyle=':be1vb5'}<!-- cpt_container_end -->
</div>
</div>
</div>
</div>


						<div id="feedback" class="{$lang_iso2}">
{if $lang_iso2 == 'ua'}
						<a href="ua/reports/"><span></span></a>
{else}
						<a href="/reports/"><span></span></a>
{/if}
						</div>



</div>

</div>

<div class="text_descript_category">
				<div class="position_center">

<div class="why_we">
<div style="color:#99cc00;width:100%;text-align:center;margin-bottom:50px;">
<a href="/auxpage_opros/" target="_black"  style="color:#99cc00;">Ответьте, пожалуйста, на опрос нашего магазина! >>> </a>
</div>
<div id="arrow_hide2">
{if $lang_iso2 == "ru"}<h1>Почему лучше купить семена конопли в Errors Seeds? </h1>{/if}
{if $lang_iso2 == "ua"}<h1><strong>Чому краще купити насіння коноплі в Errors Seeds?</strong></h1>{/if}
</div>
<div class="hour_hide2" style="display:none">
{if $lang_iso2 == "ru"}
						
<p style="text-align: justify;"><span style="color: #99cc00;">Errors Seeds</span> - украинский производитель семян каннабиса, магазин, полностью перевернувший представление жителей страны о том, что значит настоящее качество семян. С тех пор уже много лет мы воплощаем качество и надежность, предоставляя покупателям лучший посевной материал. Компания изготовляет продукцию при соблюдении всех общемировых и европейских стандартов. Со времен основания этого украинского сидбанка больше никому не приходится ломать голову, размышляя, где бы <span style="color: #99cc00;">купить семена марихуаны</span>. Существует множество организаций, которые могут поразить новичка в индустрии своим высоким уровнем обслуживания (надежная доставка и удобный сервис, при том что цена продукции вполне разумна), а также тем, насколько невероятно высоко качество продающегося посевного материала. Но до определенного момента эти замечательные организации существовали исключительно на северо-западе Европы и в соединенных штатах. Но так не могло продолжаться вечно, и сейчас благодаря <span style="color: #99cc00;">Errors Seeds</span> высококачественная продукция всегда доступна обитателям Украины. Здесь можно купить семена марихуаны, произведенные мастерами селекции и профессиональными бридерами. Большинство людей, даже занимавшихся когда-либо раз-другой гровингом - слабо разбираются в том, какими должны быть “зерна”, олицетворяющие настоящее качество. Они довольствуются тем, что выросло хотя бы что-то, и даже не представляют, какими должны быть растения, произведенные из действительно элитных семян. Обычно, если таким людям доводится наконец-то отыскать толковый магазин с нормальным ассортиментом, найти там отличные семена конопли, купить их и заняться культивацией - полученные в итоге кусты прямо-таки поражают этих гроверов-новичков и открывают им глаза на невероятные возможности великолепного посевного материала. <span style="color: #99cc00;">Семена конопли</span>, купить которые можно в нашем магазине - отлично подойдут на роль этого “глазооткрывателя”. <span style="color: #99cc00;">Ассортимент действительно огромен</span>, и в нем можно отыскать посевной материал на абсолютно любой вкус, подходящий для любых условий. Автоцветы и фотопериодичные, регуляры и фемки - все это есть здесь, и многообразие сортов просто невероятно!<br /><br /></p>
<h2>Несколько причин, чтобы купить семена марихуаны</h2>
<p style="text-align: justify;"><br />Зачастую если человеку что-то говорят о каннабисе, первой возникающей в его воображении ассоциацией становится курение или другие варианты употребления с целью наркотического изменения сознания. Но <span style="color: #99cc00;">семена конопли купить</span> - не значит обязательно заняться их выращиванием и последующим употреблением шишек. Существует огромнейшее количество всевозможных их применений. Из самых очевидных - изготовление конопляного масла. Оно отличается огромной пользой и может оказать поистине замечательное воздействие на организм, если его использовать в необходимой концентрации и регулярно. Впрочем, для изготовления таких масел в основном используют обычные, не отличающиеся хорошим генофондом и наработками селекционеров материалы. Если в процессе отжимки применять элитные и высококачественные семена конопли, купить которые можно в <span style="color: #99cc00;">Errors Seeds</span> - то расходы на изготовление масла будут чрезмерно высокими. Но если не зацикливаться на производстве именно из семян - то у каннабиса просто колоссальный потенциал. <span style="color: #99cc00;">Растение может использоваться в медицине</span>, лёгкой и даже тяжелой промышленности! Все более частая легализация и <span style="color: #99cc00;">декриминализация</span>, происходящая практически ежегодно в разных государствах - вполне наглядное подтверждение возможностей куста. В различнейших медицинских вопросах травка может послужить просто невероятным подспорьем. Особенно если её качество не подлежит сомнениям.<br /><br /></p>
<h2>Семена конопли в медицине</h2>
<p style="text-align: justify;"><br />В отличие от разнообразных фармацевтических веществ, которые могут привести к ужасающим последствиям, если их применять без рекомендации, полученной от компетентного врачебного работника, каннабис не может навредить здоровью пациента ни в коем случае. Поэтому попытаться вылечиться от некоторых не очень серьезных заболеваний вполне можно и самостоятельно. Достаточно просто <span style="color: #99cc00;">купить семена марихуаны</span>, подождать, пока завершится доставка, и наконец заняться гровингом, желательно, придерживаясь общих рекомендаций. Впоследствии Вы получите высококачественную продукцию, которой славятся растения, произрастающие из посевного материала, который предоставляет наш магазин. Даже если недуг достаточно серьезен, использование травки ни в коем случае не будет лишним. Начнем с того, что ей присущ восхитительный <span style="color: #99cc00;">анестетический и успокаивающий эффект</span>, а это совершенно не помешает в условиях болезни. А если говорить о положительном воздействии (с точки зрения пациента, разумеется) на развитие самой проблемы - здесь возможности растения также весьма впечатляют. В перечне недугов, в излечении от которых может помочь медканнабис - наличествует более <span style="color: #99cc00;">50 пунктов</span>, и некоторые из них являются весьма серьезными проблемами, уносящими миллионы жизней ежегодно. Среди важнейших:<br /><br /></p>
<p style="text-align: justify;"></p>
<ul>
<li>Синдром Альцгеймера;</li>
<li>Онкологические заболевания (от рака лёгких до лейкемии);</li>
<li>Сердечные приступы;</li>
<li>Неврологические боли и их причины.</li>
</ul>
<p></p>
<p style="text-align: justify;"><br />Также можно упомянуть остеопороз, ревматоидные артрозы и артриты, некоторые инфекции, урон, полученный мозговыми клетками вследствие удара или осложнения - этот список можно продолжать очень и очень долго. Представьте себе, достаточно отыскать <span style="color: #99cc00;">семена конопли</span>, купить их, вырастить - и Вы получите превосходное медицинское средство без каких-либо неприятных побочных эффектов. Теперь, благодаря <span style="color: #99cc00;">Errors Seeds</span>, первый пункт, поиск - можно и вовсе исключить. Помимо прочего гашишные масла и марихуана могут оказать благотворное влияние на болезненные ощущения, возникающие как побочный эффект от других лекарств. Каннабис является мощным обезболивающим средством, это общеизвестный факт. И цена всего великолепия, содержащегося в магазине - вполне разумна! Разумеется, для того, чтобы раскрыть полный потенциал <span style="color: #99cc00;">медицинского каннабиса</span> - лучше всего проконсультироваться с профессиональным медиком, сведущим в этой области, но даже если просто купить семена марихуаны первого попавшегося сорта - польза все равно будет. <span style="color: #99cc00;">Errors Seeds</span> - проверенный временем и тысячами покупателей сидбанк, предоставляющий посевной материал, идеально подходящий для абсолютно любых нужд!</p>
<p>Вы устали от покупки низкокачественного посадочного материала? В этом разделе Errors Seeds вы сможете приобрести лучшие семена конопли, которые уже давно стали мировыми бестселлерами. </p>
<p>Выращивание легендарных стрейнов, которые имеют в своем арсенале множество наград и кубков, – это залог высокого конечного результата, подтвержденного доброй тысячей успешных харвестов. Культивация таких стрейнов дает массу преимуществ, ведь выращивая лучшие семена марихуаны, вы можете не сомневаться в том, что получите супер урожай. Только по-настоящему незаурядные сорта могут удивить экстремально быстрым развитием, высоким генетическим потенциалом и мощной урожайностью. </p>
<p>В данном разделе вы найдете сорта-чемпионы, которые являются неоднократными призерами различных профессиональных конкурсов и фестивалей. Здесь представлены сорта, которые созданы гениальными бридерами, мастерами селекции, способными разобраться в самых сложных генетических хитросплетениях различных сортов. Здесь вы сможете  приобрести лучшие семена конопли в розницу и оптом, которые уже давно стали классикой мира коноплевых.</p>  
<p>После открытия сидбанка Errors Seeds купить лучшие сорта конопли может позволить себе каждый желающий, ведь в отличие от большинства производителей, мы предлагаем вам высококачественный посадочный материал по минимальной цене. Приобретая лучшие семена известных сортов марихуаны, вы можете быть уверены в их неоспоримом качестве. </p>
<p>Мы не ограничиваем своих клиентов в выборе! Этот раздел интересен как профессионалам, так и новичкам, ведь здесь вы сможете купить лучшие семена конопли оптом и в розницу, выбор количества семян зависит только от вашего желания и размера гроубокса. </p>
<p>Основные достоинства сортов, представленных в этом разделе:</p>
<ul>
<li>высокая производительность;</li>
<li>удивительная простота культивации;</li>
<li>высокая устойчивость к фитоинфекциям и паразитам;</li>
<li>рекордное содержание тетрагидроканнабинола.</li>
</ul>
<p>Даже при одном взгляде на кусты, выращенные из зерен, представленных в этом разделе, становится понятно, что перед тобой далеко не тривиальный сорт, а «монстр», способный производить суперурожаи. 
Если вы нацелены на высокие результаты, то покупка зерен в этом разделе поможет достигнуть вам невероятных высот в гроверском мастерстве. </p> 



{/if}
{if $lang_iso2 == "ua"}
						
<p style="text-align: justify;"><span style="color: #99cc00;">Errors Seeds</span> - український виробник, а також магазин, що змінив уявлення мешканців країни про якісне насіння. Вже багато років ми уособлюємо якість та надійність, поставляючи споживачам найкращий посівний матеріал. Компанія виготовляє продукцию за загальносвітовими та європейськими стандартами. З часу заснування українського сидбанку більше не треба ламати голову, розмірковуючи, де б <span style="color: #99cc00;">купити насіння марихуани</span>. Існує багато організацій, які вражають новачків цієї індустрії високим рівнем обслуговування (надійні поставки та зручний сервіс при тому, що ціна на продукцію є розумною), а також тим, наскільки високою є якість посівного матеріалу, що продається. Але до певного моменту ці чудові організації існували виключно на північному заході Європи та у Сполучених Штатах. Таке становище не могло зберігатися вічно - завдяки <span style="color: #99cc00;">Errors Seeds</span> високоякісна продукція стала доступною мешканцям України. Тут можна <strong>купити насіння марихуани</strong>, яке вироблене майстрами селекції та професійними брідерами. Більшість людей, навіть ті, які хоч раз займались гровінгом, не дуже добре розуміються на тому, якими мають бути "зерна, що уособлюють справжню якість". Вони задовільняються тим, що виросло хоча б щось і навіть не уявляють, якими можуть бути рослини від дійсно елітного насіння. Звичайно, якщо таким людям поталанить знайти магазин з широким асортиментом якісного насіння коноплі, купити його та зайнятися культивуванням, вирощені кусти приємно вразять гроверів - початківців та відкриють їм очі на неймовірні можливості чудового посівного матеріалу. Насіння коноплі, яке можна купити у нашому магазині, підійде на роль такого "відкривача очей". <span style="color: #99cc00;">Асортимент по-справжньому широкий</span> і в ньому можна знайти посівний матеріал на будь-який смак, для будь-яких умов. Автоквітуче та фотоперіодичне, регулярне та фемінізоване насіння - усе це є тут, і різномаїття сортів просто неймовірне!</p>
<h2><br /><strong>Декілька причин, щоб купити насіння марихуани</strong></h2>
<p></p>
<p style="text-align: justify;">Найчастіше, якщо людині щось говорять про каннабіс, першою асоціацією, що виникає у її голові, є паління або інші варіанти вживання коноплі з метою зміни свідомості. Але <strong><span style="color: #99cc00;">купити насіння конопл</span></strong> не означає вирощувати рослини з подальшим їх вживанням. Існує безліч способів використання безцінного насіння. Один з очевидних - виготовлення конопляної олії, яка є корисною, чудово впливає на організм, якщо вживати її у необхідній концентрації та регулярно. Втім, на виготовлення такої олії йде матеріал, що не відрізняється хорошим генофондом і наробками селекціонерів. Якщо в процесі віджиму використовувати елітне високоякісне насіння коноплі, яке можна купити в <span style="color: #99cc00;">Errors Seeds</span>, то витрати на виготовлення олії будуть надмірно високими. Однак, якщо не зациклюватися на виготовленні продукції саме з насіння, то каннабіс має колосальний потенціал. Рослина може використовуватися у медицині, легкій і навіть важкій промисловості. Легалізація та <strong><span style="color: #99cc00;">декриміналізація</span></strong>, що відбуваються все частіше, практично щороку у різних державах - наочне тому підтвердження. А у медичних питаннях конопля є неймовірною підмогою, особливо, якщо її якість не викливає сумнівів.</p>
<p></p>
<h2><strong>Насіння коноплі у медицині</strong></h2>
<p style="text-align: justify;"><br />На відміну від різних фармацевтичних речовин, що можуть викликати жахливі наслідки, особливо якщо їх використовувати без рекомендацій компетентного медичного працівника, каннабіс не може нашкодити здоров'ю пацієнта ні в якому разі. Тому скористатися ним для того, щоб самостійно вилікуватися від деяких не дуже складних захворювань, цілком можливо. Достатньо просто <span style="color: #99cc00;">купити насіння</span>, зачекати, поки надійде доставка та зайнятися гровінгом, бажано, дотримуючись загальних рекомендацій. Як наслідок, ви отримаєте продукцію високої якості, якою славляться рослини, вирощені з посівного матеріалу, що пропонує наш магазин. Навіть якщо хвороба є достатньо серйозною, вживання травки ні в якому разі не буде зайвою процедурою. Почнемо з того, що вона має чудовий <span style="color: #99cc00;">анестетичний та заспокійливий ефект</span>, що аж ніяк не завадить в умовах хвороби. Якщо ж говорити про позитивний вплив (зрозуміло, що з точки зору пацієнта), можливості рослини практично безмежні. У переліку більше <span style="color: #99cc00;">50 хвороб</span>, у лікуванні яких медичний каннабіс може стати у нагоді, і деяки з них є серйозними, забираючи життя мільйонів людей щороку. Серед найважливіших:</p>
<p></p>
<ul>
<li>Синдром Альцгеймера;</li>
<li>Онкологічні захворювання (від раку легенів до лейкемії);</li>
<li>Сердцеві напади;</li>
<li>Неврологічні болі та їх причини.</li>
</ul>
<p></p>
<p style="text-align: justify;">Можна також пригадати остеопороз, ревматоїдні артрози та артрити, деякі інфекції, шкода, нанесена мозковим клітинам внаслідок удару або ускладнення - цей перелік можна продовжувати дуже і дуже довго. Уявіть собі, достатньо знайти <span style="color: #99cc00;">насіння коноплі</span>, купити його, виростити - і ви отримаєте чудодійний медичний засіб без будь-яких неприємних побічних ефектів. Завдяки <span style="color: #99cc00;">Errors Seeds</span>, перший пункт - пошук якісного насіння - можна виключити. Крім усього іншого, гашишні олії та марихуана благотворно впливають на хворобливі відчуття, що виникають як побічний ефект від вживання інших ліків. Каннабіс є міцним знеболювальним засобом - це загально відомий факт. І ціна усієї цієї пишності, що є у нашому магазині, є цілком розумною! Зрозуміло, що для того, аби розкрити потенціал <span style="color: #99cc00;">медичного каннабісу</span> у повній мірі, краще проконсультуватися у професіного лікаря, обізнаного у цій сфері. Однак, якщо навіть просто <span style="color: #99cc00;">купити насіння марихуани</span> першого ліпшого сорту, користь все рівно буде. <span style="color: #99cc00;">Errors Seeds</span> - перевірений часом і тисячами покупців сидбанк, що надає посівний матеріал, який ідеально підходить для будь-яких потреб!</p>
{/if}
</div>
						</div>



</div>
</div>
