<div class="page">
<img style="border: 0; left: 0; position: absolute; top: 0;  z-index:10000;" src="/images/edkraj1.gif" alt="Єдина Країна! Единая Страна!">
			<div class="bg_header">
			<div class="new_bg">
				<div class="position_center">
					<div class="header">
						<a href="/" class="logo">
							<img src="/published/publicdata/WEBASYST/attachments/SC/themes/images/eslogo.png" />
						</a>
						<a href="https://errors-seeds.com.ua/blog/28/" class="partner">
							<img src="/published/publicdata/WEBASYST/attachments/SC/themes/images/button_partner.png" />
						</a>

						<div class="login">
                                                        {include file="login.html"}
							{if !$log}<a class="input" id="trigg" href="javascript:void(0);">
{if $lang_iso2 == "ru"}
Вход
{/if}
{if $lang_iso2 == "en"}
Enter
{/if}

</a>
{else}
<a class="input" id="trigg" href="javascript:void(0);" style="background:url(../images/bg_cabinet.png);
	width:70px;
	height:24px;
	text-align:center;
	float:left;
	margin-right:10px;">
{if $lang_iso2 == "ru"}Кабинет
{/if}
{if $lang_iso2 == "en"}
Cabinet
{/if}
</a>
{/if}

							{if !$log}<a href="{'?ukey=register'|set_query_html}" class="registration">
{if $lang_iso2 == "ru"}
Регистрация
{/if}
{if $lang_iso2 == "en"}
Register
{/if}
</a>
{/if}
						</div>
						<div class="phone">
							<img src="/images/phone_icon.png" />
							<div class="phone_number">
								<p><span>+38 093</span><!-- No Skype --> 00-00-849</p>
								<p><span>+38 095</span><!-- No Skype --> 00-00-849</p>
								<p><span>+38 096</span><!-- No Skype --> 00-00-849</p>
								
							</div>
						<div class="callme">
								<div>
								<a class="callback" href="javascript:void(0);" rel="widget" >Обратный звонок</a>
								</div>
								</div>	
						</div>
						
					</div>
					<div class="menu">
{if $lang_iso2 == "ru"}
						<ul class="sf-menu">
							<li class="current"><a href="/">Главная</a></li>
                                                        	<li class="current"><a href="#">О магазине</a>
                                                     	<ul>
                                                         <li><a href="/auxpage_about">О нас</a></li>
                                                   <li><a href="/auxpage_faq">Часто задаваемые вопросы</a></li>
                                                          <li><a href="/auxpage_schedule">График работы</a></li>
                                                         <li><a href="/auxpage_delivery">Доставка</a></li>
                                                         <li><a href="/auxpage_shipping">Оплата</a></li>
                                                          <li><a href="/auxpage_adress">Как нас найти</a></li>
                                                          <li><a href="/auxpage_kak-kupit-semena-konopli">Как купить семена конопли</a></li>
                                                          <li><a href="/feedback">Контакты</a></li>
                                                           <li><a href="/blog/">Блог</a></li>
                                                         <li><a href="/auxpage_polit">Политика замены и возврата</a>
                                                                <ul>
                                                                <li><a href="/auxpage_indiv">Для частных лиц</a></li>
                                                                <li><a href="/auxpage_for-shop">Для магазинов</a></li>
                                                                </ul></li>
                                                           </ul>

                                                                </li>

							<li>
								<a href="#">Семена</a>

								<ul>

                                                         <li><a href="/category/errors-seeds/">Errors-seeds</a>
                                                                <ul>
                                                                <li><a href="/category/errors-seeds-auto/">Errors-seeds Auto</a></li>
                                                                <li><a href="/category/errors-seeds-regular/">Errors-seeds Regular</a></li>
                                                                <li><a href="/category/errors-seeds-feminised/">Errors-seeds Feminised</a></li>
                                                                <li><a href="/category/errors-seeds-auto-fen/">Errors-seeds Auto Fem</a></li>
                                                                <li><a href="/category/errors-seeds-cup/">Errors-seeds Cup</a></li>

                                                                </ul></li>

                                                         <li><a href="/category/errors-seeds-import/">Errors-seeds импорт</a>
                                                                <ul>
                                                                <li><a href="/category/errors-seeds-import-feminised/">Errors-seeds импорт Feminised</a></li>
                                                                <li><a href="/category/errors-seeds-import-auto-fem/">Errors-seeds импорт Auto Fem</a></li>


                                                                </ul></li>

                                                         <li><a href="/category/carpathians-seeds/">Carpathians seeds</a>
                                                                <ul>
                                                                <li><a href="/category/carpathians-seeds-auto-fem/">Carpathians seeds Auto Fem</a></li>
                                                                </ul></li>


                                                         <li><a href="/category/green-house-seeds/">Green House Seeds</a>
                                                                <ul>
                                                                <li><a href="/category/green-house-seeds-auto-fem/">Green House Seeds Auto Fem</a></li>
                                                                <li><a href="/category/green-house-seeds-feminised/">Green House Seeds Feminised</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/vision-seeds/">Vision Seeds</a>
                                                                <ul>
                                                                <li><a href="/category/vision-seeds-auto-fem/">Vision Seeds Auto Fem</a></li>
                                                                <li><a href="/category/vision-seeds-feminised/">Vision Seeds Feminised</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
                                                                <ul>
                                                                <li><a href="/category/shortstuff-seeds-auto-fem/">Shortstuff Seeds fem</a></li>
                                                                <li><a href="/category/shortstuff-seeds-auto-reg/">Shortstuff Seeds reg</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/sweet-seeds/">Sweet Seeds</a>
                                                                <ul>
                                                                <li><a href="/category/sweet-seeds-auto-fem/">Sweet Seeds Auto Fem</a></li>
                                                                <li><a href="/category/sweet-seeds-feminised/">Sweet Seeds Feminised</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                                                                <ul>
                                                                <li><a href="/category/dutch-passion-seeds-auto-fem/">Dutch Passion Seeds Auto Fem</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/flash-seeds/">Flash-seeds</a>
                                                                <ul>
                                                                <li><a href="/category/flash-seeds-auto-fem/">Flash-seeds Auto Fem</a></li>
                                                                <li><a href="/category/flash-seeds-regular/">Flash-seeds Regular</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                                                                <ul>
                                                                <li><a href="/category/grass-o-maitc-seeds-auto-fem/">Grass-o-matic seeds Auto Fem</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                                                                <ul>
                                                                <li><a href="/category/joint-doctor-seeds-regular/">Joint Doctor seeds Regular</a></li>
                                                                <li><a href="/category/joint-doctor-seeds-auto-fem/">Joint Doctor seeds Auto Fem</a></li>
                                                                </ul></li>

                                                         <li><a href="/category/seedsman/">Seedsman</a>
                                                                <ul>
                                                                <li><a href="/category/seedsman-auto-fem/">Seedsman Auto Fem</a></li>
                                                                <li><a href="/category/seedsman-regular/">Seedsman Regular</a></li>
                                                                <li><a href="/category/seedsman-feminised/">Seedsman Feminised</a></li>
                                                                </ul></li>




                                                         </ul>



							</li>

							<li><a href="http://jahforum.org/" target="_blank">Форум</a></li>
							<li><a href="https://errors-seeds.com.ua/blog/">Акции</a></li>
							<li><a href="http://jahnews.nl/" target="_blank">Новости</a></li>
							<li><a href="/pricelist">Прайс-лист</a></li>
					
						</ul>
						
{/if}
{if $lang_iso2 == "en"}
<ul class="sf-menu">
							<li class="current"><a href="/">Main</a></li>
							<li>
								<a href="/auxpage_about">About</a>
								<ul>
									<li><a href="#">About1</a></li>
									<li><a href="#">About2</a></li>
								</ul>
							</li>
							<li><a href="#">Forum</a></li>
							<li><a href="#">Chat</a></li>
							<li>
								<a href="/index.php?ukey=news">News</a>
								<ul>
									<li><a href="/index.php?ukey=news&blog_id=1">News1</a></li>
									<li><a href="/index.php?ukey=news&blog_id=2">News2</a></li>
								</ul>
							</li>
							<li><a href="/pricelist">Price</a></li>
							<li><a href="/feedback">Contacts</a></li>
						</ul>
{/if}
				       </div>
				</div>
				</div>
			</div>
			<div class="position_center">
				<div class="search_and_language">
					<div class="search">
                                                 {cpt_product_search overridestyle=':a46412'}
					</div>
					<div class="language">
						<div class="language_flag">
							<!--<a href="/ru"><img src="/images/ru.jpg" /></a>--->
							<!--<a href="/en"><img src="/images/en.jpg" /></a>-->
							<!--<a href="/cz"><img src="/images/hz.jpg" /></a>-->
						</div>
						<div class="currency">
                            {cpt_currency_selection overridestyle=':w1bj1d'}
						</div>
					</div>
				</div>
			</div>
			<div class="bg_banner">
				<div class="position_center">
					<div id="example">
                                                <div id="slides">
						<div class="slides_container">

                                                           <div class="slide">
								<a href="/product/auto-russian-rocket-fuel/">	<img src="/images/02sort.png" alt="" width="645" height="196"/> </a>
								</div> 

                                                          <div class="slide">
								<a href="/blog/22/">	<img src="/images/chasyraboty-2-1.jpg" alt="" width="645" height="196"/> </a>
								</div>



                                               <div class="slide">
								<a href="/blog/32/">	<img src="/images/carp3newstrain.gif" alt="" width="645" height="196"/> </a>
								</div>

                                                          <div class="slide">
								<a href="/blog/36/">	<img src="/images/new50opt.jpg" alt="" width="645" height="196"/> </a>
								</div>
                                                          <div class="slide">
								<a href="/blog/35/">	<img src="/images/new4fem-eu.gif" alt="" width="645" height="196"/> </a>
								</div>

                                                          <div class="slide">
								<a href="/blog/37/">	<img src="/images/s-aprelia.jpg" alt="" width="645" height="196"/> </a>
								</div>
                                                           <div class="slide">
								<a href="/category/shortstuff-seeds/">	<img src="/images/Shortstuff-Seeds-es-com-ua.jpg" alt="" width="645" height="196"/> </a>
								</div> 
                                                           <div class="slide">
								<a href="/category/green-house-seeds/">	<img src="/images/greens.gif" alt="" width="645" height="196"/> </a>
								</div> 

                                                           <div class="slide">
								<a href="/blog/29/">	<img src="/images/import.png" alt="" width="645" height="196"/> </a>
								</div> 


                                                           <div class="slide">
								<a href="/category/new/">	<img src="/images/errors-seeds-com-ua.gif" alt="" width="645" height="196"/> </a>
								</div> 







                                      
                                       


                                                        <div class="slide">
								<a href="/category/new/">	<img src="/images/errors-seeds.gif" alt="" width="645" height="196"/> </a>
								</div>






                                                                              

						<div class="slide">
								<a href="/category/carpathians-seeds">	<img src="/images/banner_carpathians_seeds_645x196.jpg" alt="" width="645" height="196"/> </a>
								</div>


					


						<div class="slide">
								<a href="/search/?searchstring=50-1">	<img src="/images/slid_50_.jpg" alt="" width="645" height="196"/> </a>
								</div>

						<div class="slide">

								<a href="https://errors-seeds.co/" target="_blank">	<img src="/images/slid_es_flag.jpg" alt="" width="645" height="196"/> </a>
								</div>

								<div class="slide">
										<img src="/images/slid3.jpg" alt="" width="645" height="196"/>
								</div>


								<!--- <div class="slide">
										<img src="/images/slidi4.jpg" alt="" width="645" height="196"/>
								</div> --->

							</div>
							<a href="" class="prev"><img src="/images/arrow-prev.png" width="31" height="85" alt="Arrow Prev"></a>
							<a href="" class="next"><img src="/images/arrow-next.png" width="31" height="85" alt="Arrow Next"></a>
						</div>

					</div>
					<a class="cart_block" rel="nofollow" href="/cart">
					<div class="cart">
                        {cpt_shopping_cart_info overridestyle=':itrbyg'}

					</div>
					</a>
                    <div class="main_content_text">
{$selected_category.description}
									<div class="right_column">

									{if $main_content_template == 'category.tpl.html' || $CurrentDivision.ukey == 'product' || $CurrentDivision.ukey == 'search' || $CurrentDivision.ukey == 'pricelist' || $CurrentDivision.ukey == 'category_search'}

									{

}{else}
										<div class="Vwidget">
											<a href="#" class="up" /></a>
												<div class="VjCarouselLite">
													{cpt_product_lists list_id='new' block_height='' overridestyle=':r0n7pp'}
												</div>
											<a href="#" class="down" /></a>
										</div>
										{/if}
									</div>
									<div class="left_column">
										<div class="category">

											{cpt_maincontent overridestyle=':kjaso6'}




{if $CurrentDivision.ukey == 'search'}


<div class="Vwidget" style="float: right; margin-right: -230px; margin-top: -70px;">
											<a href="#" class="up" /></a>
												<div class="VjCarouselLite">
													{cpt_product_lists list_id='new' block_height='' overridestyle=':r0n7pp'}
												</div>

											<a href="#" class="down" /></a>
										</div>

{/if}
{if $categoryID == 562}

{cpt_product_lists list_id='random' block_height='' overridestyle=':lewry3'}
<div class="Vwidget" style="float: right; margin-right: -230px; margin-top: -290px;">
											<a href="#" class="up" /></a>
												<div class="VjCarouselLite">
													{cpt_product_lists list_id='new' block_height='' overridestyle=':r0n7pp'}
												</div>
											<a href="#" class="down" /></a>
									</div>
{/if}

															{if $CurrentDivision.ukey == 'product'}
<div class="right_column" style="margin-top:150px;">
						<div class="block_counter">
							<a  href="https://errors-seeds.com.ua/auxpage_action_list" class="counter_right">
								<img width="200px" src="/banner/free_seed.png" alt="" />
							</a> 
<br /> 
							<a  href="https://errors-seeds.com.ua/auxpage_delivery" class="counter_right">
								<img width="200px" src="/banner/fast_delivery.png" alt="" />
							</a> 
<br /> 

							<div class="social_medialinks">
                                       <noindex>  <div class="share42init"></div>
<script type="text/javascript" src="/share42/share42.js"></script></noindex>
<br />
<div>
<img src="/img/payment.png" /></div>
<br /> <br />
<script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=errors-seeds.com.ua&amp;size=S&amp;lang=en"></script>
						<br /> <!--- <a target="_blank" href="http://jahnews.nl/" class="counter_left">
								<img src="/images/news.gif" alt="Конопляные новости"/>
							</a>
							<a target="_blank" href="http://jahforum.org/" class="counter_right">
								<img src="/images/forum.gif" alt="Форум"/>
							</a>

							<a target="_blank" href="http://jahseeds.com/" class="counter_left">
								<img src="/jah.gif" alt="Семена конопли" />
							</a>
							<a target="_blank" href="http://jahchat.com/" class="counter_right">
								<img src="/images/chat.gif" alt="Чат"/>
							</a>

							<a target="_blank" href="http://growblog.pro/" class="counter_left">
								<img src="/images/growblog882.gif" alt="Гроу Блог"  />
							</a>
							<a target="_blank" href="http://medcannabis.info/" class="counter_right">
								<img src="/images/med88x31.gif" alt="Мед Каннабис" />
							</a> ---->

<br />
							<a target="_blank" href="https://www.facebook.com/ErrorsSeeds" class="counter_right">
								<img src="/images/es_fb_btn.png" alt="ES facebook" />
							</a>
</div>



                                                    <!--
							<a href="#">
								<img src="/images/fb.png" />
							</a>
							<a href="#">
								<img src="/images/tw.png" />
							</a>
							<a href="#">
								<img src="/images/sk.png" />
							</a>
							<a href="#">
								<img src="/images/kn.png" />
							</a> -->

					{/if}

                    </div>

					{if $main_content_template != 'home.html'}
						</div></div><div id="feedback">
						<a href="/reports"><span></span></a>
						</div>
					{/if}



				</div>




			</div>

		</div>
		<div class="clear"></div>
<div style="margin-bottom: 30px; width:900px;margin:0 auto;">
	<div class="footer_sub">
		<div class="f_sub_head">
		Новые и популярные
		</div>
	</div>
	<div class="footer_sub">
		<div class="f_sub_head">
		Помощь
		</div>
	</div>
	<div class="footer_sub">
		<div class="f_sub_head">
		Семена
		</div>
	</div>
	<div class="footer_sub">
		<div class="f_sub_head">
		О магазине
		</div>
	</div>
</div>
<div class="sepa"></div>
<div style="margin-bottom: 30px; width:900px;margin:0 auto;">
	<div class="footer_sub">
		<ul class="sf-menu">
{section name=newsa loop=$NEWS_FOOTER}
			<li>
				<a href="/blog/{$NEWS_FOOTER[newsa].NID}/">{$NEWS_FOOTER[newsa].title_ru}</a>
			</li>
{/section}		
		</ul>
	</div>
	<div class="footer_sub">
		<ul class="sf-menu">
			<li><a href="/auxpage_faq">Часто задаваемые вопросы</a></li>
			<li><a href="/auxpage_kak-kupit-semena-konopli">Как купить семена конопли</a></li>
			<li><a href="/auxpage_adress">Как нас найти</a></li>
			<li><a href="/feedback">Контакты</a></li>
			<li><a href="/auxpage_delivery">Доставка</a></li>
			<li><a href="/auxpage_shipping">Оплата</a></li>
		</ul>
		
	</div>
	<div class="footer_sub">
		<ul class="sf-menu">
			<li><a href="/category/errors-seeds/">Errors-seeds</a>
			</li>
			<li><a href="/category/errors-seeds-import/">Errors-seeds импорт</a>
			</li>
			<li><a href="/category/carpathians-seeds/">Carpathians seeds</a>
			</li>
			<li><a href="/category/green-house-seeds/">Green House Seeds</a>
			</li>
			<li><a href="/category/vision-seeds/">Vision Seeds</a>
			</li>
			<li><a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
			</li>
			<li><a href="/category/sweet-seeds/">Sweet Seeds</a>
			</li>
			<li><a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
			</li>
			<li><a href="/category/flash-seeds/">Flash-seeds</a>
			</li>
			<li><a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
			</li>
			<li><a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
			</li>
			<li><a href="/category/seedsman/">Seedsman</a>
			</li>
		</ul>
	</div>
	<div class="footer_sub">
		<ul class="sf-menu">
			<li>
<a href="https://errors-seeds.com.ua/auxpage_about">О нас</a>
			</li>
			<li>
<a href="https://errors-seeds.com.ua/auxpage_schedule">График работы</a>
			</li>
			<li>
<a href="https://errors-seeds.com.ua/blog/">Блог</a>
			</li>
			<li>
<a href="https://errors-seeds.com.ua/blog/">Акции и скидки</a>
			</li>
		</ul>
	</div>
</div>

		
		<div class="footer">
			<div class="footer_center">
				<div class="copyright"> <!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<img src='//counter.yadro.ru/hit?t12.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='0' height='0'>")
//--></script><!--/LiveInternet-->
					<p>© Errors Seeds Company
{if $lang_iso2 == "ru"}
2009-2014 <a href="http://errors-seeds.com.ua/" >Семена конопли</a>

{/if}
{if $lang_iso2 == "en"}
2009-2013 seeds


{/if}
</p>

				</div>
				<div class="bottom_menu">
{if $lang_iso2 == "ru"}
					<ul class="sf-menu">
                                             <li><a href="http://errors-seeds.ru/" target="_blank">Сувениры из Европы</a></li>
                                             <li><a href="http://ruhemp.com" target="_blank">Применение конопли</a></li>
                                              <li><a href="http://growmarket.com.ua/catalog/osveschenie" target="_blank">Лампы для растений</a></li>
	                                      <li><a href="http://medcannabis.info/" target="_blank"> Медицина </a></li>

					</ul>
{/if}
{if $lang_iso2 == "en"}
<ul class="sf-menu">
						<li><a href="#">Chat</a></li>
						<li><a href="#">Forum</a></li>
						<li><a href="/index.php?ukey=news">News</a></li>
						<li>
							<a href="#">Medicine</a>
							<ul>
								<li><a href="#">Medicine1</a></li>
								<li><a href="#">Medicine2</a></li>
							</ul></li>
					</ul>

{/if}
				</div>
				<p id="back-top">
					<a href="#top"><span></span></a>
				</p>
			</div>

		</div>

<div id="left_tab" style="position:fixed; top:40px;left:-250px; z-index:5000">
	<div style="float:left; width:250px; color:#000; background:#fff;border-radius: 0 0 20px 20px;
-moz-border-radius: 0 0 20px 20px;
-webkit-border-bottom-left-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-khtml-border-radius: 0 0 20px 20px;">

<div class="top" style=" margin-left: 20px;">	<br /><center><p><strong>Компания Errors-seeds</strong></p></center><br />
<p><strong>Связаться с нами и сделать заказ вы можете  можно любым удобным вам способом : </strong></p><br />
<p><strong><span color="#ff0000" style="color: #ff0000;">МТС</span>           +38 095 00 00 849 </strong></p>
<p><span><strong>Kyivstar</strong></span><strong>    +38 096 00 00 849</strong></p>
<p><span><strong>Life  </strong></span><strong>                                    +38 093 00 00 849</strong></p><br />

<p><strong><span color="#ff0000" style="color: #ff0000;">МТС</span>           +38 095 863 93 51 </strong></p>
<p><span><strong>Kyivstar</strong></span><strong>    +38 098 97 31 588</strong></p>
<p><span><strong>Life  </strong></span><strong>                                    +38 063 531 58 98</strong></p><br />





<p><strong>Технические вопросы и оптовые закупки</strong></p>
<p><span><strong>Life    </strong></span><strong>            +38 0930256899</strong></p><br />
<p><strong>Электронные способы связи: </strong></p><br />
<p><strong>errors-seeds@ukr.net   autoryder@gmail.com </strong></p><br /><br />
<center> <p><img src="/images/skype-no.png" alt="МЫ НЕ ИСПОЛЬЗУЕМ SKYPE" /></p></center>
<p>Уважаемые покупатели, в связи с участившимися случаями мошенничества, магазин отказывается от связи через <span style="font-size: large; color: #FF0000;"> <s><b> SKYPE.</b></s> </span></p>
<p>Вместо этого в магазин внедрена специальная система чата.</p>
<br /> <br /> 
</div>
	</div>
	<div  style="float:right; width:29px; height:293px;background:url(/img/label.png) no-repeat">
	</div>
	<div style="clear:both"></div>
</div>