<div class="page">
  <!-- <img style="border: 0; left: 0; position: absolute; top: 0;  z-index:10000;" src="/images/edkraj1.gif" alt="Єдина Країна! Единая Страна!"> -->
  <div class="ajaxBlock"> </div>
  {literal}
  <script type="text/javascript">
    //            $(function () {
    //                if(!localStorage.getItem('polls1')){
    //                    $.ajax({
    //                        url:'index.php?app=QU&template'  ,
    //                        method: 'GET',
    //                        dataType:'html',
    //                        success: function(html){
    //                            console.log(html);
    //                            $('.ajaxBlock').html(html);
    //                            $('.wrapper_popup-ny').show();
    //                            $('.container_wrap_popup-ny').show('slow');
    //                        }
    //                    });
    //                }
    //
    //
    //                    $(document).on('click','.answers_list-variant', function(){
    //                        var iIdAnswer =    $(this).data('id');
    //                        $(this).addClass('active_variant');
    //
    //
    //                        $.ajax({
    //                            url:'index.php?app=QU&id_answer=' + iIdAnswer ,
    //                            method: 'GET',
    //                            dataType:'json',
    //                            success: function(json){
    //                                console.log(json);
    //                                localStorage.setItem('polls1', 'true');
    //                                $('.answers_list').animate({opacity: '0%'}, 1500);
    //                                $('.green_block_main-text').animate({opacity: '0%'}, 1500);
    //                                $('.container_popup-ny').delay(1500).animate({paddingBottom:'+=80px'},1000);
    //                                $('.answers_list').delay(500).slideUp(500);
    //                                $('.green_block_main-text').delay(500).slideUp(500);
    //                                $('.green_block').delay(2000).animate({paddingBottom:'-=10px'},1000);
    //                                $('.thanks_for_choise').delay(3000).fadeIn(800).delay(2000).queue(function(){
    //                                    $('.wrapper_popup-ny').animate({opacity:'0%'});
    //                                    $('.wrapper_popup-ny').delay(3000).remove();
    //                                });
    //
    //                            }
    //                        })
    //
    //                        //         $('.answers_list').animate({
    //                        //             height: '+=30px',
    //                        //         }, 1000, function() {
    //                        //         });
    //                        //         $('.answers_list').hide('slow');
    //                        //         $('.green_block_main-text').hide('slow');
    //                        //         $('.green_block').css('padding-bottom','15px');
    //                        //         $('.container_popup-ny').css('padding-bottom', '80px');
    //                        //         $('.thanks_for_choise').delay(3000).show('slow');
    //                        //         // $('.wrapper_popup-ny').delay(10000).hide('slow');
    //                        //         // $('body').removeClass('mantle_popup_ny', 3000);
    //                        //     }
    //                        // })
    //
    //
    //
    //                    });
    //                    $(document).on('click','.popun_ny_close', function (){
    //                        if(localStorage.getItem('polls1') === true){
    //                            $('.wrapper_popup-ny').hide('slow');
    //                            // $('body').removeClass('mantle_popup_ny', 3000)
    //                        } else {
    //                            $.ajax({
    //                            url:'index.php?app=QU&id_answer=',
    //                            method: 'GET',
    //                            dataType:'json',
    //                            success: function(json){
    //                                console.log(json);
    //                                localStorage.setItem('polls1', 'true');
    //                                $('.wrapper_popup-ny').hide('slow');
    //                                $('body').removeClass('mantle_popup_ny', 3000);
    //                              }
    //                            });
    //                        }
    //                });
    //
    //            });



    // var activeVariant = getElementsByClassName('active_variant');
    // var checkedVar =[]
    // checkedVar.push($('.activeVariant').getAttr('data-id'));
    // console.log(checkedVar);
    // localStorage.setItem('polls1', 'true');
  </script>
  {/literal} {literal}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "Errors Seeds",
      "contentUrl": "/published/publicdata/WEBASYST/attachments/SC/products_pictures/semena-fotoperiodichnogo-feminizirovannogo-sorta-Somango-Feminised.jpg"
    }
  </script>
  {/literal}
  <!--id=polls1
   data-id -->
  <div class="bg_header">
    <div class="new1_bg">
      <div class="position_center">
        <div class="header">
          {if $lang_iso2 == "ru"}
          <a href="/" class="logo">
            {/if}
            {if $lang_iso2 == "ua"}
            <a href="/ua" class="logo">
            {/if}
            <img src="/published/publicdata/WEBASYST/attachments/SC/themes/images/logo.png" />
            </a>
          <div class="login">
            {cpt_survey overridestyle=':tj7wv2'}
            <div class="count-down-block" style="height: 130px;">
              <div class="header-switcher">
                <button id="header-switcher__button" type='submit'>
                        <noindex>
                        <a rel='http://new.errors-seeds.com.ua/' class='header-switcher__link hidli' href="#">
                        {if $lang_iso2 == "ru"}
                        Перейти на новую версию сайта
                        {/if}
                        {if $lang_iso2 == "ua"}
                        Перейти на нову версію сайту
                        {/if}</a>
                        <noindex>
                     </button>
              </div>
            </div>
            <style>
              .header-switcher {
                background: #f92332;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                text-transform: uppercase;
                color: white;
                width: 285px;
                justify-content: center;
                margin-top: 70px;
                margin-left: 50px;
                border-radius: 4px;
              }

              #header-switcher__button {
                outline: none;
                border: none;
                background: transparent;
                padding: 10px 0;
                text-transform: uppercase;
              }

              .header-switcher a {
                text-decoration: none;
              }

              .header-switcher a:hover,
              .header-switcher a:visited,
              .header-switcher a:active {
                text-decoration: none;
                color: white;
              }
            </style>
            {include file="login.html"} {if !$log}<a class="input" id="trigg" href="javascript:void(0);">
               {if $lang_iso2 == "ru"}
               Вход
               {/if}
               {if $lang_iso2 == "ua"}
               Вхід
               {/if}
               </a> {else}
            <a class="input" id="trigg" href="javascript:void(0);" style="background:url(../images/bg_cabinet.png);
                  width:70px;
                  height:24px;
                  text-align:center;
                  float:left;
                  margin-right:10px;">
               {if $lang_iso2 == "ru"}Кабинет {/if} {if $lang_iso2 == "ua"} Кабінет {/if}
               </a> {/if} {if !$log}<a href="{'?ukey=register'|set_query_html}" class="registration">
               {if $lang_iso2 == "ru"}
               Регистрация
               {/if}
               {if $lang_iso2 == "ua"}
               Реєстрація
               {/if}
               </a> {/if}
          </div>
          <div class="phone">
            <img src="/images/phone_icon.png" />
            <div class="phone_number">
              <p>
                <span>+38 093</span>
                <!-- No Skype -->00-00-849
              </p>
              <p>
                <span>+38 095</span>
                <!-- No Skype -->00-00-849
              </p>
              <p>
                <span>+38 096</span>
                <!-- No Skype -->00-00-849
              </p>
            </div>
          </div>
        </div>
        <div class="menu">
          {if $lang_iso2 == "ru"}
          <ul class="sf-menu">
            <li class="current"><a href="/">Главная</a></li>
            <li class="current">
              <a href="#">О магазине</a>
              <ul>
                <li><a href="/auxpage_about/">О нас</a></li>
                <li><a href="/auxpage_faq/">Часто задаваемые вопросы</a></li>
                <li><a href="/auxpage_schedule/">График работы</a></li>
                <li><a href="/auxpage_delivery/">Доставка</a></li>
                <li><a href="/auxpage_shipping/">Оплата</a></li>
                <li><a href="/auxpage_adress/">Как нас найти</a></li>
                <li><a href="/auxpage_kak-kupit-semena-konopli/">Как купить семена конопли</a></li>
                <li><a href="/feedback/">Контакты</a></li>
                <!-- <li><a href="/blog/">Блог</a></li> -->
                <li>
                  <a href="/auxpage_polit/">Политика замены и возврата</a>
                  <ul>
                    <li><a href="/auxpage_indiv/">Для частных лиц</a></li>
                    <li><a href="/auxpage_for-shop/">Для магазинов</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Семена</a>
              <ul>
                <li>
                  <a href="/category/errors-seeds/">Errors Seeds Silver</a>
                  <ul>
                    <li><a href="/category/errors-seeds-auto/">Errors Seeds Silver Auto</a></li>
                    <li><a href="/category/errors-seeds-regular/">Errors Seeds Silver Regular</a></li>
                    <li><a href="/category/errors-seeds-feminised/">Errors Seeds Silver Feminised</a></li>
                    <li><a href="/category/errors-seeds-auto-fem/">Errors Seeds Silver Auto Fem</a></li>
                    <li><a href="/category/errors-seeds-cup/">Errors Seeds Silver Cup</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/errors-seeds-import/">Errors Seeds Gold</a>
                  <ul>
                    <li><a href="/category/errors-seeds-import-feminised/">Errors Seeds Gold Feminised</a></li>
                    <li><a href="/category/errors-seeds-import-auto-fem/">Errors Seeds Gold Auto Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/carpathians-seeds/">Carpathians seeds</a>
                  <ul>
                    <li><a href="/category/carpathians-seeds-auto-fem/">Carpathians seeds Auto Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/neuroseeds/">Neuroseeds</a>
                  <ul>
                    <li><a href="/category/neuroseeds-auto-fem/">Neuroseeds auto fem</a></li>
                    <li><a href="/category/neuroseeds-fem/">Neuroseeds fem</a></li>
                  </ul>
                </li>
                <li><a href="/category/cbd-sorta/">CBD сорта</a>
                </li>
                <li>
                  <a href="/category/victory-seeds/">Victory Seeds</a>
                  <ul>
                    <li><a href="/category/victory-seeds-auto-fem/">Victory Seeds Auto Fem</a></li>
                    <li><a href="/category/victory-seeds-fem/">Victory Seeds Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/bulk-seed-bank/">Bulk Seed Bank</a>
                  <ul>
                    <li><a href="/category/bulk-seed-bank-auto-fem/">Bulk Seed Bank Auto Fem</a></li>
                    <li><a href="/category/bulk-seed-bank-fem/">Bulk Seed Bank Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/green-house-seeds/">Green House Seeds</a>
                  <ul>
                    <li><a href="/category/green-house-seeds-auto-fem/">Green House Seeds Auto Fem</a></li>
                    <li><a href="/category/green-house-seeds-feminised/">Green House Seeds Feminised</a></li>
                  </ul>
                </li>
                <li><a href="/category/mandala-seeds-/">Mandala Seeds</a>
                </li>
                <li><a href="/category/kannabia/">Kannabia</a>
                </li>
                <li><a href="/category/pyramid-seeds/">Pyramid Seeds</a>
                </li>
                <li><a href="/category/humboldt/">Humboldt</a>
                </li>
                <li>
                  <a href="https://errors-seeds.com.ua/category/drugie/">Другие</a>
                  <ul>
                    <li>
                      <a href="/category/vision-seeds/">Vision Seeds</a>
                      <ul>
                        <li><a href="/category/vision-seeds-auto-fem/">Vision Seeds Auto Fem</a></li>
                        <li><a href="/category/vision-seeds-feminised/">Vision Seeds Feminised</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
                      <ul>
                        <li><a href="/category/shortstuff-seeds-auto-fem/">Shortstuff Seeds fem</a></li>
                        <li><a href="/category/shortstuff-seeds-auto-reg/">Shortstuff Seeds reg</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/sweet-seeds/">Sweet Seeds</a>
                      <ul>
                        <li><a href="/category/sweet-seeds-auto-fem/">Sweet Seeds Auto Fem</a></li>
                        <li><a href="/category/sweet-seeds-feminised/">Sweet Seeds Feminised</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                      <ul>
                        <li><a href="/category/dutch-passion-seeds-auto-fem/">Dutch Passion Seeds Auto Fem</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/flash-seeds/">Flash-seeds</a>
                      <ul>
                        <li><a href="/category/flash-seeds-auto-fem/">Flash-seeds Auto Fem</a></li>
                        <li><a href="/category/flash-seeds-regular/">Flash-seeds Regular</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                      <ul>
                        <li><a href="/category/grass-o-maitc-seeds-auto-fem/">Grass-o-matic seeds Auto Fem</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                      <ul>
                        <li><a href="/category/joint-doctor-seeds-regular/">Joint Doctor seeds Regular</a></li>
                        <li><a href="/category/joint-doctor-seeds-auto-fem/">Joint Doctor seeds Auto Fem</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/seedsman/">Seedsman</a>
                      <ul>
                        <li><a href="/category/seedsman-auto-fem/">Seedsman Auto Fem</a></li>
                        <li><a href="/category/seedsman-regular/">Seedsman Regular</a></li>
                        <li><a href="/category/seedsman-feminised/">Seedsman Feminised</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="https://errors-seeds.com.ua/auxpage_action_list">Акции</a></li>
            <!--<li><a href="/category/black-friday/">Black Friday</a></li>-->
            <li><a rel="nofollow" href="https://errors-seeds.com.ua/blog/">Новости</a></li>
            <li>
              <a href="https://errors-seeds.com.ua/auxpage_sotrudnichestvo/">Сотрудничество</a>
              <ul>
                <li><a href="https://errors-seeds.com.ua/auxpage_referalnaya_programma">Реферальная программа</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_opt">Опт</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_dropshipping">Дропшиппинг</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_interesnyy_kontent">Интересный контент</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_smm">SMM </a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_distribjucija">Дистрибьюция</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_briderstvo">Бридерство</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_vakansii">Вакансии</a></li>
                <li><a href="https://errors-seeds.com.ua/pricelist/?in_stock=yes">Прайс-лист</a></li>
              </ul>
            </li>
            <li><a href="/auxpage_law/">Закон</a></li>
          </ul>
          {/if} {if $lang_iso2 == "ua"}
          <ul class="sf-menu">
            <li class="current"><a href="/ua">Головна</a></li>
            <li class="current">
              <a href="#">О магазині</a>
              <ul>
                <li><a href="/ua/auxpage_about/">О нас</a></li>
                <li><a href="/ua/auxpage_faq/"> Часті питання </a></li>
                <li><a href="/ua/auxpage_schedule/"> Графік роботи </a></li>
                <li><a href="/ua/auxpage_delivery/">Доставка</a></li>
                <li><a href="/ua/auxpage_shipping/">Оплата</a></li>
                <li><a href="/ua/auxpage_adress/">Як нас знайти</a></li>
                <li><a href="/ua/auxpage_kak-kupit-semena-konopli/">Як купити насіння коноплі</a></li>
                <li><a href="/ua/feedback/">Контакти</a></li>
                <!-- <li><a href="/ua/blog/">Блог</a></li> -->
                <li>
                  <a href="/ua/auxpage_polit/"> Політика заміни і повернення </a>
                  <ul>
                    <li><a href="/ua/auxpage_indiv/"> Для приватних осіб </a></li>
                    <li><a href="/ua/auxpage_for-shop/">Для магазинів</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Насіння</a>
              <ul>
                <li>
                  <a href="/ua/category/errors-seeds/">Errors Seeds Silver</a>
                  <ul>
                    <li><a href="/ua/category/errors-seeds-auto/">Errors Seeds Silver Auto</a></li>
                    <li><a href="/ua/category/errors-seeds-regular/">Errors Seeds Silver Regular</a></li>
                    <li><a href="/ua/category/errors-seeds-feminised/">Errors Seeds Silver Feminised</a></li>
                    <li><a href="/ua/category/errors-seeds-auto-fem/">Errors Seeds Silver Auto Fem</a></li>
                    <li><a href="/ua/category/errors-seeds-cup/">Errors Seeds Silver Cup</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/ua/category/errors-seeds-import/">Errors Seeds Gold</a>
                  <ul>
                    <li><a href="/ua/category/errors-seeds-import-feminised/">Errors Seeds Gold Feminised</a></li>
                    <li><a href="/ua/category/errors-seeds-import-auto-fem/">Errors Seeds Gold Auto Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/ua/category/neuroseeds/">Neuroseeds</a>
                  <ul>
                    <li><a href="/ua/category/neuroseeds-auto-fem/">Neuroseeds auto fem</a></li>
                    <li><a href="/ua/category/neuroseeds-fem/">Neuroseeds fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/ua/category/carpathians-seeds/">Carpathians seeds</a>
                  <ul>
                    <li><a href="/ua/category/carpathians-seeds-auto-fem/">Carpathians seeds Auto Fem</a></li>
                  </ul>
                </li>
                <li><a href="https://errors-seeds.com.ua/category/cbd-sorta/">CBD сорта</a>
                </li>
                <li>
                  <a href="/category/victory-seeds/">Victory Seeds</a>
                  <ul>
                    <li><a href="/category/victory-seeds-auto-fem/">Victory Seeds Auto Fem</a></li>
                    <li><a href="/category/victory-seeds-fem/">Victory Seeds Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/bulk-seed-bank/">Bulk Seed Bank</a>
                  <ul>
                    <li><a href="/category/bulk-seed-bank-auto-fem/">Bulk Seed Bank Auto Fem</a></li>
                    <li><a href="/category/bulk-seed-bank-fem/">Bulk Seed Bank Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/green-house-seeds/">Green House Seeds</a>
                  <ul>
                    <li><a href="/category/green-house-seeds-auto-fem/">Green House Seeds Auto Fem</a></li>
                    <li><a href="/category/green-house-seeds-feminised/">Green House Seeds Feminised</a></li>
                  </ul>
                </li>
                <li><a href="/ua/category/mandala-seeds-/">Mandala Seeds</a>
                  <li><a href="/ua/category/kannabia/">Kannabia</a>
                  </li>
                  <li><a href="/ua/category/pyramid-seeds/">Pyramid Seeds</a>
                  </li>
                  <li><a href="/ua/category/humboldt/">Humboldt</a>
                  </li>
                  <li>
                    <a href="https://errors-seeds.com.ua/category/drugie/">Інші</a>
                    <ul>
                      <li>
                        <a href="/category/vision-seeds/">Vision Seeds</a>
                        <ul>
                          <li><a href="/category/vision-seeds-auto-fem/">Vision Seeds Auto Fem</a></li>
                          <li><a href="/category/vision-seeds-feminised/">Vision Seeds Feminised</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
                        <ul>
                          <li><a href="/category/shortstuff-seeds-auto-fem/">Shortstuff Seeds fem</a></li>
                          <li><a href="/category/shortstuff-seeds-auto-reg/">Shortstuff Seeds reg</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/sweet-seeds/">Sweet Seeds</a>
                        <ul>
                          <li><a href="/category/sweet-seeds-auto-fem/">Sweet Seeds Auto Fem</a></li>
                          <li><a href="/category/sweet-seeds-feminised/">Sweet Seeds Feminised</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                        <ul>
                          <li><a href="/category/dutch-passion-seeds-auto-fem/">Dutch Passion Seeds Auto Fem</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/flash-seeds/">Flash-seeds</a>
                        <ul>
                          <li><a href="/category/flash-seeds-auto-fem/">Flash-seeds Auto Fem</a></li>
                          <li><a href="/category/flash-seeds-regular/">Flash-seeds Regular</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                        <ul>
                          <li><a href="/category/grass-o-maitc-seeds-auto-fem/">Grass-o-matic seeds Auto Fem</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                        <ul>
                          <li><a href="/category/joint-doctor-seeds-regular/">Joint Doctor seeds Regular</a></li>
                          <li><a href="/category/joint-doctor-seeds-auto-fem/">Joint Doctor seeds Auto Fem</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/seedsman/">Seedsman</a>
                        <ul>
                          <li><a href="/category/seedsman-auto-fem/">Seedsman Auto Fem</a></li>
                          <li><a href="/category/seedsman-regular/">Seedsman Regular</a></li>
                          <li><a href="/category/seedsman-feminised/">Seedsman Feminised</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </li>
              </ul>
            </li>
            <li><a href="/ua/auxpage_action_list/">Акції</a></li>
            <!--<li><a href="/category/black-friday/">Black Friday</a></li>-->
            <li><a href="/ua/blog/">Новини</a></li>
            <li>
              <a href="https://errors-seeds.com.ua/auxpage_sotrudnichestvo/">Співпраця</a>
              <ul>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_referalnaya_programma">Реферальна програма</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_opt">Опт</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_dropshipping">Дропшиппінг</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_interesnyy_kontent">Цікавий контент</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_smm">SMM </a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_distribjucija">Дистриб'юція</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_briderstvo">Брідерство</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_vakansii">Вакансії</a></li>
                <li><a href="https://errors-seeds.com.ua/pricelist/?in_stock=yes">Прайс-лист</a></li>
              </ul>
            </li>
            <li><a href="/ua/auxpage_law/">Закон</a></li>
          </ul>
          {/if}
        </div>
      </div>
    </div>
  </div>
  <div class="position_center">
    <div class="search_and_language">
      <div class="search">
        {cpt_product_search overridestyle=':a46412'}
      </div>
      {if $lang_iso2 == "ru"}
     <a class="cart_block" rel="nofollow" href="/?ukey=cart&view=noframe&ordering=yep">
       <div class="cart">
         {cpt_shopping_cart_info overridestyle=':itrbyg'}
       </div>
     </a>
     {/if} {if $lang_iso2 == "ua"}
     <a class="cart_block" rel="nofollow" href="/ua/?ukey=cart&view=noframe&ordering=yep">
       <div class="cart">
         {cpt_shopping_cart_info overridestyle=':itrbyg'}
       </div>
     </a>
     {/if}

    </div>
  </div>
  {if $lang_iso2 == "ru"}
  <div class="bg_banner">
    <div class="position_center">
      <div id="example">
        <div id="slides">
          <div class="slides_container">






            <div class="slide">
              <a href="/blog/209/" target="_blank">
            <img src="/images/New-seeds-645x196.jpg" alt="" width="645" height="196" />
            </a>
            </div>
            <div class="slide">
              <a href="https://errors-seeds.com.ua/blog/203/" target="_blank">
            <img src="/images/Return-back2-645x196.jpg" alt="" width="645" height="196" />
            </a>
            </div>
            <div class="slide">
              <a href="https://errors-seeds.com.ua/blog/190/" target="_blank">
            <img src="https://errors-seeds.com.ua/images/Firmennaya-upakovka-rus-645х196.jpg" alt="" width="645" height="196" />
            </a>
            </div>
            <div class="slide">
              <a href="https://errors-seeds.com.ua/blog/192/" target="_blank">
            <img src="https://errors-seeds.com.ua/images/legalno.jpg" alt="" width="645" height="196" />
            </a>
            </div>
            <div class="slide">
              <a href="https://errors-seeds.com.ua/blog/147/" target="_blank">
            <img src="https://errors-seeds.com.ua/images/bonusprogramm645x196.jpg" alt="" width="645" height="196" />
            </a>
            </div>
            <div class="slide">
              <a href="https://errors-seeds.com.ua/blog/130/" target="_blank">
            <img src="https://errors-seeds.com.ua/images/coolbonus645x196.jpg" alt="" width="645" height="196" />
            </a>
            </div>
            <div class="slide">
              <a href="https://errors-seeds.com.ua/blog/162/" target="_blank">
            <img src="https://errors-seeds.com.ua/images/stels-old-es.png" alt="" width="645" height="196" />
            </a>
            </div>
          </div>
          <a href="" class="prev"><img src="/images/arrow-prev.png" width="31" height="85" alt="Arrow Prev"></a>
          <a href="" class="next"><img src="/images/arrow-next.png" width="31" height="85" alt="Arrow Next"></a>
        </div>
        <!-- <div class="get-contacts-holder">
      <form action="#" id="get_contacts">
                                        <p>Получите скидку <span>7%</span> <img src="images/comuaoldarrow.png" alt="Получите скидку 7%"></p>
                            <input type="email" class="get-contacts-email" name="addEmailSubscribe" placeholder="1. ВВЕДИТЕ ВАШ Е-MAIL">
                            <input type="submit" class="get-contacts-submit" value="2. Нажмите на кнопку">
      </form>
                                 <p class="greytext" style="text-align:center;font-size:14px;font-style:italic;">*Действует только для ранее не использовавшихся для заказа e-mail'ов</p>
      </div> -->
      </div>
      {/if} {if $lang_iso2 == "ua"}
      <div class="bg_banner">
        <div class="position_center">
          <div id="example">
            <div id="slides">
              <div class="slides_container">





                <div class="slide">
                  <a href="/ua/blog/209/" target="_blank">
            <img src="/images/New-seeds-645x196.jpg" alt="" width="645" height="196" />
            </a>
                </div>
                <div class="slide">
                  <a href="https://errors-seeds.com.ua/blog/203/" target="_blank">
                  <img src="/images/Return-back-ukr-645x196.jpg" alt="" width="645" height="196" />
                  </a>
                </div>
                <div class="slide">
                  <a href="https://errors-seeds.com.ua/blog/130/" target="_blank">
                  <img src="http://new.errors-seeds.com.ua/image/catalog/old.com.ua/bonusprogramm645x196.jpg" alt="" width="645" height="196" />
                  </a>
                </div>
                <div class="slide">
                  <a href="https://errors-seeds.com.ua/blog/147/" target="_blank">
                  <img src="http://new.errors-seeds.com.ua/image/catalog/Bannera/645x196.jpg" alt="" width="645" height="196" />
                  </a>
                </div>
                <!--
                  <div class="slide">
                                      <a href="/product/641/">    <img src="/images/russiansnowfeminised-comua.jpg" alt="" width="645" height="196"/> </a>
                                  </div>

                                                                  <div class="slide">
                                  <a href="/ua/blog/89/"> <img src="/images/new_import.png" alt="" width="645" height="196"/> </a>
                                  </div>

                                                                  <div class="slide">
                                                                  <a href="/blog/93/">
                                      <img src="/images/ukraine-new-4.png" alt="Новинки украинского производства" width="645" height="196"/> </a>
                                  </div>

                                                                  <div class="slide">
                                                          <a href="/blog/93/">
                                  <img src="/images/letnienovinki.png" alt="" width="645" height="196"/> </a>
                                  </div>
                              -->
              </div>
              <a href="" class="prev"><img src="/images/arrow-prev.png" width="31" height="85" alt="Arrow Prev"></a>
              <a href="" class="next"><img src="/images/arrow-next.png" width="31" height="85" alt="Arrow Next"></a>
            </div>
            <!-- <div class="get-contacts-holder">
            <form action="#" id="get_contacts">
                  <p>Отримайте знижку <span>7%</span> <img src="images/comuaoldarrow.png" alt="Отримати знижку 7%"></p>
                  <input type="email" class="get-contacts-email" placeholder="1.  Введіть ваш e-mail" name="addEmailSubscribe">
                  <input type="submit" class="get-contacts-submit" value="2. Натисніть на кнопку">
            </form>
            <p class="greytext" style="text-align:center;font-size:14px;font-style:italic;">*Діє тільки для e-mail'ів які раніше не використовувалися для замовлень</p>


            </div> -->
          </div>
          {/if}
          <div class="language">
            <div class="language_flag">
              <a href="/{$header_links.hreflang.ru}"><img src="/images/ru.jpg" /></a>
              <a href="/{$header_links.hreflang.uk}"><img src="/images/ua.png" /></a>
              <!--<a href="/cz"><img src="/images/hz.jpg" /></a>-->
            </div>
            <div class="currency">
              {cpt_currency_selection overridestyle=':w1bj1d'}
            </div>
          </div>
          <div class="exchange">
            <div class="etext"><span>
            {if $lang_iso2 == "ru"}Курсы Валют
            {/if}
            {if $lang_iso2 == "ua"}
            Курси Валют
            {/if}
            </span>
            </div>
            <div class="texc">
              {foreach from=$currencies item=currenciesItem key=currenciesCode} {*{$currenciesCode}@{$currenciesItem.Name}
              <br> *} {* Назначить базовую валюту *} {assign var="main_currency" value="0"} {* курс к базовой не выводить *} {if $currenciesCode
              <> $main_currency} {* показать список курсов *} {math assign="exchangeRate" equation="a/b" a=$currencies.$currenciesCode.currency_value b=$currencies.$main_currency.currency_value format="%0.3f"}
                <div>
                  <span class="{$currenciesItem.currency_iso_3}">{$currenciesItem.currency_iso_3}</span> {""|currency:$currencies.$main_currency.currency_iso_3|replace:"`$smarty.ldelim`value`$smarty.rdelim`":1} = {if $currencies.$currenciesCode.currency_iso_3
                  == 'USD'} {$exchangeRate} USD {* ""|currency:$currencies.$currenciesCode.currency_iso_3|replace:"`$smarty.ldelim`value`$smarty.rdelim`":$exchangeRate *} {elseif $currencies.$currenciesCode.currency_iso_3 == 'EUR'} {$exchangeRate} EURO
                  {* ""|currency:$currencies.$currenciesCode.currency_iso_3|replace:"`$smarty.ldelim`value`$smarty.rdelim`":$exchangeRate *} {else} {""|currency:$currencies.$currenciesCode.currency_iso_3|replace:"`$smarty.ldelim`value`$smarty.rdelim`":$exchangeRate}
                  {/if} {* $currencies.$currenciesCode|@debug_print_var *}
                </div>
                {/if} {/foreach}
            </div>
          </div>
          <div class="main_content_text">
            {if $CurrentDivision.ukey != 'product'} {$selected_category.description} {/if}
            <div class="right_column">
              {if $main_content_template == 'category.tpl.html' || $CurrentDivision.ukey == 'product' || $CurrentDivision.ukey == 'search' || $CurrentDivision.ukey == 'pricelist' || $CurrentDivision.ukey == 'category_search'} { }{else}
              <div class="Vwidget custom-container vertical">
                <a href="#" class="up" /></a>
                <div class="VjCarouselLite">
                  {cpt_product_lists list_id='new' block_height='' overridestyle=':r0n7pp'}
                </div>
                <a href="#" class="down" /></a>
              </div>
                   <div class="seedbanks">
                     <a href="https://errors-seeds.com.ua/category/errors-seeds-import/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/es.png">
                        <span>Errors Seeds</span>
                     </div>
                    </a>
                    <a href="ttps://errors-seeds.com.ua/category/neuroseeds/">
                     <div>
                      <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/neuroseeds.png">
                      <span>Neuroseeds</span>
                    </div>
                   </a>
                   <a href="https://errors-seeds.com.ua/category/victory-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/victory.png">
                        <span>Victory Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/bulk-seed-bank/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/bulk.png">
                        <span>Bulk Seed Bank</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/green-house-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/ghs.png">
                        <span>Green House Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/mandala-seeds-/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/mandala.png">
                        <span>Mandala Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/kannabia/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/cannabia.png">
                        <span>Kannabia</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/pyramid-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/pyrs.png">
                        <span>Pyramid Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/humboldt/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/humboldt.png">
                        <span>Humboldt</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/dutch-passion-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/dutch.png">
                        <span>Dutch Passion Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/vision-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/visions.png">
                        <span>Vision Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/shortstuff-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/shortstuff.png">
                        <span>Shortstuff Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/sweet-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/sweet.png">
                        <span>Sweet Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/grass-o-matic-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/grass-m.png">
                        <span>Grass-O-Matic Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/joint-doctor-seeds/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/joint.png">
                        <span>Joint Doctor Seeds</span>
                     </div>
                    </a>
                    <a href="https://errors-seeds.com.ua/category/seedsman/">
                      <div>
                        <img src="/published/publicdata/WEBASYST/attachments/SC/products_pictures/seedbanks/seedsman.png">
                        <span>Seedsman</span>
                     </div>
                    </a>
</div>
              
              {/if}
            </div>
            <div class="left_column">
              <div class="category">
                {cpt_maincontent overridestyle=':kjaso6'} {if $CurrentDivision.ukey == 'search'}
                <div class="Vwidget" style="float: right; margin-right: -230px; margin-top: -70px;">
                  <a href="#" class="up" /></a>
                  <div class="VjCarouselLite">
                    {cpt_product_lists list_id='new' block_height='' overridestyle=':r0n7pp'}
                  </div>
                  <a href="#" class="down" /></a>
                </div>
                {/if} {if $categoryID == 562} {cpt_product_lists list_id='random' block_height='' overridestyle=':lewry3'}
                <div class="Vwidget" style="float: right; margin-right: -230px; margin-top: -290px;">
                  <a href="#" class="up" /></a>
                  <div class="VjCarouselLite">
                    {cpt_product_lists list_id='new' block_height='' overridestyle=':r0n7pp'}
                  </div>
                  <a href="#" class="down" /></a>
                </div>
                {/if} {if $CurrentDivision.ukey == 'product'}
                <div class="right_column" style="margin-top:200px;">
                                        
                      
                      {/if}
                    </div>
                  </div>
                </div>
                {if $main_content_template != 'home.html'}
                <div id="feedback" class="{$lang_iso2}">
                  {if $lang_iso2 == 'ua'}
                  <a href="ua/reports/"><span></span></a> {else}
                  <a href="/reports/"><span></span></a> {/if}
                </div>
                {/if}
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div style="margin-bottom: 30px; width:900px;margin:0 auto;">
            <div class="footer_sub">
              <div class="f_sub_head">
                {if $lang_iso2 == "ru"} Новые и популярные {/if} {if $lang_iso2 == "ua"} Нові та популярні {/if}
              </div>
            </div>
            <div class="footer_sub">
              <div class="f_sub_head">
                {if $lang_iso2 == "ru"} Помощь {/if} {if $lang_iso2 == "ua"} Допомога {/if}
              </div>
            </div>
            <div class="footer_sub">
              <div class="f_sub_head">
                {if $lang_iso2 == "ru"} Семена {/if} {if $lang_iso2 == "ua"} Насiння {/if}
              </div>
            </div>
            <div class="footer_sub">
              <div class="f_sub_head">
                {if $lang_iso2 == "ru"} О магазине {/if} {if $lang_iso2 == "ua"} О магазині {/if}
              </div>
            </div>
          </div>
          <div class="sepa"></div>
          <div style="margin-bottom: 30px; width:900px;margin:0 auto;">
            <div class="footer_sub">
              <ul class="sf-menu">
                {section name=newsa loop=$NEWS_FOOTER}
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/blog/{$NEWS_FOOTER[newsa].NID}/">
                  {$NEWS_FOOTER[newsa].title_ru}
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/blog/{$NEWS_FOOTER[newsa].NID}/">
                  {$NEWS_FOOTER[newsa].title_ua}
                  </a> {/if}
                </li>
                {/section}
              </ul>
            </div>
            <div class="footer_sub">
              <ul class="sf-menu">
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/auxpage_faq/">
                  Часто задаваемые вопросы
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/auxpage_faq/">
                  Часті питання
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/auxpage_kak-kupit-semena-konopli/">
                  Как купить семена конопли
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/auxpage_kak-kupit-semena-konopli/">
                  Як купити насіння коноплі
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/auxpage_adress/">
                  Как нас найти
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/auxpage_adress/">
                  Як нас знайти
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/feedback/">
                  Контакты
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/feedback/">
                  Контакти
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/auxpage_delivery/">
                  Доставка
                  </a> {/if}
                  <li>
                    {if $lang_iso2 == "ua"}
                    <a href="/ua/auxpage_delivery/">
                  Доставка
                  </a> {/if}
                  </li>
                  <li>
                    {if $lang_iso2 == "ru"}
                    <a href="/auxpage_shipping/">
                  Оплата
                  </a> {/if} {if $lang_iso2 == "ua"}
                    <a href="/ua/auxpage_shipping/">
                  Оплата
                  </a> {/if}
                  </li>
              </ul>
            </div>
            {if $lang_iso2 == "ru"}
            <div class="footer_sub">
              <ul class="sf-menu">
                <li><a href="/category/errors-seeds/">Errors-seeds</a>
                </li>
                <li><a href="/category/errors-seeds-import/">Errors-seeds импорт</a>
                </li>
                <li><a href="/category/carpathians-seeds/">Carpathians seeds</a>
                </li>
                <li><a href="/category/green-house-seeds/">Green House Seeds</a>
                </li>
                <li><a href="/category/vision-seeds/">Vision Seeds</a>
                </li>
                <li><a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
                </li>
                <li><a href="/category/sweet-seeds/">Sweet Seeds</a>
                </li>
                <li><a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                </li>
                <li><a href="/category/flash-seeds/">Flash-seeds</a>
                </li>
                <li><a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                </li>
                <li><a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                </li>
                <li><a href="/category/seedsman/">Seedsman</a>
                </li>
              </ul>
            </div>
            {/if} {if $lang_iso2 == "ua"}
            <div class="footer_sub">
              <ul class="sf-menu">
                <li><a href="/ua/category/errors-seeds/">Errors-seeds</a>
                </li>
                <li><a href="/ua/category/errors-seeds-import/">Errors-seeds імпорт</a>
                </li>
                <li><a href="/ua/category/carpathians-seeds/">Carpathians seeds</a>
                </li>
                <li><a href="/ua/category/green-house-seeds/">Green House Seeds</a>
                </li>
                <li><a href="/ua/category/vision-seeds/">Vision Seeds</a>
                </li>
                <li><a href="/ua/category/shortstuff-seeds/">Shortstuff Seeds</a>
                </li>
                <li><a href="/ua/category/sweet-seeds/">Sweet Seeds</a>
                </li>
                <li><a href="/ua/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                </li>
                <li><a href="/ua/category/flash-seeds/">Flash-seeds</a>
                </li>
                <li><a href="/ua/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                </li>
                <li><a href="/ua/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                </li>
                <li><a href="/ua/category/seedsman/">Seedsman</a>
                </li>
              </ul>
            </div>
            {/if}
            <div class="footer_sub">
              <ul class="sf-menu">
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/auxpage_about/">
                  О нас
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/auxpage_about/">
                  Про нас
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/auxpage_schedule/">
                  График работы
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/auxpage_schedule/">
                  Графік роботи
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/blog/">
                  Блог
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/blog/">
                  Блог
                  </a> {/if}
                </li>
                <li>
                  {if $lang_iso2 == "ru"}
                  <a href="/sitemap/">
                  Карта сайта
                  </a> {/if} {if $lang_iso2 == "ua"}
                  <a href="/ua/sitemap/">
                  Карта сайту
                  </a> {/if}
                </li>
                <li>
                  <p class="f_sub_head">{if $lang_iso2 == "ru"}Мы в соцсетях{/if} {if $lang_iso2 == "ua"}Ми в соцмережах{/if}</p>
                  <div class="sepa"></div>
                  <div class="block_counter">
      							<a href="#" id="instagram" class="counter_right hidli" target="_blank" rel="https://www.instagram.com/errorsseeds_ua/">
      								<img src="/images/Inst1.png" alt="instagram" />
      							</a>
      							<a href="viber://tel:80930000849"  class="counter_right">
      								<img src="/images/viberPNG.png" alt="viber" />
      							</a>
      							<a target="_blank" href="#" class="counter_right hidli" rel="https://www.facebook.com/ESseeds/">
      								<img src="/images/Fb1.png" alt="ES facebook" />
      							</a>
      							<a target="_blank" href="#" class="counter_right hidli" rel="https://vk.com/esfun">
      								<img src="/images/vkPNG.png" alt="ES vk" />
      							</a>
                    <a target="_blank" href="#" class="counter_right hidli" rel="https://t.me/Errors_Seeds">
								      <img src="/images/teleg.png" alt="ES telegram" />
							      </a>
                    <a target="_blank" href="#" class="counter_right hidli" rel="https://www.youtube.com/channel/UCGbT16AzYmYf4RgSkancbJw">
								      <img src="/images/YT-1.png" alt="ES YouTube" />
							      </a>
                  <div>
                </li>
                <li><div class="payment"><img src="/img/payment.png"></div></li>
              </ul>
            </div>
          </div>
          <style>
            .cpp-container {
              display: none;
            }
          </style>
          <div class="footer">
            <div class="footer_center">
              <div class="copyright">
                <!--LiveInternet counter-->
                <script type="text/javascript">
                  <!--
                  document.write("<img src='//counter.yadro.ru/hit?t12.6;r" +
                    escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                      ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                        screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                    ";" + Math.random() +
                    "' alt='' title='LiveInternet: показано число просмотров за 24" +
                    " часа, посетителей за 24 часа и за сегодня' " +
                    "border='0' width='0' height='0'>")
                  //-->
                </script>
                <!--/LiveInternet-->
                <p>Made with ♥ for great people</p>
                <p>© Errors Seeds Company {if $lang_iso2 == "ru"} 2009-{$smarty.now|date_format:"%Y"} <a href="http://errors-seeds.com.ua/">Семена конопли</a> {/if} {if $lang_iso2 == "ua"} 2009-{$smarty.now|date_format:"%Y"} <a href="http://errors-seeds.com.ua/ua">Насіння коноплі</a>                  {/if}
                </p>
              </div>
              <div class="bottom_menu">
                {if $lang_iso2 == "ru"}
                <ul class="sf-menu">
                  <li><a rel="http://growmarket.com.ua/catalog/osveschenie" href="#" target="_blank" class="hidli">Лампы для растений</a></li>
                  <li><a rel="http://medcannabis.info/" href="#" target="_blank" class="hidli"> Медицина </a></li>
                </ul>
                {/if} {if $lang_iso2 == "ua"}
                <ul class="sf-menu">
                  <li><a rel="http://growmarket.com.ua/catalog/osveschenie" href="#" target="_blank" class="hidli">Лампи для рослин</a></li>
                  <li><a rel="http://medcannabis.info/" href="#" target="_blank" class="hidli"> Медицина </a></li>
                </ul>
                {/if}
              </div>
              <p id="back-top">
                <a href="#top"><span></span></a>
              </p>
            </div>
          </div>
          <!-- <div id="right_tab" class="mCustomScrollbar" data-mcs-theme="dark">
         <div class="reg-holder">
             {if $login|escape:'html' ==''}
             <span class="reg-btn">Быстрая регистрация</span>
                     <div id="bonus_popup" class="popupRegister">

                                      <div class="agr-reg-wrap reg-popup">
                                        <h1>Регистрация</h1>
                                        <div class="text-wrap">
                                            <h3>Уважаемые покупатели!</h3>
                                            <p class="text">Зарегистрируйтесь и получите возможность мгновенно узнавать о всех акциях, скидках и розыгрышах от Errors Seeds!</p>
                                        </div>
                               <form  id="bonus_reg_form" method="post" name="RegisterForm">

                                 <div class="js-message-from-backend  style-message-from-backend">
                                 </div>
                                 <div class="form_wrapper">
                                     <table>
                                         <tr>
                                           <td><input type="text" name="login" data-name="login" value="{$login|escape:'html'}" placeholder="* {"usr_custinfo_login"|translate}"></td>
                                         </tr>
                                         <tr>
                                             <td><input type="text" name="email" data-name="email" value="{$email|escape:'html'}" placeholder="* {"usr_custinfo_email"|translate}"></td>
                                         </tr>
                                         <tr>
                                             <td><input type="password" name="cust_password1" data-name="cust_password1" value="{$cust_password1|escape:'html'}" placeholder="* {"usr_custinfo_password"|translate}"></td>
                                         </tr>
                                         <tr>
                                             <td><input type="password" name="cust_password2" data-name="cust_password2" value="{$cust_password2|escape:'html'}" placeholder="* {"usrreg_customer_confirm_password"|translate}"></td>
                                         </tr>
                                     </table>
                                     <div class="button-holder">
                                         <input  value="Регистрация" type="submit" id="reg_submit_btn_left_form"  name="save" />
                                         <div class="choise-reg">
                                           <button id="red_no_reg" class="agr-reg-buttons">Отмена</button>
                                                 <p class="form_res"></p>
                                         </div>
                                     </div>

                                 </div>
                               </form>
                       </div>


                     </div>
             {/if}
         </div>


         </div> -->
          <div id="left_tab" style="position:fixed; top:40px;left:-287px; z-index:5000">
            <div class="left_tab-holder" style="position:relative;">
              <div style="float:left; width:287px; color:#000; background:#fff;">
                {if $lang_iso2 == "ru"}
                <div class="top" style="font-size: 12px;padding: 10px 0 11px;text-align: center;"><strong>Компания Errors-seeds</strong></div>
                <div style="background: #9ad322 url(/img/tel1.png) no-repeat scroll 24px center;color:#fff;padding:3px 12px;">
                  <div style="background: url(/img/tel2.png) no-repeat scroll right 0 center; font-size: 10pt; font-weight: 700; padding: 12px 35px 12px 46px;}">
                    С нами легко связаться! <br/> У нас легко сделать заказ!
                  </div>
                </div>
                <div style="background-color:#fff;color:#010101;padding: 5px 12px;">
                  <div style="display:inline-block;margin-right:8px;vertical-align:middle">
                    <div class="mts">+38&nbsp;095</div>
                    <div class="lif">+38&nbsp;093</div>
                    <div class="kvs">+38&nbsp;096</div>
                  </div>
                  <div style="display:inline-block;font-size:39px;vertical-align:middle">0000&nbsp;849</div>
                  <div style="padding: 5px 0">*Один удобный номер для всех операторов!</div>
                </div>
                <div style="background-color: #9ad322;color: #ffffff;padding: 5px 12px 7px;text-align: center;">
                  <div><span class="notel">Не дозвонились?</span></div>
                  <div style="font-size:10pt">Вам помогут наши резервные номера</div>
                </div>
                <div style="background-color:#fff;color:#010101;padding: 5px 12px 7px;text-align:center">
                  <!-- <p><span class="mts">+38&nbsp;095</span>&nbsp;863&nbsp;93&nbsp;51</p> -->
                  <p><span class="lif">+38&nbsp;063</span>&nbsp;531&nbsp;58&nbsp;98</p>
                </div>
                <div style="background-color:#9ad322;color:#fff;padding: 5px 12px 7px; font-size:12pt">
                  <div class="tehask">Технические вопросы и оптовые закупки</div>
                </div>
                <div style="background-color:#fff;color:#010101;padding: 5px 12px 7px;text-align:center">
                  <p><span class="lif">+38&nbsp;093</span>&nbsp;025&nbsp;68&nbsp;99</p>
                </div>
                <div style="background-color:#9ad322;color:#fff; font-size:12pt">
                  <div class="insv">Интернет связь</div>
                </div>
                <div style="background-color:#fff;color:#010101;text-align:center">
                  <div><span class="left-mail">
                     autoryder@gmail.com</span>
                  </div>
                  <div><span class="left-viber">+38 093 00 00 849</span></div>
                </div>
                <div style="background-color:#9ad322;color:#fff;padding: 5px 12px 7px; font-size:10pt">
                  <div style="font-size:14pt;">Компания Errors-seeds</div>
                  <div>С нами удобно :)</div>
                </div>
              </div>
              <div style="position:absolute;top:0;right:-29px; width:29px; height:217px;background:url(/img/label.png) no-repeat"></div>
              <div style="clear:both"></div>
              {/if} {if $lang_iso2 == "ua"}
              <div class="top" style="font-size: 12px;padding: 10px 0 11px;text-align: center;"><strong>Компанія Errors-seeds</strong></div>
              <div style="background: #9ad322 url(/img/tel1.png) no-repeat scroll 24px center;color:#fff;padding:3px 12px;">
                <div style="background: url(/img/tel2.png) no-repeat scroll right 0 center; font-size: 10pt; font-weight: 700; padding: 12px 35px 12px 46px;}">
                  З нами легко зв'язатися! <br/> У нас легко зробити замовлення!
                </div>
              </div>
              <div style="background-color:#fff;color:#010101;padding: 5px 12px;">
                <div style="display:inline-block;margin-right:8px;vertical-align:middle">
                  <div class="mts">+38&nbsp;095</div>
                  <div class="lif">+38&nbsp;093</div>
                  <div class="kvs">+38&nbsp;096</div>
                </div>
                <div style="display:inline-block;font-size:39px;vertical-align:middle">0000&nbsp;849</div>
                <div style="padding: 5px 0">*Один зручний номер для усiх операторів!</div>
              </div>
              <div style="background-color: #9ad322;color: #ffffff;padding: 5px 12px 7px;text-align: center;">
                <div><span class="notel">Або не додзвонилися?</span></div>
                <div style="font-size:10pt">Вам допоможуть наші резервні номери</div>
              </div>
              <div style="background-color:#fff;color:#010101;padding: 5px 12px 7px;;text-align:center">
                <p><span class="mts">+38&nbsp;095</span>&nbsp;863&nbsp;93&nbsp;51</p>
                <p><span class="lif">+38&nbsp;063</span>&nbsp;531&nbsp;58&nbsp;98</p>
              </div>
              <div style="background-color:#9ad322;color:#fff;padding: 5px 12px 7px; font-size:12pt">
                <div class="tehask">Техничні запитання та оптові закупівлі</div>
              </div>
              <div style="background-color:#fff;color:#010101;padding: 5px 12px 7px;text-align:center">
                <p><span class="lif">+38&nbsp;093</span>&nbsp;025&nbsp;68&nbsp;99</p>
              </div>
              <div style="background-color:#9ad322;color:#fff; font-size:12pt">
                <div class="insv">Інтернет зв'язок</div>
              </div>
              <div style="background-color:#fff;color:#010101;text-align:center">
                <div><span class="left-mail">
                  autoryder@gmail.com</span>
                </div>
                <div><span class="left-viber">+38 093 00 00 849</span></div>
              </div>
              <div style="background-color:#9ad322;color:#fff;padding: 5px 12px 7px; font-size:10pt">
                <div style="font-size:14pt;">Компанія Errors-seeds</div>
                <div>З нами зручно :)</div>
              </div>
            </div>
            <div style="position:absolute;top:0;right:-29px;width:29px; height:217px;background:url(/img/label-ua.png) no-repeat"></div>
            <div style="clear:both"></div>
            {/if}
          </div>
        </div>
      </div>
