<table style="width: 100%; padding: 0px;" class="table_product">
<tr>
<td id="prddeatailed_container">
{cpt_product_images}
<div class="product_descript_right">
<div class="senderror">

{if $lang_iso2 == "ua"}
<a href="javascript:void(0)" onclick="PressLink()">Якщо Ви знайшли помилку, видільте її і натисніть ctrl+enter</a>
{/if}
{if $lang_iso2 == "ru"}
<a href="javascript:void(0)" onclick="PressLink()">Если Вы нашли ошибку на сайте, выделите ее и нажмите ctrl+enter</a>
{/if}
</div>
<!-- cpt_container_start -->{cpt_product_name overridestyle=''}<!-- cpt_container_end -->
<!-- cpt_container_start -->
<style>
.regularPrice{
text-decoration: line-through red;
}
</style>
{cpt_product_params_fixed overridestyle=''}
{cpt_product_price overridestyle=''}


{cpt_product_rate_form overridestyle=''}
{cpt_product_params_selectable overridestyle=':zog0w1'}
{* in stock info *}
	{if $smarty.const.CONF_CHECKSTOCK == '1'}
		{if $product_info.in_stock > 0}
		<div class="in_stock_block">
			<!-- {"str_in_stock"|translate}:  -->
			{if $smarty.const.CONF_EXACT_PRODUCT_BALANCE}
				{$product_info.in_stock}
			{else}
				<!-- {"str_answer_yes"|translate} -->

{if $lang_iso2 == "ru"}
				<p class="yes_to_stock">Есть в наличии</p>
	{/if}	
{if $lang_iso2 == "ua"}
				<p class="yes_to_stock">Є в наявності</p>
	{/if}	
	{/if}
		</div>
		{/if}
	{/if}

{* in stock info *}
		{if $product_info.in_stock  < 1}
		<div class="in_stock_block">
{if $product_info.list_price != 0}{if $lang_iso2 == "ru"}
				<p class="yes_to_stock">К сожалению, товар распродан</p>
	{/if}	
{if $lang_iso2 == "ua"}
				<p class="yes_to_stock">Нажаль, товар закiнчився</p>
	{/if}	{else}
{if $lang_iso2 == "ru"}
				<p class="yes_to_stock">Нет в наличии</p>
	{/if}	
{if $lang_iso2 == "ua"}
				<p class="yes_to_stock">Немає в наявності</p>
	{/if}	
		</div>
		{/if}
{/if}

{cpt_product_add2cart_button request_product_count='request_product_count' overridestyle=':zw9m1c'}
<!-- cpt_container_end -->
</div>
<tr>
<td>

</td>
</tr>


<tr>
<td>
<div class="reviews_and_descript">
<div class="bord-bot">
{if $lang_iso2 == "ru"}
<span id="descript" class="tab">Описание</span>
	{/if}	
{if $lang_iso2 == "ua"}
<span id="descript" class="tab">Опис</span>
	{/if}	
<span id="review" class="tab">{lbl_pgn_product_reviews}  ({$product_reviews_count})</span>
</div>
<div class="descript_product_full">
{cpt_product_description overridestyle=''}
</div>
<div class="reviews_block">

<!-- cpt_container_start -->{cpt_product_discuss_link overridestyle=''}{cpt_product_details_request overridestyle=''}<!-- cpt_container_end --></td>

</tr>
</table>
{cpt_product_related_products overridestyle=':ecn44x'}
</div></div>
