.cb {
	clear:both !important; 
	height:0 !important; 
	margin:0 !important; 
	padding:0 !important; 
	overflow:hidden !important; 
	line-height:0 !important; 
	font-size:0 !important;
}
/******************************************************
	TEMPLATsE
******************************************************/

#win{
	position:absolute; 
	z-index:2000; 
	top:0;
	left:0;
	
	display:none;
	height:100%;
	width:900px;
	float:left;
	left:50%;
	margin-left:-450px;
}
#popup{
	padding:0; 
	position:relative; 
	width:227px;
	height:112px;
	text-align:center;
	top:62px !important;
	left:309px !important;
	/*z-index:3000; */
	z-index:9999999999999999999999999 !important;
	background:url(../images/popup_bg.png) no-repeat;
	float:left;
}
#cancel{
	display:block; 
	float:right; 
	width:9px; 
	height:7px; 
	background:url(../images/close.png) no-repeat; 
	cursor:pointer;
	position:absolute;
	top:9px;
	right:13px;
}
#obj{display:none;}
.sample{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:12px;
}