<?php echo $header; ?>
<div class="container">
  <div class="sort-wr">
      <div class="sort row flex-wrap justify-content-between">
          <div class="back-cat col-12 col-md-5 align-self-center">
              <?php $i = 0;
              foreach ($breadcrumbs as $breadcrumb) {
                  $i++; ?>
                  <?php if ($i == 1) {
                      $class = '<i class="fa fa-arrow-left" aria-hidden="true"></i>';
                  } else {
                      $class = '';
                  } ?>
                  <a <?php if(isset($breadcrumb['href'])){ ?> href="<?php echo $breadcrumb['href'];?><?php } ?>"><?= $class; ?><?php echo $breadcrumb['text']; ?>
                      <span> /</span></a>
              <?php } ?>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3"><?php echo $column_left; ?></div>
    <div id="content" class="col-12 col-md-9">

      <?php echo $content_top; ?>
      <?php if (!empty($affiliate_id)){ ?>
      <h1><?php echo $heading_title; ?></h1>
      <p><?php echo $text_balance; ?> <strong><?php echo $quantity; ?></strong>.</p>

    <?php } ?>
      <div class="text-right"><?php echo $pagination; ?></div>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
