html, body {
  padding: 0;
  margin: 0
}

table {
  empty-cells: show
}

body.body-checkout {
  background: #fff !important
}

.regheader {
  width: 80%;
  color: black;
  padding: 3px;
  text-align: left;
  font-size: 15px
}

input.checknomarging {
  margin: 0
}

input.input_message {
  color: #aaa
}

input.input_message_focus {
  color: #000
}

ul.product_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: auto;
  text-align: center
}

ul.product_list li {
  text-align: center;
  margin: 0;
  padding: 0;
  float: left
}

#powered_by {
  font-size: 70%;
  text-align: center;
  color: #777;
  padding-top: 10px;
  padding-bottom: 5px
}

#powered_by a {
  color: #777;
  text-decoration: none
}

.sm-current-rating1 {
  background: transparent url(../images_common/starvote.png) repeat-x scroll left top;
  height: 20px;
  line-height: 20px;
  margin: 4px;
  position: relative;
  width: 70px;
  overflow: hidden
}

.sm-current-rating1 div.sm-current-rating1-back {
  background: transparent url(../images_common/starvote.png) repeat-x scroll left top;
  height: 20px;
  line-height: 20px;
  font-size: 0;
  position: absolute;
  width: 70px;
  z-index: 10
}

.sm-current-rating1 div.sm-current-rating1-front {
  background: transparent url(../images_common/star1.png) repeat-x scroll left top;
  height: 20px;
  line-height: 13px;
  font-size: 0;
  position: absolute;
  z-index: 20
}

.current-rating1 {
  background: transparent url(../images_common/starvote.png) repeat-x scroll left top;
  height: 20px;
  line-height: 20px;
  position: relative;
  width: 70px;
  overflow: hidden;
  margin-top: 5px;
}
.current-rating1.review-rating{
  margin-top: 0;
  margin-left: 5px
}
.current-rating1 div.current-rating1-back {
  background: transparent url(../images_common/starvote.png) repeat-x scroll left top;
  height: 20px;
  line-height: 20px;
  position: absolute;
  width: 70px;
  z-index: 10;
  font-size: 0
}

.current-rating1 div.current-rating1-front {
  background: transparent url(../images_common/star1.png) repeat-x scroll left top;
  height: 20px;
  line-height: 20px;
  position: absolute;
  z-index: 20;
  font-size: 0
}

.unit-rating {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 20px;
  position: relative;
  background: url('../images_common/starvote.png') top left repeat-x;
  width: 70px
}

.unit-rating li {
  text-indent: -90000px;
  padding: 0;
  margin: 0;
  /*\*/
  float: left;
  /**/
}

.unit-rating li a {
  outline: 0;
  display: block;
  width: 14px;
  height: 20px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0
}

.unit-rating li a:hover {
  background: url('../images_common/star1.png') left center;
  z-index: 2;
  left: 0
}

.unit-rating a.r1-unit {
  left: 0
}

.unit-rating a.r1-unit:hover {
  width: 14px
}

.unit-rating a.r2-unit {
  left: 14px
}

.unit-rating a.r2-unit:hover {
  width: 28px
}

.unit-rating a.r3-unit {
  left: 28px
}

.unit-rating a.r3-unit:hover {
  width: 42px
}

.unit-rating a.r4-unit {
  left: 42px
}

.unit-rating a.r4-unit:hover {
  width: 56px
}

.unit-rating a.r5-unit {
  left: 56px
}

.unit-rating a.r5-unit:hover {
  width: 70px
}

.unit-rating li.current-rating {
  background: url('../images_common/starvote.png') left bottom;
  position: absolute;
  height: 20px;
  display: block;
  text-indent: -9000px;
  z-index: 1
}

.review_content {
  overflow: hidden;
  oveflow-x: hidden;
  padding: 0 85px 0 0;
  zoom: 1
}

@media print {
  input, .noprint {
    display: none
  }
}
