<?php echo $header; ?>
<div class="container">
  <div class="main_content_text">
    <div class="right_column">
      <?php echo $column_right; ?>
    </div>
    <div class="left_column">
      <?php echo $column_left; ?>
    </div>
  </div>
</div>
<?php echo $footer; ?>
