.bal-loading {
	text-align: center;
	z-index: 100;
	width:115px;
	padding: 20px;
	color: #222;
	display:block;
	margin:0  auto;
	font-size:14px;
	font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
span.results{
	display: block;
}
a[rel=next]{
	text-decoration: none;
	font-size: 18px;
}
div.bal-box-next{
	cursor: pointer;
	display: block!important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ddd;
	background: #efefef;
	text-align: center;
	font-weight: bold;
	box-shadow: 2px 2px 2px rgba(50,50,50,.4);
	color: #444;
	text-decoration: none;
	padding: 5px;
}
div.bal-box-next:hover{
	background:#dfdfdf;color:#222
}
.row.bal{
	display: none;
}