<div class="well">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label" for="input-product_name"><?php echo $entry_name; ?></label>
        <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-product_name" class="form-control" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label" for="input-email"><?php echo $entry_email; ?></label>
        <input type="text" name="filter_email" value="<?php echo $filter_email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-email" class="form-control" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label" for="input-date-added"><?php echo $entry_date_added; ?></label>
          <div class="input-group date">
            <input type="text" name="filter_date_added" value="<?php echo $filter_date_added; ?>" placeholder="<?php echo $entry_date_added; ?>" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label" for="input-date-expired"><?php echo $entry_date_expired; ?></label>
          <div class="input-group date">
            <input type="text" name="filter_date_expired" value="<?php echo $filter_date_expired; ?>" placeholder="<?php echo $entry_date_expired; ?>" data-date-format="YYYY-MM-DD" id="input-date-expired" class="form-control" />
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label" for="input-quantity"><?php echo $entry_quantity; ?></label>
        <input type="text" name="filter_quantity" value="<?php echo $filter_quantity; ?>" placeholder="<?php echo $entry_quantity; ?>" id="input-quantity" class="form-control" />
      </div>
    </div>


    <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> <?php echo $button_filter; ?></button>

  </div>
</div>
<div class="table-responsive">

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td><input type="checkbox" name="select_all" value="active\[\]"></td>
        <td class="text-left"><?php if ($sort == 'nr.customer_id') { ?>
          <a href="<?php echo $sort_customer; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_customer; ?></a>
          <?php } else { ?>
          <a href="<?php echo $sort_customer; ?>"><?php echo $column_customer; ?></a>
          <?php } ?>
        </td>
        <td class="text-left"><?php if ($sort == 'nr.email') { ?>
          <a href="<?php echo $sort_email; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_email; ?></a>
          <?php } else { ?>
          <a href="<?php echo $sort_email; ?>"><?php echo $column_email; ?></a>
          <?php } ?>
        </td>
        <td class="text-left"><?php if ($sort == 'nr.date_added') { ?>
          <a href="<?php echo $sort_date_added; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_added; ?></a>
          <?php } else { ?>
          <a href="<?php echo $sort_date_added; ?>"><?php echo $column_date_added; ?></a>
          <?php } ?>
        </td>
        <td class="text-left"><?php if ($sort == 'nr.date_expired') { ?>
          <a href="<?php echo $sort_date_expired; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_expired; ?></a>
          <?php } else { ?>
          <a href="<?php echo $sort_date_expired; ?>"><?php echo $column_date_expired; ?></a>
          <?php } ?>
        </td>
        <td class="text-left"><?php if ($sort == 'product_name') { ?>
          <a href="<?php echo $sort_name; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_product_name; ?></a>
          <?php } else { ?>
          <a href="<?php echo $sort_name; ?>"><?php echo $column_product_name; ?></a>
          <?php } ?>
        </td>
        <td class="text-left"><?php if ($sort == 'nr.quantity') { ?>
          <a href="<?php echo $sort_quantity; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_quantity; ?></a>
          <?php } else { ?>
          <a href="<?php echo $sort_quantity; ?>"><?php echo $column_quantity; ?></a>
          <?php } ?>
        </td>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($requests_data as $request_data){ ?>
      <tr>
        <td class="checkbox_td"> <input type="checkbox" name="active[]" value="<?php echo $request_data['request_id']; ?>"> </td>
        <td class="text-left">
          <?php if($request_data['customer_data']){ ?>
            <a href="<?php echo $request_data['customer_data']['href'];?>"> <?php echo $request_data['customer_data']['customer_name'];?> </a>
          <?php }else{ ?>
            <?php echo $text_guest; ?>
          <? } ?>
        </td>
        <td class="text-left">
          <?php echo $request_data['email']; ?>
        </td>
        <td class="text-left">
          <?php echo $request_data['date_added']; ?>
        </td>
        <td class="text-left">
          <?php echo $request_data['date_expired']; ?>
        </td>
        <td class="text-left">
          <?php echo $request_data['product_name']; ?>
        </td>
        <td class="text-left">
          <?php echo $request_data['notification_quantity']; ?>
        </td>
      </tr>
      <? } ?>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-7 col-md-offset-7 text-left">
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="reason-active"><?php echo $entry_reason; ?></label>
            <select name="reason" id="reason-active" class="form-control">
            <option value=""></option>
            <option value="invalid_email"><?php echo $text_invalid_email; ?></option>
            <option value="product_out_of_sale"><?php echo $text_product_out_of_sale; ?></option>
            <option value="outdated_request"><?php echo $text_outdated_request; ?></option>
        </select>
        </div>
        <button type="button" class="btn btn-danger button-delete" onclick="deleteRequest(active);"><i class="fa fa-trash"></i> <?php echo $button_delete; ?></button>
        <button type="button" id="button-make-notification" class="btn btn-primary"><i class="fa fa-envelope"></i> <?php echo $button_make_notification; ?></button>
      </div>
    </div>
  </div>
  <br>

<div class="row">
  <div data-paginate="active" class="col-sm-6 text-left"><?php echo $pagination; ?></div>
  <div class="col-sm-6 text-right"><?php echo $results; ?></div>
</div>
</div>

<script type="text/javascript"><!--

$('#active input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('#active input[name=\'filter_name\']').val(item['label']);
	}
});

$('#active').delegate('.pagination a', 'click', function(e) {
	e.preventDefault();

	$('#active').load(this.href);
});

$('#active').delegate('thead a', 'click', function(e) {
	e.preventDefault();

	$('#active').load(this.href);
});

$('#active #button-filter').on('click', function() {
  var url = 'index.php?route=request/new_request/paginate&tab=active&token=<?php echo $token; ?>';

  var filter_quantity = $('#active input[name=\'filter_quantity\']').val();

  if (filter_quantity) {
    url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
  }

  var filter_name = $('#active input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_email = $('#active input[name=\'filter_email\']').val();

  if (filter_email) {
    url += '&filter_email=' + encodeURIComponent(filter_email);
  }

  var filter_date_added = $('#active input[name=\'filter_date_added\']').val();

  if (filter_date_added) {
    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
  }

  var filter_date_expired = $('#active input[name=\'filter_date_expired\']').val();

  if (filter_date_expired) {
    url += '&filter_date_expired=' + encodeURIComponent(filter_date_expired);
  }

  $('#active').load(url);
});

$('.date').datetimepicker({
	pickTime: false
});

</script>

<script type="text/javascript"><!--
$('#button-make-notification').on('click', function() {
var requests_id = [];

$('input[name="active[]"]:checked').each(function () {
  $(this).parents().each(function () {
    if ($(this).is('tr')) {
      $(this).remove();
      return;
    }
  });
  requests_id.push($(this).val());
});
if (requests_id.length) {
$.ajax({
  url: 'index.php?route=request/new_request/makeNotification&token=<?php echo $token;?>',
  type: 'post',
  dataType: 'json',
  data: 'requests_id=' + requests_id,
  beforeSend: function() {
    $('#button-make-notification').button('loading');
  },
  complete: function() {
    $('#button-make-notification').button('reset');
  },
  success: function(json) {
    $('.alert').remove();

    $.each(json, function(tab, value) {
      $('#' + tab).html(value);
    });
  }
});
}
});
//--></script>
