/**
* @version     1.0
* @module      Product 3D/360 Viewer for OpenCart
* @author      AJAX-ZOOM
* @copyright   Copyright (C) 2016 AJAX-ZOOM. All rights reserved.
* @license     http://www.ajax-zoom.com/index.php?cid=download
*/


/* Overwrite some css from /axZm/extensions/skins/default/jquery.axZm.thumbSlider.css */
.axZmThumbSlider li{
	background-color: #FFF!important; overflow: hidden; box-shadow: none !important;
}

.axZmThumbSlider li.vertical {
	border-color: #dadae5;
	margin: 10px 0px 10px 5px; /* space between thumbs*/
	border-radius: 0;
}

.axZmThumbSlider li.vertical.mousehover{
	border-color: #5f7285;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Horizontal items selected */
.axZmThumbSlider li.vertical.selected {
	border: 1px solid #d9400b; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:none;
}



/* Overwrite some css from /axZm/axZm.css */
.axZm_zoomHorGalleryDescr{display:none;}
.axZm_zoomHorGalleryDescr{display: none;}
#axZm_zoomContainer{background-color: #FFFFFF;}
.axZm_zoomContainer{background-color: #FFFFFF;}
.axZm_zoomGalleryVerticalContainer{background-color: #FFFFFF;}
.zFsO{background-color: #FFFFFF;}
.zFsOResOverlay{background-color: #FFFFFF;}
#axZmTempLoading{background-image: url('axZm/icons/ajax-loader-bert.gif'); background-repeat: no-repeat; background-position: center;}

/* Vertical Thumbs */
.axZm_zoomGalleryBox, .axZm_zoomGalleryBoxOver, .axZm_zoomGalleryBoxSelected{
	border-color: #dadae5; /*anim*/
	background-color: #FFFFFF; /*anim*/
	color: #444444; /*anim*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.axZm_zoomGalleryBoxSelected{
	border-color: #d9400b; /*anim*/
	background-color: #FFFFFF; /*anim*/
	color: #444444; /*anim*/
}

.axZm_zoomGalleryBoxOver{
	border-color: #5f7285; /*anim*/
	background-color: #FFFFFF; /*anim*/
	color: #444444; /*anim*/
}

/* the css is byloaded, so we use important here */
.jspTrack{background-image: none !important; background-color: #E7E7E7 !important;}

.axZm_spinPreloaderBar{
	background-color: #0191ff;
	background-image: url('axZm/icons/spin_preloader_blue_10x10.png');
}

.axZm_spinPreloaderHolder{
	background-image: url('axZm/icons/tr_black_50.png');
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/* frontend layout */
#az_mouseOverZoomParent{
	margin-bottom: 20px;
	float: left;
	width: 250px;	
}

#az_mouseOverZoomContainer{
	position: relative;
	border: transparent 1px solid; 
	background-color: #FFFFFF; 
	padding: 0;
}

.az_mouseOverZoomGallery_bottom{
	position: relative; 
	margin-top: 20px; 
	width: 100%; 
	display: none;
}

.az_mouseOverZoomGallery_top{
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}

.az_mouseOverZoomGallery_left{
	position: absolute; 
	z-index: 1; 
	height: 100%;
}

.az_mouseOverZoomGallery_right{
	position: absolute; 
	right: 0; 
	z-index: 1; 
	height: 100%;
}

#az_mouseOverZoomContainerParentGalleryLeft{
	min-height: 100px;
}

#az_mouseOverZoomContainerParentGalleryRight{
	min-height: 100px;
}

