/**
* @version     3.0
* @module      Product 3D/360 Viewer for OpenCart
* @author      AJAX-ZOOM
* @copyright   Copyright (C) 2017 AJAX-ZOOM. All rights reserved.
* @license     http://www.ajax-zoom.com/index.php?cid=download
*/

/* Overwrite some css from /axZm/axZm.css */
#axZmTempLoading {
	background-image: url('axZm/icons/ajax-loader-bert.gif');
	background-repeat: no-repeat; background-position: center;
}

/* remove gallery in default template */
#content ul.thumbnails {
	display: none !important;
}

.az_parent_children > *:not(.axZm_mouseOverWithGalleryContainer) {
	display: none !important;
}