<div class="about_us">
  <div class="about_us_top">
    <h1>Errors Seeds</h1>
    <p>Errors Seeds — перший український сідбанк і один з перших сідбанків на ринку СНД. В першу чергу, ми - виробники високоякісного насіння та нових стрейнів.</p>
    <p>Ми стежимо за якістю роботи протягом усього шляху насіння: від селекціонерів, які займаються генетикою сортів і проводять фемінізацію насіння, до відділу фасування, працівників складу та менеджерів, які спілкуються з клієнтами.
    </p>
  </div>
  <div class="history">
    <p class="title">Історія</p>
    <p>Ми вже 11 років на ринку насіння канабісу, тому, працюючи з Errors Seeds, ви можете бути впевненими в тому, що все буде на вищому рівні. Наші головні принципи - якість, сервіс, доступність, швидкість.
Вже 11 років ми намагаємося задовольнити запити всіх наших клієнтів, від початківців гроверів до оптових покупців.</p>
    <p>Компанія стежить за всіма тенденціями ринку насіння канабісу в світі і намагається повністю їм відповідати, щоб наші клієнти могли отримувати найбільш сучасні рішення!</p>
  </div>
  <div class="geography">
    <div class="owl-carousel geography_carousel">
      <div class="geography_item" data-dot="<span>2009</span>">
        <div class="text">
          <p>У цьому році народився наш перший магазин в Україні!</p>
        </div>
        <div class="map">
          <img src="/catalog/view/theme/old/images/map2009.jpg" alt="">
        </div>
      </div>
      <div class="geography_item" data-dot="<span>2012</span>">
        <div class="text">
          <p>Перший філіал компанії з'явився в Пермі.</p>
        </div>
        <div class="map">
          <img src="/catalog/view/theme/old/images/map2012.jpg" alt="">
        </div>
      </div>
      <div class="geography_item" data-dot="<span>2014</span>">
        <div class="text">
          <p>Філіал відкритий в Москві.</p>
        </div>
        <div class="map">
          <img src="/catalog/view/theme/old/images/map2014.jpg" alt="">
        </div>
      </div>
      <div class="geography_item" data-dot="<span>2016</span>">
        <div class="text">
          <p>На прохання багатьох клієнтів ми відкрили філіал в Грузії.</p>
        </div>
        <div class="map">
          <img src="/catalog/view/theme/old/images/map2016.jpg" alt="">
        </div>
      </div>
      <div class="geography_item" data-dot="<span>2018</span>">
        <div class="text">
          <p>Рік став по-справжньому врожайним. Філіал відкритий в Санкт-Петербурзі та Челябінську. Розширили нашу географію, додавши на карту Errors Seeds не тільки міста, а й нові країни - Казахстан!</p>
        </div>
        <div class="map">
          <img src="/catalog/view/theme/old/images/map2018.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="principles">
    <div class="text">
      <p class="title">Наші головні принципи:</p>
      <p>Вже 11 років ми намагаємося задовольнити запити всіх наших клієнтів, від початківців гроверів до оптових покупців.</p>
      <p>Компанія стежить за всіма тенденціями ринку насіння канабісу в світі і намагається повністю їм відповідати, щоб наші клієнти могли отримувати найбільш сучасні рішення!</p>
    </div>
    <div class="principles_blocks">
      <div>
        <svg width="126" height="87" viewBox="0 0 126 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M62.7659 59.9462C74.7898 42.3844 79.6093 18.4573 62.7659 5.44616C44.5154 -8.65194 18.9897 6.80011 7.7659 26.9462C-2.36159 45.1243 -4.55005 69.1942 13.2659 79.9462C31.1163 90.7189 50.9874 77.1495 62.7659 59.9462Z"
            fill="#1F2122" />
          <path d="M69.2659 86.4463H113.766C118.566 78.8463 120.099 69.9463 120.266 66.4463C121.099 59.113 117.566 44.4463 96.7659 44.4463C70.7659 44.4463 60.7659 62.4463 60.7659 71.9463C60.7659 79.5463 66.4325 84.7796 69.2659 86.4463Z"
            fill="#1F2122" />
          <circle cx="110.766" cy="25.9463" r="15" fill="#1F2122" />
          <path
            d="M91.6647 34.365L87.7545 29.3833L88.5897 23.1619C88.6854 22.4498 88.2787 21.7636 87.5982 21.4889L81.6541 19.089L79.1932 13.2923C78.9117 12.6286 78.2087 12.2325 77.4777 12.3254L71.0979 13.1399L65.9896 9.32687C65.4055 8.89104 64.5947 8.89104 64.0105 9.32687L58.9021 13.14L52.5224 12.3256C51.7924 12.2325 51.0886 12.6288 50.8069 13.2925L48.3459 19.0891L42.4018 21.4889C41.7212 21.7638 41.3145 22.4498 41.4103 23.1621L42.2455 29.3836L38.3353 34.365C37.8882 34.9345 37.8882 35.7255 38.3353 36.295L42.2455 41.2767L41.4103 47.4981C41.3145 48.2102 41.7212 48.8964 42.4018 49.1711L48.3459 51.5709L50.8068 57.3677C51.0248 57.8817 51.4958 58.2344 52.0366 58.3245V79.4121C52.0366 79.9911 52.3598 80.5243 52.8803 80.8034C53.4003 81.0824 54.0354 81.063 54.5369 80.7529L65.0002 74.2808L75.4636 80.7529C75.7293 80.9172 76.0321 81 76.3356 81C76.6052 81 76.8753 80.9347 77.12 80.8036C77.6403 80.5244 77.9637 79.9913 77.9637 79.4123V58.3243C78.5036 58.2338 78.9754 57.8813 79.1934 57.3679L81.6544 51.5712L87.5985 49.1714C88.2791 48.8966 88.6857 48.2105 88.59 47.4983L87.7548 41.2767L91.665 36.295C92.1117 35.7257 92.1117 34.9345 91.6647 34.365ZM65.8721 71.0602C65.3397 70.7309 64.6603 70.7309 64.1279 71.0602L55.2926 76.5252V57.9811L58.9019 57.5203L64.0103 61.3335C64.3024 61.5515 64.6512 61.6604 64.9999 61.6604C65.3486 61.6604 65.6974 61.5513 65.9894 61.3335L71.0979 57.5203L74.7072 57.9812V76.5252L65.8721 71.0602ZM84.7603 39.8677C84.4985 40.2012 84.3829 40.6223 84.4387 41.0387L85.199 46.7032L79.7852 48.8889C79.3861 49.0501 79.069 49.3592 78.9037 49.7485L76.6622 55.0281L70.8537 54.2865C70.4268 54.2322 69.9949 54.3448 69.6528 54.6001L64.9999 58.0731L60.347 54.6001C60.0614 54.3868 59.7132 54.2731 59.3574 54.2731C59.2871 54.2731 59.2166 54.2776 59.1461 54.2865L53.3374 55.0281L51.0961 49.7484C50.9308 49.3591 50.6137 49.0499 50.2146 48.8886L44.8008 46.7028L45.5611 41.0386C45.6171 40.6221 45.5015 40.2011 45.2395 39.8675L41.6781 35.3299L45.2395 30.7924C45.5013 30.4588 45.6169 30.0377 45.5611 29.6213L44.8008 23.9569L50.2148 21.7714C50.6138 21.6102 50.931 21.3011 51.0962 20.9118L53.3378 15.6322L59.1463 16.3739C59.5735 16.4285 60.0051 16.3156 60.3472 16.0603L65.0001 12.5872L69.653 16.0603C69.995 16.3156 70.4271 16.4285 70.8538 16.3739L76.6625 15.6322L78.9039 20.9118C79.0692 21.3011 79.3861 21.6102 79.7853 21.7714L85.1992 23.9573L84.4389 29.6216C84.3829 30.0381 84.4985 30.4591 84.7604 30.7927L88.3219 35.3302L84.7603 39.8677Z"
            fill="white" />
          <path
            d="M55.0553 25.0871C55.4187 25.0871 55.7845 24.9689 56.0873 24.7265C58.5902 22.7231 61.7553 21.6199 65.0001 21.6199C65.8991 21.6199 66.6282 20.909 66.6282 20.0322C66.6282 19.1553 65.8991 18.4445 65.0001 18.4445C61.0041 18.4445 57.1052 19.8038 54.0213 22.2719C53.3262 22.8282 53.2253 23.8287 53.7958 24.5064C54.1177 24.8891 54.5846 25.0871 55.0553 25.0871Z"
            fill="#C9F688" />
          <path
            d="M70.8057 19.4173C69.9584 19.1235 69.0275 19.5549 68.7259 20.3808C68.4246 21.2069 68.8669 22.1149 69.714 22.4088C75.3037 24.3482 79.0592 29.5409 79.0592 35.33C79.0592 42.8899 72.7523 49.0404 65.0001 49.0404C57.2478 49.0404 50.9409 42.8899 50.9409 35.33C50.9409 32.6407 51.7385 30.0377 53.2476 27.8021C53.742 27.0697 53.534 26.0851 52.7829 25.6029C52.0321 25.1209 51.0223 25.3235 50.5279 26.0561C48.6678 28.8115 47.6848 32.0183 47.6848 35.33C47.6848 44.6409 55.4523 52.2158 65.0001 52.2158C74.5478 52.2158 82.3154 44.6409 82.3154 35.33C82.3154 28.2009 77.69 21.806 70.8057 19.4173Z"
            fill="#65BD00" />
          <circle cx="29" cy="60" r="4" fill="#C9F688" />
          <circle cx="113" cy="64" r="2" fill="#65BD00" />
          <circle cx="8" cy="40" r="2" fill="#65BD00" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M22.5 13C26.0899 13 29 10.0899 29 6.5C29 6.33176 28.9936 6.16502 28.9811 6H30.0189C30.0064 6.16502 30 6.33176 30 6.5C30 10.0899 32.9101 13 36.5 13C36.6682 13 36.835 12.9936 37 12.9811V14.0189C36.835 14.0064 36.6682 14 36.5 14C32.9101 14 30 16.9101 30 20.5C30 20.6682 30.0064 20.835 30.0189 21H28.9811C28.9936 20.835 29 20.6682 29 20.5C29 16.9101 26.0899 14 22.5 14C22.3318 14 22.165 14.0064 22 14.0189V12.9811C22.165 12.9936 22.3318 13 22.5 13Z"
            fill="#C9F688" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M28.0005 13.5001C29.3083 12.5176 30.2845 11.1175 30.731 9.4978C31.8146 11.5789 33.9913 13 36.4999 13C36.6682 13 36.8349 12.9937 36.9999 12.9811V14.019C36.8349 14.0064 36.6682 14 36.4999 14C33.9913 14 31.8146 15.4212 30.731 17.5023C30.2844 15.8826 29.3083 14.4826 28.0005 13.5001Z"
            fill="#65BD00" />
        </svg>
        <p>Якість</p>
      </div>
      <div>
        <svg width="126" height="87" viewBox="0 0 126 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M62.7659 59.9462C74.7898 42.3844 79.6093 18.4573 62.7659 5.44616C44.5154 -8.65194 18.9897 6.80011 7.7659 26.9462C-2.36159 45.1243 -4.55005 69.1942 13.2659 79.9462C31.1163 90.7189 50.9874 77.1495 62.7659 59.9462Z"
            fill="#1F2122" />
          <path d="M69.2659 86.4463H113.766C118.566 78.8463 120.099 69.9463 120.266 66.4463C121.099 59.113 117.566 44.4463 96.7659 44.4463C70.7659 44.4463 60.7659 62.4463 60.7659 71.9463C60.7659 79.5463 66.4325 84.7796 69.2659 86.4463Z"
            fill="#1F2122" />
          <circle cx="110.766" cy="25.9463" r="15" fill="#1F2122" />
          <path
            d="M92.561 49.8193H92.3926C91.8055 47.1504 89.7265 45.0455 87.0901 44.4514V40.8777C87.0901 26.0573 75.1799 14 60.5403 14C45.9008 14 33.9905 26.0573 33.9905 40.8777V44.4514C31.3542 45.0457 29.275 47.1504 28.6881 49.8193H28.5197C27.6804 49.8193 27 50.5082 27 51.3578C27 52.2073 27.6804 52.8962 28.5197 52.8962H28.6881C29.2902 55.6341 31.4626 57.7785 34.1957 58.3074C34.8277 61.0223 37.2392 63.05 40.1112 63.05C43.463 63.05 46.19 60.2894 46.19 56.8962V45.8193C46.19 42.4261 43.463 39.6657 40.1112 39.6657C38.9891 39.6657 37.9376 39.9763 37.0345 40.5154C37.2267 27.5581 47.6963 17.0769 60.5403 17.0769C73.3762 17.0769 83.8409 27.5448 84.0459 40.4908C83.1522 39.9671 82.1162 39.6657 81.0114 39.6657C77.6596 39.6657 74.9327 42.4261 74.9327 45.8193V56.8962C74.9327 60.2894 77.6596 63.05 81.0114 63.05C83.8863 63.05 86.2997 61.0185 86.9287 58.2994C87.8753 58.1099 88.7534 57.7265 89.5216 57.1916V63.9865C89.5216 66.8766 88.1335 69.6218 85.613 71.7163C83.0054 73.8832 79.5362 75.0766 75.8445 75.0766H65.9807C65.6643 72.6692 64.5757 71.2304 62.9829 71.2304H57.2841C54.3513 71.2304 51.9652 73.646 51.9652 76.615C51.9652 79.5841 54.3513 81.9996 57.2841 81.9996H62.9829C64.5759 81.9996 65.6644 80.5608 65.9807 78.1535H75.8445C85.062 78.1535 92.561 71.7981 92.561 63.9865V52.8962C93.4003 52.8962 94.0807 52.2073 94.0807 51.3578C94.0807 50.5082 93.4003 49.8193 92.561 49.8193ZM37.0719 45.8193C37.0719 44.1229 38.4353 42.7426 40.1112 42.7426C41.7871 42.7426 43.1506 44.1229 43.1506 45.8193V56.8962C43.1506 58.5928 41.7871 59.9731 40.1112 59.9731C38.4353 59.9731 37.0719 58.5928 37.0719 56.8962C37.0719 56.0467 36.3915 55.3577 35.5522 55.3577C35.545 55.3577 35.5382 55.3587 35.5312 55.3588C35.5241 55.3588 35.5172 55.3577 35.5102 55.3577C33.3316 55.3577 31.5591 53.5635 31.5591 51.3578C31.5591 49.6809 32.5839 48.2427 34.0325 47.6492V51.6485C34.0325 52.4981 34.7129 53.187 35.5522 53.187C36.3915 53.187 37.0719 52.4981 37.0719 51.6485V45.8193ZM62.6585 78.9227H57.284C56.027 78.9227 55.0044 77.8875 55.0044 76.615C55.0044 75.3426 56.027 74.3073 57.284 74.3073H62.6585C62.8179 74.6401 63.0367 75.4259 63.0367 76.615C63.0367 77.8041 62.8179 78.5899 62.6585 78.9227ZM85.5704 55.3577C84.7311 55.3577 84.0508 56.0467 84.0508 56.8962C84.0508 58.5928 82.6873 59.9731 81.0114 59.9731C79.3355 59.9731 77.972 58.5928 77.972 56.8962V45.8193C77.972 44.1229 79.3355 42.7426 81.0114 42.7426C82.6873 42.7426 84.0508 44.1229 84.0508 45.8193V51.6485C84.0508 52.4981 84.7311 53.187 85.5704 53.187C86.4098 53.187 87.0901 52.4981 87.0901 51.6485V47.666C88.5167 48.27 89.5216 49.6972 89.5216 51.3578C89.5216 53.5635 87.7491 55.3577 85.5704 55.3577Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M66.0538 78.1536V75.0767H65.9806C65.6642 72.6694 64.5757 71.2306 62.9829 71.2306H57.2841C54.3513 71.2306 51.9652 73.6461 51.9652 76.6152C51.9652 79.5842 54.3513 81.9998 57.2841 81.9998H62.9829C64.5759 81.9998 65.6644 80.561 65.9806 78.1536H66.0538ZM57.284 78.9229H62.6585C62.8179 78.5901 63.0367 77.8042 63.0367 76.6152C63.0367 75.4261 62.8179 74.6403 62.6585 74.3075H57.284C56.027 74.3075 55.0044 75.3427 55.0044 76.6152C55.0044 77.8876 56.027 78.9229 57.284 78.9229Z"
            fill="#65BD00" />
          <circle cx="100" cy="18" r="4" fill="#C9F688" />
          <circle cx="113" cy="38" r="2" fill="#65BD00" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M3.5 25C7.08985 25 10 22.0899 10 18.5C10 18.3318 9.99361 18.165 9.98106 18H11.0189C11.0064 18.165 11 18.3318 11 18.5C11 22.0899 13.9101 25 17.5 25C17.6682 25 17.835 24.9936 18 24.9811V26.0189C17.835 26.0064 17.6682 26 17.5 26C13.9101 26 11 28.9101 11 32.5C11 32.6682 11.0064 32.835 11.0189 33H9.98106C9.99361 32.835 10 32.6682 10 32.5C10 28.9101 7.08985 26 3.5 26C3.33176 26 3.16502 26.0064 3 26.0189V24.9811C3.16502 24.9936 3.33176 25 3.5 25Z"
            fill="#C9F688" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.00055 25.5001C10.3083 24.5176 11.2845 23.1175 11.731 21.4978C12.8146 23.5789 14.9913 25 17.4999 25C17.6682 25 17.8349 24.9937 17.9999 24.9811V26.019C17.8349 26.0064 17.6682 26 17.4999 26C14.9913 26 12.8146 27.4212 11.731 29.5023C11.2844 27.8826 10.3083 26.4826 9.00055 25.5001Z"
            fill="#65BD00" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M37.7999 40.1289C35.5787 41.0843 34 43.1181 34 45.5002L34 47.6625C34.0109 47.658 34.0217 47.6535 34.0326 47.649V51.6484C34.0326 52.4979 34.7129 53.1868 35.5522 53.1868C36.3916 53.1868 37.0719 52.4979 37.0719 51.6484V45.8192C37.0719 44.1227 38.4354 42.7424 40.1113 42.7424C41.7872 42.7424 43.1507 44.1227 43.1507 45.8192V56.896C43.1507 58.5926 41.7872 59.9729 40.1113 59.9729C38.4354 59.9729 37.0719 58.5926 37.0719 56.896C37.0719 56.0465 36.3916 55.3576 35.5522 55.3576C35.5483 55.3576 35.5445 55.3579 35.5407 55.3581C35.5376 55.3584 35.5344 55.3586 35.5313 55.3587C35.5277 55.3587 35.5242 55.3584 35.5207 55.3581C35.5172 55.3579 35.5138 55.3576 35.5103 55.3576C35.4848 55.3576 35.4593 55.3573 35.4339 55.3569C34.1238 55.5364 34.1453 57.5935 34.1453 57.5935C34.1473 57.8388 34.1653 58.0807 34.1983 58.3182C34.8343 61.0276 37.2431 63.0498 40.1113 63.0498C43.4631 63.0498 46.19 60.2892 46.19 56.896V45.8192C46.19 42.426 43.4631 39.6655 40.1113 39.6655C39.2932 39.6655 38.5128 39.8306 37.7999 40.1289Z"
            fill="#C9F688" />
          <path
            d="M83.3901 40.0791C85.6113 41.0345 87.19 43.0683 87.19 45.4504L87.19 47.6127C87.1792 47.6082 87.1683 47.6037 87.1575 47.5992V51.5986C87.1575 52.4481 86.4771 53.137 85.6378 53.137C84.7985 53.137 84.1181 52.4481 84.1181 51.5986V45.7694C84.1181 44.0729 82.7546 42.6926 81.0787 42.6926C79.4028 42.6926 78.0394 44.0729 78.0394 45.7694V56.8462C78.0394 58.5428 79.4028 59.9231 81.0787 59.9231C82.7546 59.9231 84.1181 58.5428 84.1181 56.8462C84.1181 55.9967 84.7985 55.3078 85.6378 55.3078C85.6417 55.3078 85.6455 55.3081 85.6493 55.3083C85.6525 55.3086 85.6556 55.3088 85.6588 55.3089C85.6623 55.3089 85.6659 55.3086 85.6694 55.3083C85.6728 55.308 85.6763 55.3078 85.6797 55.3078C85.7052 55.3078 85.7307 55.3075 85.7561 55.307C87.0663 55.4866 87.0448 57.5437 87.0448 57.5437C87.0427 57.789 87.0247 58.0309 86.9917 58.2684C86.3558 60.9778 83.9469 63 81.0787 63C77.7269 63 74.9375 60.2394 74.9375 56.8462V45.7693C74.9375 42.3761 77.7269 39.6157 81.0787 39.6157C81.8968 39.6157 82.6773 39.7808 83.3901 40.0791Z"
            fill="#C9F688" />
        </svg>
        <p>Сервіс</p>
      </div>
      <div>
        <svg width="130" height="87" viewBox="0 0 130 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M66.7659 59.9462C78.7898 42.3844 83.6093 18.4573 66.7659 5.44616C48.5154 -8.65194 22.9897 6.80011 11.7659 26.9462C1.63841 45.1243 -0.55005 69.1942 17.2659 79.9462C35.1163 90.7189 54.9874 77.1495 66.7659 59.9462Z"
            fill="#1F2122" />
          <path d="M73.2659 86.4463H117.766C122.566 78.8463 124.099 69.9463 124.266 66.4463C125.099 59.113 121.566 44.4463 100.766 44.4463C74.7659 44.4463 64.7659 62.4463 64.7659 71.9463C64.7659 79.5463 70.4325 84.7796 73.2659 86.4463Z"
            fill="#1F2122" />
          <circle cx="114.766" cy="25.9463" r="15" fill="#1F2122" />
          <path
            d="M95.9487 47.3698H91.0988C89.6488 44.2634 87.3897 41.4439 84.4907 39.1267C84.4319 35.6762 84.1845 33.0569 83.737 31.1376C83.0439 28.164 81.7312 26.6562 79.8351 26.6562C77.7663 26.6562 73.3644 29.2435 69.979 33.0481C68.455 32.8346 66.9033 32.7268 65.3535 32.7268C58.0429 32.7268 51.1549 35.0737 45.9586 39.3353C41.2453 43.2007 38.4177 48.2239 37.8504 53.6512C35.7348 52.9519 34.2035 50.9572 34.2035 48.6105C34.2035 47.6329 33.4109 46.8404 32.4335 46.8404C31.4561 46.8404 30.6635 47.6329 30.6635 48.6105C30.6635 52.9078 33.7433 56.498 37.8112 57.2934C38.2863 62.9353 41.2508 68.2503 46.1421 72.1905L44.6217 80.8134C44.5401 81.2758 44.6456 81.7514 44.9148 82.136C45.184 82.5205 45.595 82.7824 46.0574 82.8638L52.6814 84.0319C53.1436 84.113 53.6193 84.0078 54.004 83.7386C54.3886 83.4694 54.6504 83.0584 54.7318 82.596L55.6823 77.2059C58.7652 78.1658 62.0086 78.6513 65.3535 78.6513C68.6982 78.6513 71.9416 78.166 75.0245 77.2059L75.975 82.596C76.0564 83.0584 76.3182 83.4694 76.7028 83.7386C77.0023 83.9483 77.3572 84.0588 77.718 84.0588C77.8203 84.0588 77.9231 84.0499 78.0252 84.0319L84.6493 82.8638C85.612 82.6941 86.2547 81.776 86.085 80.8134L84.5649 72.1906C87.4288 69.8841 89.661 67.0881 91.0986 64.0083H95.9485C98.1825 64.0083 100 62.1908 100 59.957V51.4211C100 49.1873 98.1827 47.3698 95.9487 47.3698ZM95.9487 60.4682H89.935C89.2087 60.4682 88.5565 60.9116 88.2892 61.5867C87.0148 64.8058 84.6964 67.7218 81.5845 70.0193C81.0439 70.4183 80.7761 71.089 80.8927 71.7506L82.2916 79.6848L79.1537 80.2382L78.1491 74.5416C78.0571 74.0198 77.7362 73.5665 77.2746 73.3065C76.8126 73.0465 76.2586 73.0073 75.7649 73.199C72.5008 74.4676 68.9978 75.111 65.3535 75.111C61.709 75.111 58.2061 74.4678 54.9419 73.199C54.4481 73.0073 53.8941 73.0465 53.4322 73.3065C52.9706 73.5665 52.6495 74.0196 52.5577 74.5416L51.5532 80.2382L48.4154 79.6848L49.8143 71.7506C49.9309 71.089 49.6631 70.4183 49.1225 70.0193C44.14 66.3408 41.2823 61.1176 41.2823 55.6891C41.2823 44.9796 52.0806 36.2667 65.3535 36.2667C67.0448 36.2667 68.7371 36.4103 70.3834 36.6935C71.0125 36.8016 71.6511 36.5628 72.0547 36.0683C74.8498 32.6441 78.4706 30.5309 79.6659 30.2303C79.973 30.6716 80.9032 32.6156 80.961 40.018C80.9653 40.572 81.229 41.092 81.673 41.4232C84.739 43.7092 87.0268 46.6029 88.289 49.7913C88.5563 50.4664 89.2086 50.9098 89.9348 50.9098H95.9485C96.2305 50.9098 96.4599 51.139 96.4599 51.4209V52.2183H96.3075C95.3301 52.2183 94.5375 53.0108 94.5375 53.9884C94.5375 54.966 95.3301 55.7584 96.3075 55.7584H96.4599V59.9566C96.4599 60.239 96.2305 60.4682 95.9487 60.4682Z"
            fill="white" />
          <path
            d="M65.3535 27.9395C70.5751 27.9395 74.8232 23.6914 74.8232 18.4697C74.8232 13.2481 70.5751 9 65.3535 9C60.1318 9 55.8837 13.2481 55.8837 18.4697C55.8837 23.6914 60.1318 27.9395 65.3535 27.9395ZM65.3535 12.5401C68.6231 12.5401 71.2831 15.2001 71.2831 18.4697C71.2831 21.7394 68.6231 24.3994 65.3535 24.3994C62.0838 24.3994 59.4238 21.7394 59.4238 18.4697C59.4238 15.2001 62.0838 12.5401 65.3535 12.5401Z"
            fill="#65BD00" />
          <path
            d="M72.2777 40.4433C70.0666 39.7409 67.737 39.3848 65.3535 39.3848C62.9701 39.3848 60.6404 39.7409 58.429 40.4433C57.4973 40.7392 56.9819 41.7343 57.2778 42.6661C57.5739 43.5978 58.5689 44.1133 59.5008 43.8171C61.365 43.225 63.3342 42.9247 65.3535 42.9247C67.3727 42.9247 69.3419 43.2249 71.2059 43.8171C71.3842 43.8738 71.5646 43.9007 71.7423 43.9007C72.4926 43.9007 73.1895 43.4194 73.4286 42.6659C73.7249 41.7345 73.2095 40.7392 72.2777 40.4433Z"
            fill="#C9F688" />
          <circle cx="20" cy="65" r="4" fill="#C9F688" />
          <circle cx="2" cy="52" r="2" fill="#65BD00" />
          <circle cx="124" cy="44" r="2" fill="#65BD00" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.5 42C13.0899 42 16 39.0899 16 35.5C16 35.3318 15.9936 35.165 15.9811 35H17.0189C17.0064 35.165 17 35.3318 17 35.5C17 39.0899 19.9101 42 23.5 42C23.6682 42 23.835 41.9936 24 41.9811V43.0189C23.835 43.0064 23.6682 43 23.5 43C19.9101 43 17 45.9101 17 49.5C17 49.6682 17.0064 49.835 17.0189 50H15.9811C15.9936 49.835 16 49.6682 16 49.5C16 45.9101 13.0899 43 9.5 43C9.33176 43 9.16502 43.0064 9 43.0189V41.9811C9.16502 41.9936 9.33176 42 9.5 42Z"
            fill="#C9F688" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M15.0006 42.5001C16.3084 41.5176 17.2845 40.1175 17.7311 38.4978C18.8147 40.5789 20.9914 42 23.5 42C23.6682 42 23.835 41.9937 24 41.9811V43.019C23.835 43.0064 23.6682 43 23.5 43C20.9914 43 18.8147 44.4212 17.731 46.5023C17.2845 44.8826 16.3084 43.4826 15.0006 42.5001Z"
            fill="#65BD00" />
        </svg>
        <p>Доступність</p>
      </div>
      <div>
        <svg width="126" height="87" viewBox="0 0 126 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M62.7659 59.9462C74.7898 42.3844 79.6093 18.4573 62.7659 5.44616C44.5154 -8.65194 18.9897 6.80011 7.7659 26.9462C-2.36159 45.1243 -4.55005 69.1942 13.2659 79.9462C31.1163 90.7189 50.9874 77.1495 62.7659 59.9462Z"
            fill="#1F2122" />
          <path d="M69.2659 86.4463H113.766C118.566 78.8463 120.099 69.9463 120.266 66.4463C121.099 59.113 117.566 44.4463 96.7659 44.4463C70.7659 44.4463 60.7659 62.4463 60.7659 71.9463C60.7659 79.5463 66.4325 84.7796 69.2659 86.4463Z"
            fill="#1F2122" />
          <circle cx="110.766" cy="25.9463" r="15" fill="#1F2122" />
          <path d="M65.4999 53.4999L59.4999 47.9999V35.9999" stroke="#65BD00" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel" />
          <path
            d="M50.8443 21.3976C56.6555 19.4706 62.9437 19.5379 68.7124 21.5889C74.4811 23.6399 79.4004 27.5573 82.6908 32.7204C85.9812 37.8835 87.4546 43.9969 86.8775 50.0921C86.3004 56.1873 83.7058 61.9156 79.5048 66.3694C75.3038 70.8231 69.7367 73.7476 63.6856 74.6795C57.6345 75.6114 51.4454 74.4973 46.0991 71.5138C40.7528 68.5303 36.555 63.848 34.1708 58.2089C31.7866 52.5697 31.3524 46.2962 32.937 40.3824"
            stroke="white" stroke-width="4" stroke-linecap="round" />
          <path d="M37 32C38.5255 29.2059 40.5803 26.8088 43 25.0003" stroke="#C9F688" stroke-width="4" stroke-linecap="round" />
          <circle cx="116" cy="31" r="4" fill="#C9F688" />
          <circle cx="112" cy="2" r="2" fill="#65BD00" />
          <circle cx="13" cy="60" r="2" fill="#65BD00" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M89.5 16C93.0899 16 96 13.0899 96 9.5C96 9.33176 95.9936 9.16502 95.9811 9H97.0189C97.0064 9.16502 97 9.33176 97 9.5C97 13.0899 99.9101 16 103.5 16C103.668 16 103.835 15.9936 104 15.9811V17.0189C103.835 17.0064 103.668 17 103.5 17C99.9101 17 97 19.9101 97 23.5C97 23.6682 97.0064 23.835 97.0189 24H95.9811C95.9936 23.835 96 23.6682 96 23.5C96 19.9101 93.0899 17 89.5 17C89.3318 17 89.165 17.0064 89 17.0189V15.9811C89.165 15.9936 89.3318 16 89.5 16Z"
            fill="#C9F688" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M95.0005 16.5001C96.3083 15.5176 97.2845 14.1175 97.731 12.4978C98.8146 14.5789 100.991 16 103.5 16C103.668 16 103.835 15.9937 104 15.9811V17.019C103.835 17.0064 103.668 17 103.5 17C100.991 17 98.8146 18.4212 97.731 20.5023C97.2844 18.8826 96.3083 17.4826 95.0005 16.5001Z"
            fill="#65BD00" />
        </svg>
        <p>Швидкість</p>
      </div>
    </div>
  </div>
  <div class="reviews">
    <p class="title">Відгуки наших клієнтів</p>
    <div class="review_block">
      <div class="review_item">
        <div class="review">
          <div class="review_date">
            Sloterdijk&nbsp;<small>(15.03.2020 23:38)</small>
          </div>
          <div class="review_rating">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
          </div>
          <div class="review_content">
            Вот сидбанк растет и развивается. Беру тут с 2012 года и всегда все ровно.Так держать!
          </div>
        </div>
      </div>
      <div class="review_item">
        <div class="review">
          <div class="review_date">
            Олег&nbsp;<small>(15.03.2020 12:33)</small>
          </div>
          <div class="review_rating">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
          </div>
          <div class="review_content">
            5 років назад замовив перші 50семян.Але не був впевнений в якості,так як семена були дуже дешеві.Кінцевий результат здивував так шо я був в шоці.Після цього вибираю тільки цей банк.. </div>
          <div class="actions">

          </div>
        </div>
      </div>
      <div class="review_item">
        <div class="review">
          <div class="review_date">
            Игорь&nbsp;<small>(04.03.2020 20:19)</small>
          </div>
          <div class="review_rating">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="#65bd00" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.47942 1.42285L9.018 4.54041C9.12499 4.75724 9.33186 4.90748 9.57117 4.9422L13.0117 5.44216C13.6144 5.5298 13.8548 6.27021 13.4189 6.69504L10.9293 9.12171C10.7563 9.29045 10.6772 9.53374 10.7182 9.77191L11.3058 13.1985C11.4088 13.7986 10.7788 14.2562 10.2399 13.9731L7.16271 12.3554C6.94873 12.243 6.69292 12.243 6.47893 12.3554L3.40178 13.9731C2.86283 14.2565 2.23283 13.7986 2.33584 13.1985L2.92344 9.77191C2.96442 9.53374 2.88531 9.29045 2.71231 9.12171L0.222754 6.69504C-0.213181 6.26992 0.0272657 5.52951 0.629949 5.44216L4.07048 4.9422C4.30979 4.90748 4.51666 4.75724 4.62365 4.54041L6.16223 1.42285C6.43141 0.876791 7.20995 0.876791 7.47942 1.42285Z"
                stroke="white"></path>
            </svg>
          </div>
          <div class="review_content">
            Всем доброго в ремонт суток! Именно в это магазине заказывал первый раз, брал 6/5+3 бонусом. За бонус магазину отдельное спасибо! Семки на вид бодрые и дозрелые, без всяких повреждений и деформаций. До России до литело за 10
            дне. Потом по факту сделаю ещё один отзыв. </div>
          <div class="actions">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trademark">
    <div class="img">
      <img src="/catalog/view/theme/old/images/trademark-es1.png" alt="">
    </div>
    <div class="text">
      <p class="title">Офіційна торгова марка</p>
      <p>Ми в компанії Errors Seeds довгі роки невпинно працювали над поліпшенням сервісу і якості продукції, всі ці праці в результаті були пророблені недарма. Ми змогли дорости до міжнародного рівня і тепер можемо радувати клієнтів всього світу високоякісним насінням конопель.</p>
      <p>Отримання торгової марки "Errors Seeds" є однією з наших головних переваг в порівнянні з іншими компаніями та в черговий раз підтверджує всю серйозність нашого настрою на забезпечення наших клієнтів офіційною продукцією.</p>
      <p>Тепер при оформленні замовлення ви можете бути впевнені в найвищій якості насіння конопель, адже наша місія залишається незмінною - боротьба зі стереотипами пов'язаними з канабісом по всьому світу.</p>
    </div>
  </div>
  <div class="fairytale">
    <p class="title">Казка про компанію від Містера Еррорссідича</p>
    <div class="toggle_xs">
      <p>О, нарешті привіт вам, бразери й сістери, гровери й брідери, прихильники й хейтери, а також звичайні любителі хапануть та усі, хто з ними (або з нами?)! Як же нас багато - любителів Джа! Мене звуть Еррорссідич. А для друзів - ніхріна не простіше - Містер Еррорсідич. Сьогодні я розповім вам цікаву казку про одну дуже прикольну компанію. І це буде не нудне чтиво типу «Війна і мир» чи історії «Виробу № 2» з заводу «Червоний резинщик», а дещо дійсно круте! Врубаєтесь? Ні? Не розумієте, що відбувається?! Хапайте свої яєчка у кулачок (чи що там у вас замість них), беріть серветки й мило, тому що ми почнемо з тих часів, коли мої предки у вигляді сімок ще навіть не потрапили у грунт.
        &nbsp;</p>
      <p><br>Це був початок другого тисячоліття. Новий міленіум, швидкий і дивовижний час, коли група швидких і дивовижних хлопців познайомилася з дуже цікавим на той момент <a
          href="https://errors-seeds.com.ua/category/indika/">насінням коноплі.</a>. Найближчим часом це знайомство пережило свій пубертатний період та сформувалося у специфічний клуб за інтересами. Його учасники жваво обмінювалися сортовим насінням, хапали та вражали один одного смішнявими історіями. Прямо-таки, романтика риболовлі на крижині, що відкололася й дрейфує просторами синього моря</p>
      <p style="text-align: center;"><br>* * *</p>
      <p><br>Йшли роки. Тупо хапать починало набридати. А свіже насіння доводилося замовляти разом із надувними ляльками, переважно з Голландії. К-конспірація, раптом що… Та й платити ще до €15 за насіння, а посилку чекати, інколи МІСЯЦЯМИ. С-стабільність. Хоча нею тут навіть не пахло. І у 2009-му один підприємливий камрад запропонував створити насіннєвий банк. Чи ні, звучить майже як спермобанк. Сід-банк, загалом, де насіння коноплі зберігалося б. Спочатку, звичайно ж, ідея всім сподобалася, навіть хотіли відкрити секс-шоп, тому що всі іграшки, еректильні кільця, анальні затички з пухнастими хвостами та інше барахло потрібно було кудись дівати. Але потім хлопців відпустило, і ця ідея здалася божевільною, так само, як і ідея із сід-банком. Коротше кажучи, не склалося. Але у нашого героя вона засіла міцно, і він пішов, так би мовити, у вільне плавання.<br><br></p>
      <p>Далі – гірше. Так як море було від нього далеко, корабель йшов асфальтовими хвилями бізнесу не дуже плавно. Зате з іскрою... З-під днища. Череда проб і помилок майже змусила відмовитися від ідеї бізнесу в цілому. Помилки і проблеми слідували одна за одною. Одними з таких стали помилки в розрахунках і рання зима, які просто поховали недостигле насіння. А вишенькою на торті цього пиздецю стали правоохоронні органи, заскочили в гості, як татари, поглянули на насіння, як на сміття (пардон за тавтологію), але порекомендували більше цим не займатися. Такий розклад може підкосити кого завгодно. Тоді наш хлопець майже збожеволів, і в маренні плескав щось то про постійні помилки, то про «неправильне» насіння. І тут його осяяло. Він швидко зрозумів, що корабель пішов у плавання без назви, і охрестив свій фрегат ім'ям Errors Seeds, на честь усіх помилок, що загартували сталь його куль. Це був переломний момент, тому що хтось знизу постукав і закричав «вода»!</p>
      <p style="text-align: center;"><br>* * *</p>
      <p><br>З тих пір, у компанії справи пішли набагато краще, що давало можливість сипати сімки, як з жо ... рогу достатку, всім, хто цього хотів, а халяву, як відомо любить кожен гровер. Згодом Errors Seeds подружився з JahForum'ом, і жили вони довго і щасливо... А ось і ніфіга! Але дружба врешті-решт перемогла всіх мудаків і, так би мовити, у корабля з'явився порт, в який він іноді заходив, а іноді входив. Надалі, все це божевілля стало фундаментальною відмінністю від інших магазинів на пострадянському просторі. Насіння продавалися, лавеха мутилася і закладалася у розвиток флоту, можливостей і формування зв'язків. Спритність ящірки дала Errors Seeds шанс швидко розширити не тільки свідомість, а й свої горизонти. Буквально. Тобто, направити продукцію на імпорт у інші міста, а незабаром і на міжнародний ринок. Сказати, що все в підсумку охуєли - нічого не сказати.</p>
      <p><br>А далі була охренєнно важка робота, яка триває й досі. Капітан корабля поставив для своєї команди такі цілі: якість, сервіс і швидкість. По мірі просування, у морі бізнесу відразу з'явилися акули і рифи, які намагалися наш фрегат потопити і зжерти команду. Однак наші засранці вистояли, спиляли всі зайві рифи наждаковими ділдо, напхали акулам кляпів в пащу так під хвіст ще хвостів, і при цьому навіть примудрилися процвітати у своїй справі. Професіонали зі стажем, що вже тут додати. Та й як може бути по-іншому, коли за основу взято принцип - клієнт завжди правий?! Поки він живий...</p>
      <p style="text-align: center;"><br>* * *</p>
      <p><br>Сьогодні Errors Seeds виглядає впевнено, грає на сонці полірованою нержавійкою, а не деревом кораблика, як раніше, веде активну співпрацю з вітчизняними та європейськими конопляними аграріями, а значить прямо виробляє продукцію з дружнім для споживача цінником. Нє, ну, а хулі? В Україні про ES «щось чули» практично всі, хто реалізує потенціал моїх побратимів - конопляного насіння. Та й взагалі, якщо міркувати більш-менш тверезо, що у мене виходить з працею, компанія продовжує розвиватися, відкриває нові точки в нових країнах, радує народ своїми сміливими ідеями і не менш сміливими діями. Каталог з сімками постійно поповнюється, співробітники компанії горбляться у поті чола, рвуть свої дупи заради клієнтів, і звичайно ж піклуються про їхню безпеку. Ще є сильна інфраструктура, приховані багаті резерви і дохріна всього такого іншого.</p>
      <p><br>Керівництво компанії при цьому не дрімає, а продовжує придумувати підступні плани по <span style="text-decoration: line-through;">захопленню світу</span> розвитку гровінгу в світі. «Скоро ми засадимо всім країнам, і будемо, як то кажуть, у повний зріст ростити розумне світле і вічне» - слова засновника. Очевидно, Errors Seeds - не просто бізнес, а невід'ємна частина історії багатьох людей, що робить роботу компанії щирою, щедрою і повної креативу.
      </p>
      <p><br>Замість післямови. Хочеться нагадати заповіді біблійні, такі як: напали ближнього свого та не наєби. Пам'ятайте - добро завжди перемагає зло, а Джа перемагає синьку.&nbsp;</p>
      <p><br>І нехай прибуде з тобою Джа!</p>
      <p style="text-align: right;"><br>Містер Еррорссідич</p>
    </div>
    <span class="show_all"><span class="hidd1">Читати повністю</span> <span class="hidd2">Згорнути</span> <i class="fas fa-chevron-down"></i> </span>
  </div>
</div>
<script defer>
$(document).ready(function() {
  $('.geography_carousel').owlCarousel({
    loop: true,
    nav: true,
    singleItem: true,
    dots:true,
    lazyLoad:true,
    dotsData:true,
    responsive:{
      0:{
        items:1,
        center: false
      },
      991:{
        items:1,
        center: true,
      }
    },
    navText: ['<a href="javascript:void(0);" class="prev" onclick><img src="/catalog/view/theme/old/images/arrow-prev.png" width="31" height="85" alt="Arrow Prev"></a>',
      '<a href="javascript:void(0);" class="next"><img src="/catalog/view/theme/old/images/arrow-next.png" width="31" height="85" alt="Arrow Next"></a>'
    ],
  })
})
</script>
