<div class="distributors_contacts contactsBlock">
  <div class="contactsBlock_item contactsBlock_text">
    <h2>Контакты</h2>
    <p>Давайте швидше зв'яжемося, щоб обговорити деталі</p>
  </div>
  <div class="contactsBlock_item">
    <p class="t">Прийом замовлень та консультація</p>
    <div> <span class="contact_icon"> <img src="/catalog/view/theme/old/images/dist_ua_flag.png" alt=""> </span>
      <div class="tel_bl"> <a href="tel:+380997980001">+38 099 798-00-01;</a> <a href="tel:+380997980002">+38 099 798-00-02</a> </div>
    </div>
    <div> <span class="contact_icon"> <img src="/catalog/view/theme/old/images/dist_ru_flag.png" alt=""> </span> <a href="tel:+74991136365">+7 499 113-63-65</a> </div>
  </div>
  <div class="contactsBlock_item">
    <p class="t">Зв'язатися з нами</p>
    <div> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
          <path
            d="M11 5C8.78442 5 6.84692 6.20935 5.80627 8L5.75 8.09998C5.27185 8.95935 5 9.94995 5 11C5 12.05 5.27185 13.0406 5.75 13.9L5.80627 14C6.84375 15.7906 8.78442 17 11 17C14.1406 17 16.7219 14.575 16.9781 11.5V10.5C16.7219 7.42505 14.1406 5 11 5V5ZM9.02808 6.40625C8.76562 6.85315 8.54688 7.39062 8.37817 8H7.0094C7.53125 7.30933 8.22192 6.75317 9.02808 6.40625ZM6.4187 13C6.15002 12.3875 6 11.7125 6 11C6 10.2875 6.15002 9.61255 6.42188 9H8.15942C8.05627 9.62183 8 10.2906 8 11C8 11.7094 8.05627 12.3782 8.15942 13H6.4187ZM7.0094 14H8.37817C8.54688 14.6094 8.76562 15.1469 9.02808 15.5938C8.22192 15.2468 7.53125 14.6907 7.0094 14ZM11 16C10.4343 16 9.8313 15.2281 9.4375 14H12.5625C12.1687 15.2281 11.5657 16 11 16ZM9.18127 13C9.06567 12.3938 9 11.7188 9 11C9 10.2812 9.06567 9.6062 9.18127 9H11.5V8H9.4375C9.8313 6.77185 10.4375 6 11 6C11.8875 6 12.875 7.8938 12.9875 10.5H10V11.5H12.9875C12.9656 12.0344 12.9062 12.5375 12.8157 13H9.18127ZM12.9719 15.5938C13.55 14.6062 13.9281 13.1719 13.9906 11.5H15.975C15.7906 13.3406 14.6062 14.8906 12.9719 15.5938ZM13.9906 10.5C13.9281 8.8313 13.5531 7.3938 12.9719 6.40625C14.6062 7.10938 15.7906 8.65942 15.975 10.5H13.9906Z"
            fill="#65BD00"></path>
        </svg> </span> <a href="https://sale.errors-seeds.com.ua/" target="_blank" class="site">sale.errors-seeds.com.ua</a> </div>
    <div> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
          <path
            d="M10.9639 5C7.67539 5 5 7.67539 5 10.9639C5 14.2647 7.66989 17 10.9639 17C12.2967 17 13.6449 16.5521 14.6629 15.771C14.9004 15.5888 14.9453 15.2484 14.763 15.0109C14.5807 14.7733 14.2403 14.7285 14.0028 14.9107C13.1704 15.5494 12.0628 15.9229 10.9639 15.9229C8.27329 15.9229 6.08434 13.6943 6.08434 10.9639C6.08434 8.27329 8.27329 6.07711 10.9639 6.07711C13.6943 6.07711 15.9157 8.27329 15.9157 10.9639V11.506C15.9157 12.1039 15.4292 12.5904 14.8313 12.5904C14.2334 12.5904 13.747 12.1039 13.747 11.506C13.747 11.2375 13.747 9.07841 13.747 8.79518C13.747 8.49576 13.5042 8.25301 13.2048 8.25301C12.9054 8.25301 12.6627 8.49576 12.6627 8.79518V8.82955C12.173 8.45622 11.5808 8.25301 10.9639 8.25301C9.4691 8.25301 8.25301 9.4691 8.25301 10.9639C8.25301 12.4586 9.4691 13.6747 10.9639 13.6747C11.7743 13.6747 12.5202 13.3269 13.0507 12.7417C13.4428 13.305 14.0945 13.6747 14.8313 13.6747C16.0271 13.6747 17 12.7018 17 11.506V10.9639C17 7.66552 14.2606 5 10.9639 5ZM10.9639 12.5976C10.067 12.5976 9.33735 11.8607 9.33735 10.9639C9.33735 10.067 10.067 9.33012 10.9639 9.33012C11.8847 9.33012 12.6627 10.0822 12.6627 10.9639C12.6627 11.8455 11.8847 12.5976 10.9639 12.5976Z"
            fill="#65BD00"></path>
        </svg> </span> <a href="mailto:sales@errors-seeds.com.ua">sales@errors-seeds.com.ua</a> </div>
  </div>
</div>
<div class="manager_block">
  <div class="manager_item">
    <div class="manager_head"> <img src="/catalog/view/theme/old/images/manager_icon.svg" alt="">
      <div>
        <p class="manager_name">Семен</p>
        <span class="manager_position">Sales & Dropshipping Manager</span>
      </div>
    </div>
    <div class="manager_footer">
      <div> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.3747 5.17899C13.9291 5.17899 16.8211 8.071 16.8211 11.6254C16.8211 12.0695 17.1811 12.4296 17.6253 12.4296C18.0695 12.4296 18.4295 12.0695 18.4295 11.6254C18.4295 7.18379 14.8163 3.57056 10.3747 3.57056C9.93053 3.57056 9.5705 3.93065 9.5705 4.37477C9.5705 4.8189 9.93053 5.17899 10.3747 5.17899Z"
              fill="#6F43A8"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.3222 8.45746C12.0977 8.45746 13.5426 9.9023 13.5426 11.6779C13.5426 12.093 13.8791 12.4295 14.2942 12.4295C14.7094 12.4295 15.0459 12.093 15.0459 11.6779C15.0459 9.07299 12.927 6.9541 10.3222 6.9541C9.90701 6.9541 9.5705 7.29067 9.5705 7.70578C9.5705 8.12089 9.90701 8.45746 10.3222 8.45746Z"
              fill="#6F43A8"></path>
            <path
              d="M12.6752 13.4229C11.89 12.6394 10.6137 12.639 9.8293 13.4233L8.87263 14.3795C8.47056 14.0241 8.09022 13.6438 7.73484 13.2418L8.69152 12.2852C9.47513 11.5005 9.47513 10.2244 8.69111 9.43963L7.36055 8.10959C7.09009 7.83915 6.7178 7.71359 6.33907 7.76752C5.96075 7.82064 5.63716 8.04238 5.45163 8.3768L4.53117 10.0336C4.23093 10.5737 4.26313 11.2244 4.61489 11.7327L5.4315 12.911C5.61865 13.1843 5.80982 13.441 6.01629 13.6962C6.72062 14.5855 7.52878 15.3936 8.41099 16.0922C8.41542 16.0959 8.41945 16.0991 8.42387 16.1023C8.67703 16.3067 8.93219 16.4963 9.19984 16.6802L10.3823 17.4996C10.6588 17.6911 10.9776 17.7877 11.2975 17.7877C11.5656 17.7877 11.8344 17.7197 12.0803 17.5829L13.7381 16.6625C14.0722 16.477 14.2939 16.1534 14.347 15.7751C14.4002 15.3964 14.2754 15.0242 14.0049 14.7538L12.6752 13.4229ZM7.55293 11.1472L6.7347 11.9649L5.93821 10.8155L6.59987 9.62515L7.55252 10.5777C7.70949 10.7343 7.70949 10.9902 7.55293 11.1472ZM11.2991 16.1764L10.1497 15.3799L10.9675 14.5622C11.1249 14.4053 11.3796 14.4048 11.537 14.5618L12.4896 15.5148L11.2991 16.1764Z"
              fill="#6F43A8"></path>
          </svg> </span> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.07822 12.5268C8.25142 12.6156 8.4579 12.6099 8.62558 12.5081L9.51222 11.9726L9.4074 12.0691C9.28585 12.1813 9.21774 12.3398 9.21774 12.5052V16.0157C9.21774 16.5638 9.91157 16.8291 10.2482 16.365L11.3975 14.7777L14.3467 16.5224C14.6917 16.7283 15.1179 16.5144 15.1931 16.1293L17.1307 6.09893C17.2154 5.65817 16.79 5.26196 16.3591 5.44103L16.3581 5.44148L5.21882 9.95429C4.76042 10.1403 4.73324 10.7954 5.17153 11.022L8.07822 12.5268ZM11.5281 13.5023C11.2772 13.3535 10.9571 13.4219 10.7836 13.66L10.3605 14.2443V12.7663L14.53 8.92883C14.7848 8.69458 14.7599 8.36518 14.6114 8.15278C14.4622 7.93933 14.1579 7.80564 13.8577 7.98855L8.31442 11.3363L6.82319 10.5645L15.8065 6.92492L14.2273 15.0993L11.5281 13.5023Z"
              fill="#1B9DE2"></path>
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
          </svg> </span> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path
              d="M14.2117 11.3797C14.1856 11.3671 13.2098 10.8866 13.0364 10.8242C12.9656 10.7988 12.8898 10.774 12.8091 10.774C12.6774 10.774 12.5667 10.8397 12.4805 10.9686C12.383 11.1135 12.0879 11.4585 11.9967 11.5615C11.9848 11.5751 11.9686 11.5913 11.9588 11.5913C11.9501 11.5913 11.7991 11.5292 11.7534 11.5093C10.7066 11.0546 9.91207 9.96116 9.80312 9.77677C9.78756 9.75026 9.78691 9.73822 9.78678 9.73822C9.7906 9.72419 9.82581 9.6889 9.84397 9.67069C9.89712 9.61811 9.9547 9.54879 10.0104 9.48174C10.0368 9.44997 10.0632 9.41816 10.0892 9.38817C10.17 9.29413 10.206 9.22112 10.2477 9.13655L10.2696 9.09262C10.3714 8.89023 10.2844 8.71944 10.2563 8.6643C10.2332 8.61814 9.8212 7.62374 9.77739 7.51927C9.67205 7.26717 9.53286 7.14979 9.33943 7.14979C9.32148 7.14979 9.33943 7.14979 9.26416 7.15297C9.17251 7.15683 8.67339 7.22254 8.45272 7.36165C8.2187 7.50919 7.8228 7.97949 7.8228 8.80658C7.8228 9.55096 8.29518 10.2538 8.498 10.5211C8.50304 10.5279 8.5123 10.5415 8.52572 10.5612C9.30244 11.6955 10.2707 12.5362 11.2523 12.9283C12.1973 13.3058 12.6448 13.3494 12.8992 13.3494C13.0061 13.3494 13.0917 13.341 13.1672 13.3336L13.2151 13.329C13.5415 13.3001 14.2589 12.9283 14.4221 12.4748C14.5507 12.1177 14.5846 11.7274 14.499 11.5858C14.4404 11.4895 14.3395 11.441 14.2117 11.3797Z"
              fill="#50AE55"></path>
            <path
              d="M11.1188 3.68848C7.49372 3.68848 4.5445 6.61553 4.5445 10.2133C4.5445 11.377 4.85592 12.5161 5.44586 13.513L4.3167 16.8438C4.29566 16.9059 4.31131 16.9746 4.35724 17.0213C4.3904 17.0552 4.43538 17.0735 4.48132 17.0735C4.49892 17.0735 4.51665 17.0708 4.53394 17.0653L8.00708 15.9616C8.9575 16.4694 10.0317 16.7375 11.1188 16.7375C14.7436 16.7375 17.6925 13.8108 17.6925 10.2133C17.6925 6.61553 14.7436 3.68848 11.1188 3.68848ZM11.1188 15.3783C10.0958 15.3783 9.10504 15.083 8.25336 14.5241C8.22472 14.5053 8.19147 14.4956 8.15801 14.4956C8.14033 14.4956 8.12259 14.4983 8.10534 14.5038L6.36551 15.0568L6.92716 13.3998C6.94532 13.3462 6.93624 13.2871 6.90278 13.2414C6.25422 12.3552 5.91138 11.3081 5.91138 10.2133C5.91138 7.365 8.24741 5.04766 11.1187 5.04766C13.9897 5.04766 16.3255 7.365 16.3255 10.2133C16.3255 13.0614 13.9898 15.3783 11.1188 15.3783Z"
              fill="#50AE55"></path>
          </svg> </span> <a href="tel:+380954030792">+38 095 403-07-92</a> </div>
      <div>
        <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path
              d="M10.9639 5C7.67539 5 5 7.67539 5 10.9639C5 14.2647 7.66989 17 10.9639 17C12.2967 17 13.6449 16.5521 14.6629 15.771C14.9004 15.5888 14.9453 15.2484 14.763 15.0109C14.5807 14.7733 14.2403 14.7285 14.0028 14.9107C13.1704 15.5494 12.0628 15.9229 10.9639 15.9229C8.27329 15.9229 6.08434 13.6943 6.08434 10.9639C6.08434 8.27329 8.27329 6.07711 10.9639 6.07711C13.6943 6.07711 15.9157 8.27329 15.9157 10.9639V11.506C15.9157 12.1039 15.4292 12.5904 14.8313 12.5904C14.2334 12.5904 13.747 12.1039 13.747 11.506C13.747 11.2375 13.747 9.07841 13.747 8.79518C13.747 8.49576 13.5042 8.25301 13.2048 8.25301C12.9054 8.25301 12.6627 8.49576 12.6627 8.79518V8.82955C12.173 8.45622 11.5808 8.25301 10.9639 8.25301C9.4691 8.25301 8.25301 9.4691 8.25301 10.9639C8.25301 12.4586 9.4691 13.6747 10.9639 13.6747C11.7743 13.6747 12.5202 13.3269 13.0507 12.7417C13.4428 13.305 14.0945 13.6747 14.8313 13.6747C16.0271 13.6747 17 12.7018 17 11.506V10.9639C17 7.66552 14.2606 5 10.9639 5ZM10.9639 12.5976C10.067 12.5976 9.33735 11.8607 9.33735 10.9639C9.33735 10.067 10.067 9.33012 10.9639 9.33012C11.8847 9.33012 12.6627 10.0822 12.6627 10.9639C12.6627 11.8455 11.8847 12.5976 10.9639 12.5976Z"
              fill="#65BD00"></path>
          </svg>
        </span>
        <a href="mailto:errorsseeds.opt@gmail.com">errorsseeds.opt@gmail.com</a>
      </div>
      <div>
        <span class="contact_icon">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.07822 12.5268C8.25142 12.6156 8.4579 12.6099 8.62558 12.5081L9.51222 11.9726L9.4074 12.0691C9.28585 12.1813 9.21774 12.3398 9.21774 12.5052V16.0157C9.21774 16.5638 9.91157 16.8291 10.2482 16.365L11.3975 14.7777L14.3467 16.5224C14.6917 16.7283 15.1179 16.5144 15.1931 16.1293L17.1307 6.09893C17.2154 5.65817 16.79 5.26196 16.3591 5.44103L16.3581 5.44148L5.21882 9.95429C4.76042 10.1403 4.73324 10.7954 5.17153 11.022L8.07822 12.5268ZM11.5281 13.5023C11.2772 13.3535 10.9571 13.4219 10.7836 13.66L10.3605 14.2443V12.7663L14.53 8.92883C14.7848 8.69458 14.7599 8.36518 14.6114 8.15278C14.4622 7.93933 14.1579 7.80564 13.8577 7.98855L8.31442 11.3363L6.82319 10.5645L15.8065 6.92492L14.2273 15.0993L11.5281 13.5023Z"
              fill="#1B9DE2" />
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white" />
          </svg>
        </span>
        <a href="https://t.me/es_semen">@es_semen</a>
      </div>
    </div>
  </div>

  <div style="display: none" class="manager_item">
    <div class="manager_head"> <img src="/catalog/view/theme/old/images/manager_icon.svg" alt="">
      <div>
        <p class="manager_name">Юлія</p>
        <span class="manager_position">Sales Manager</span>
      </div>
    </div>
    <div class="manager_footer">
      <div> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.3747 5.17899C13.9291 5.17899 16.8211 8.071 16.8211 11.6254C16.8211 12.0695 17.1811 12.4296 17.6253 12.4296C18.0695 12.4296 18.4295 12.0695 18.4295 11.6254C18.4295 7.18379 14.8163 3.57056 10.3747 3.57056C9.93053 3.57056 9.5705 3.93065 9.5705 4.37477C9.5705 4.8189 9.93053 5.17899 10.3747 5.17899Z"
              fill="#6F43A8"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.3222 8.45746C12.0977 8.45746 13.5426 9.9023 13.5426 11.6779C13.5426 12.093 13.8791 12.4295 14.2942 12.4295C14.7094 12.4295 15.0459 12.093 15.0459 11.6779C15.0459 9.07299 12.927 6.9541 10.3222 6.9541C9.90701 6.9541 9.5705 7.29067 9.5705 7.70578C9.5705 8.12089 9.90701 8.45746 10.3222 8.45746Z"
              fill="#6F43A8"></path>
            <path
              d="M12.6752 13.4229C11.89 12.6394 10.6137 12.639 9.8293 13.4233L8.87263 14.3795C8.47056 14.0241 8.09022 13.6438 7.73484 13.2418L8.69152 12.2852C9.47513 11.5005 9.47513 10.2244 8.69111 9.43963L7.36055 8.10959C7.09009 7.83915 6.7178 7.71359 6.33907 7.76752C5.96075 7.82064 5.63716 8.04238 5.45163 8.3768L4.53117 10.0336C4.23093 10.5737 4.26313 11.2244 4.61489 11.7327L5.4315 12.911C5.61865 13.1843 5.80982 13.441 6.01629 13.6962C6.72062 14.5855 7.52878 15.3936 8.41099 16.0922C8.41542 16.0959 8.41945 16.0991 8.42387 16.1023C8.67703 16.3067 8.93219 16.4963 9.19984 16.6802L10.3823 17.4996C10.6588 17.6911 10.9776 17.7877 11.2975 17.7877C11.5656 17.7877 11.8344 17.7197 12.0803 17.5829L13.7381 16.6625C14.0722 16.477 14.2939 16.1534 14.347 15.7751C14.4002 15.3964 14.2754 15.0242 14.0049 14.7538L12.6752 13.4229ZM7.55293 11.1472L6.7347 11.9649L5.93821 10.8155L6.59987 9.62515L7.55252 10.5777C7.70949 10.7343 7.70949 10.9902 7.55293 11.1472ZM11.2991 16.1764L10.1497 15.3799L10.9675 14.5622C11.1249 14.4053 11.3796 14.4048 11.537 14.5618L12.4896 15.5148L11.2991 16.1764Z"
              fill="#6F43A8"></path>
          </svg> </span> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.07822 12.5268C8.25142 12.6156 8.4579 12.6099 8.62558 12.5081L9.51222 11.9726L9.4074 12.0691C9.28585 12.1813 9.21774 12.3398 9.21774 12.5052V16.0157C9.21774 16.5638 9.91157 16.8291 10.2482 16.365L11.3975 14.7777L14.3467 16.5224C14.6917 16.7283 15.1179 16.5144 15.1931 16.1293L17.1307 6.09893C17.2154 5.65817 16.79 5.26196 16.3591 5.44103L16.3581 5.44148L5.21882 9.95429C4.76042 10.1403 4.73324 10.7954 5.17153 11.022L8.07822 12.5268ZM11.5281 13.5023C11.2772 13.3535 10.9571 13.4219 10.7836 13.66L10.3605 14.2443V12.7663L14.53 8.92883C14.7848 8.69458 14.7599 8.36518 14.6114 8.15278C14.4622 7.93933 14.1579 7.80564 13.8577 7.98855L8.31442 11.3363L6.82319 10.5645L15.8065 6.92492L14.2273 15.0993L11.5281 13.5023Z"
              fill="#1B9DE2"></path>
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
          </svg> </span> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path
              d="M14.2117 11.3797C14.1856 11.3671 13.2098 10.8866 13.0364 10.8242C12.9656 10.7988 12.8898 10.774 12.8091 10.774C12.6774 10.774 12.5667 10.8397 12.4805 10.9686C12.383 11.1135 12.0879 11.4585 11.9967 11.5615C11.9848 11.5751 11.9686 11.5913 11.9588 11.5913C11.9501 11.5913 11.7991 11.5292 11.7534 11.5093C10.7066 11.0546 9.91207 9.96116 9.80312 9.77677C9.78756 9.75026 9.78691 9.73822 9.78678 9.73822C9.7906 9.72419 9.82581 9.6889 9.84397 9.67069C9.89712 9.61811 9.9547 9.54879 10.0104 9.48174C10.0368 9.44997 10.0632 9.41816 10.0892 9.38817C10.17 9.29413 10.206 9.22112 10.2477 9.13655L10.2696 9.09262C10.3714 8.89023 10.2844 8.71944 10.2563 8.6643C10.2332 8.61814 9.8212 7.62374 9.77739 7.51927C9.67205 7.26717 9.53286 7.14979 9.33943 7.14979C9.32148 7.14979 9.33943 7.14979 9.26416 7.15297C9.17251 7.15683 8.67339 7.22254 8.45272 7.36165C8.2187 7.50919 7.8228 7.97949 7.8228 8.80658C7.8228 9.55096 8.29518 10.2538 8.498 10.5211C8.50304 10.5279 8.5123 10.5415 8.52572 10.5612C9.30244 11.6955 10.2707 12.5362 11.2523 12.9283C12.1973 13.3058 12.6448 13.3494 12.8992 13.3494C13.0061 13.3494 13.0917 13.341 13.1672 13.3336L13.2151 13.329C13.5415 13.3001 14.2589 12.9283 14.4221 12.4748C14.5507 12.1177 14.5846 11.7274 14.499 11.5858C14.4404 11.4895 14.3395 11.441 14.2117 11.3797Z"
              fill="#50AE55"></path>
            <path
              d="M11.1188 3.68848C7.49372 3.68848 4.5445 6.61553 4.5445 10.2133C4.5445 11.377 4.85592 12.5161 5.44586 13.513L4.3167 16.8438C4.29566 16.9059 4.31131 16.9746 4.35724 17.0213C4.3904 17.0552 4.43538 17.0735 4.48132 17.0735C4.49892 17.0735 4.51665 17.0708 4.53394 17.0653L8.00708 15.9616C8.9575 16.4694 10.0317 16.7375 11.1188 16.7375C14.7436 16.7375 17.6925 13.8108 17.6925 10.2133C17.6925 6.61553 14.7436 3.68848 11.1188 3.68848ZM11.1188 15.3783C10.0958 15.3783 9.10504 15.083 8.25336 14.5241C8.22472 14.5053 8.19147 14.4956 8.15801 14.4956C8.14033 14.4956 8.12259 14.4983 8.10534 14.5038L6.36551 15.0568L6.92716 13.3998C6.94532 13.3462 6.93624 13.2871 6.90278 13.2414C6.25422 12.3552 5.91138 11.3081 5.91138 10.2133C5.91138 7.365 8.24741 5.04766 11.1187 5.04766C13.9897 5.04766 16.3255 7.365 16.3255 10.2133C16.3255 13.0614 13.9898 15.3783 11.1188 15.3783Z"
              fill="#50AE55"></path>
          </svg> </span> <a href="tel:+380996205244">+38 099 620-52-44</a> </div>
      <div> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path
              d="M10.9639 5C7.67539 5 5 7.67539 5 10.9639C5 14.2647 7.66989 17 10.9639 17C12.2967 17 13.6449 16.5521 14.6629 15.771C14.9004 15.5888 14.9453 15.2484 14.763 15.0109C14.5807 14.7733 14.2403 14.7285 14.0028 14.9107C13.1704 15.5494 12.0628 15.9229 10.9639 15.9229C8.27329 15.9229 6.08434 13.6943 6.08434 10.9639C6.08434 8.27329 8.27329 6.07711 10.9639 6.07711C13.6943 6.07711 15.9157 8.27329 15.9157 10.9639V11.506C15.9157 12.1039 15.4292 12.5904 14.8313 12.5904C14.2334 12.5904 13.747 12.1039 13.747 11.506C13.747 11.2375 13.747 9.07841 13.747 8.79518C13.747 8.49576 13.5042 8.25301 13.2048 8.25301C12.9054 8.25301 12.6627 8.49576 12.6627 8.79518V8.82955C12.173 8.45622 11.5808 8.25301 10.9639 8.25301C9.4691 8.25301 8.25301 9.4691 8.25301 10.9639C8.25301 12.4586 9.4691 13.6747 10.9639 13.6747C11.7743 13.6747 12.5202 13.3269 13.0507 12.7417C13.4428 13.305 14.0945 13.6747 14.8313 13.6747C16.0271 13.6747 17 12.7018 17 11.506V10.9639C17 7.66552 14.2606 5 10.9639 5ZM10.9639 12.5976C10.067 12.5976 9.33735 11.8607 9.33735 10.9639C9.33735 10.067 10.067 9.33012 10.9639 9.33012C11.8847 9.33012 12.6627 10.0822 12.6627 10.9639C12.6627 11.8455 11.8847 12.5976 10.9639 12.5976Z"
              fill="#65BD00"></path>
          </svg> </span> <a href="mailto:es.yuliia@gmail.com">es.yuliia@gmail.com</a> </div>
      <div> <span class="contact_icon"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.07822 12.5268C8.25142 12.6156 8.4579 12.6099 8.62558 12.5081L9.51222 11.9726L9.4074 12.0691C9.28585 12.1813 9.21774 12.3398 9.21774 12.5052V16.0157C9.21774 16.5638 9.91157 16.8291 10.2482 16.365L11.3975 14.7777L14.3467 16.5224C14.6917 16.7283 15.1179 16.5144 15.1931 16.1293L17.1307 6.09893C17.2154 5.65817 16.79 5.26196 16.3591 5.44103L16.3581 5.44148L5.21882 9.95429C4.76042 10.1403 4.73324 10.7954 5.17153 11.022L8.07822 12.5268ZM11.5281 13.5023C11.2772 13.3535 10.9571 13.4219 10.7836 13.66L10.3605 14.2443V12.7663L14.53 8.92883C14.7848 8.69458 14.7599 8.36518 14.6114 8.15278C14.4622 7.93933 14.1579 7.80564 13.8577 7.98855L8.31442 11.3363L6.82319 10.5645L15.8065 6.92492L14.2273 15.0993L11.5281 13.5023Z"
              fill="#1B9DE2"></path>
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
          </svg> </span> <a href="https://t.me/es_shony">@es_shony</a> </div>
    </div>
  </div>

  <div class="manager_item">
    <div class="manager_head">
      <img src="/catalog/view/theme/old/images/manager_icon.svg" alt="">
      <div>
        <p class="manager_name">Великий опт</p>
        <span class="manager_position">Замовлення від 10 000 насінин</span>
      </div>
    </div>
    <div class="manager_footer">
      <div>
        <span class="contact_icon">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white" />
            <path
              d="M10.9639 5C7.67539 5 5 7.67539 5 10.9639C5 14.2647 7.66989 17 10.9639 17C12.2967 17 13.6449 16.5521 14.6629 15.771C14.9004 15.5888 14.9453 15.2484 14.763 15.0109C14.5807 14.7733 14.2403 14.7285 14.0028 14.9107C13.1704 15.5494 12.0628 15.9229 10.9639 15.9229C8.27329 15.9229 6.08434 13.6943 6.08434 10.9639C6.08434 8.27329 8.27329 6.07711 10.9639 6.07711C13.6943 6.07711 15.9157 8.27329 15.9157 10.9639V11.506C15.9157 12.1039 15.4292 12.5904 14.8313 12.5904C14.2334 12.5904 13.747 12.1039 13.747 11.506C13.747 11.2375 13.747 9.07841 13.747 8.79518C13.747 8.49576 13.5042 8.25301 13.2048 8.25301C12.9054 8.25301 12.6627 8.49576 12.6627 8.79518V8.82955C12.173 8.45622 11.5808 8.25301 10.9639 8.25301C9.4691 8.25301 8.25301 9.4691 8.25301 10.9639C8.25301 12.4586 9.4691 13.6747 10.9639 13.6747C11.7743 13.6747 12.5202 13.3269 13.0507 12.7417C13.4428 13.305 14.0945 13.6747 14.8313 13.6747C16.0271 13.6747 17 12.7018 17 11.506V10.9639C17 7.66552 14.2606 5 10.9639 5ZM10.9639 12.5976C10.067 12.5976 9.33735 11.8607 9.33735 10.9639C9.33735 10.067 10.067 9.33012 10.9639 9.33012C11.8847 9.33012 12.6627 10.0822 12.6627 10.9639C12.6627 11.8455 11.8847 12.5976 10.9639 12.5976Z"
              fill="#65BD00" />
          </svg>
        </span>
        <a href="mailto:Optsaleses@gmail.com">Optsaleses@gmail.com</a>
      </div>
      <div>
        <span class="contact_icon">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.07822 12.5268C8.25142 12.6156 8.4579 12.6099 8.62558 12.5081L9.51222 11.9726L9.4074 12.0691C9.28585 12.1813 9.21774 12.3398 9.21774 12.5052V16.0157C9.21774 16.5638 9.91157 16.8291 10.2482 16.365L11.3975 14.7777L14.3467 16.5224C14.6917 16.7283 15.1179 16.5144 15.1931 16.1293L17.1307 6.09893C17.2154 5.65817 16.79 5.26196 16.3591 5.44103L16.3581 5.44148L5.21882 9.95429C4.76042 10.1403 4.73324 10.7954 5.17153 11.022L8.07822 12.5268ZM11.5281 13.5023C11.2772 13.3535 10.9571 13.4219 10.7836 13.66L10.3605 14.2443V12.7663L14.53 8.92883C14.7848 8.69458 14.7599 8.36518 14.6114 8.15278C14.4622 7.93933 14.1579 7.80564 13.8577 7.98855L8.31442 11.3363L6.82319 10.5645L15.8065 6.92492L14.2273 15.0993L11.5281 13.5023Z"
              fill="#1B9DE2" />
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white" />
          </svg>
        </span>
        <a href="https://t.me/gesseeds">@GESseeds</a>
      </div>
    </div>
  </div>
  <div class="manager_item">
    <div class="manager_head">
      <img src="/catalog/view/theme/old/images/manager_icon.svg" alt="">
      <div>
        <p class="manager_name">Анкета VIP клієнта</p>
      </div>
    </div>
    <div class="manager_footer">
      <div>
        <span class="contact_icon">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="21" height="21" rx="7.5" stroke="white"></rect>
            <path
              d="M11 5C8.78442 5 6.84692 6.20935 5.80627 8L5.75 8.09998C5.27185 8.95935 5 9.94995 5 11C5 12.05 5.27185 13.0406 5.75 13.9L5.80627 14C6.84375 15.7906 8.78442 17 11 17C14.1406 17 16.7219 14.575 16.9781 11.5V10.5C16.7219 7.42505 14.1406 5 11 5V5ZM9.02808 6.40625C8.76562 6.85315 8.54688 7.39062 8.37817 8H7.0094C7.53125 7.30933 8.22192 6.75317 9.02808 6.40625ZM6.4187 13C6.15002 12.3875 6 11.7125 6 11C6 10.2875 6.15002 9.61255 6.42188 9H8.15942C8.05627 9.62183 8 10.2906 8 11C8 11.7094 8.05627 12.3782 8.15942 13H6.4187ZM7.0094 14H8.37817C8.54688 14.6094 8.76562 15.1469 9.02808 15.5938C8.22192 15.2468 7.53125 14.6907 7.0094 14ZM11 16C10.4343 16 9.8313 15.2281 9.4375 14H12.5625C12.1687 15.2281 11.5657 16 11 16ZM9.18127 13C9.06567 12.3938 9 11.7188 9 11C9 10.2812 9.06567 9.6062 9.18127 9H11.5V8H9.4375C9.8313 6.77185 10.4375 6 11 6C11.8875 6 12.875 7.8938 12.9875 10.5H10V11.5H12.9875C12.9656 12.0344 12.9062 12.5375 12.8157 13H9.18127ZM12.9719 15.5938C13.55 14.6062 13.9281 13.1719 13.9906 11.5H15.975C15.7906 13.3406 14.6062 14.8906 12.9719 15.5938ZM13.9906 10.5C13.9281 8.8313 13.5531 7.3938 12.9719 6.40625C14.6062 7.10938 15.7906 8.65942 15.975 10.5H13.9906Z"
              fill="#65BD00"></path>
          </svg>
        </span>
        <a href="https://forms.gle/GH9wWc91gsKti5316">forms.gle</a>
      </div>
    </div>
  </div>
</div>
