button{
  outline: none!important;
  background: none;
  border: none;
}

.header{
  flex-wrap: wrap;
}
.search_and_language{
  width: 100%;
      margin: 10px 0;
}
.phone_number{
  display: flex;
  flex-direction: row;
}
.phone p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.menu{
  margin: 20px 0;
  display: flex;
}
.header .navbar{
  flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.cpt_product_search{width: 100%}
.animated-icon{
  width: 40px;
  height: 35px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none!important
}
.animated-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background: #85bc0d;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.animated-icon span:nth-child(1) {top: 20%;}
.animated-icon span:nth-child(2) {top: 45%;}
.animated-icon span:nth-child(3) {top: 70%;}
.animated-icon.open span:nth-child(1) {
  top: 45%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -95%;
}
.animated-icon.open span:nth-child(3) {
  top: 45%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.back-cat a, .back-cat{
  font-family: 'AGLettericaCondensed-Roman';
  color: #fff!important;
  font-size: 14px;
  text-decoration: none;
}
.back-cat img{
  margin-top: 0;
  margin-left: 0
}
h2{margin: 15px 0;}
.white_label{
  color: #fff;
font-size: 15px;
}
.list-group.affiliate{margin: 5px 0}
.form-control{border-radius: 3px}


.edit_btn{
  padding: 0.34em 1.5em 0.4em;
    background: #85bc0d;
    background: -moz-linear-gradient(bottom, #ac080d, #bc0e13 60%, #cc141a 96%, #d9191f 98%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6a9a00), color-stop(0.6, #5d8800), color-stop(0.97, #689506), color-stop(0.99, #85bc0d));
    background: -moz-linear-gradient(bottom, #ac080d, #bc0e13 60%, #cc141a 76%, #d9191f 88%);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #85bc0d;
    border-bottom: 1px solid #4f7201;
    color: white;
    font: 15px arial,sans-serif;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    text-align: center;
}
.continue{margin: 0}

.buttons {
  margin-top: 20px
}
#content h1, #content h2{color: #85b325}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px
}

.switch input {
  display: none
}

.wr-reg-page.testimonial {
  margin: 25px 0
}

.newsletter_block .switch_block {
  position: relative;
  height: 20px;
  width: 40px;
  background: #656565;
  border-radius: 50px;
}

.newsletter_block .switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  cursor: pointer;
  display: block;
  height: 100%
}

.newsletter_block .switch-label:active {
  font-weight: 700
}

.newsletter_block .switch-label-off {
  padding-left: 2px
}

.newsletter_block .switch-label-on {
  padding-right: 2px
}

.newsletter_block .switch-input {
  display: none
}

.newsletter_block .switch-input:checked+.switch-label-on~.switch-selection {
  left: 22px;
  background: #363636;
}

.newsletter_block .switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 15px;
    height: 15px;
  border-radius: 50px;
  background-color: #85bc0d;
  -webkit-transition: left .15s ease-out;
  -moz-transition: left .15s ease-out;
  -ms-transition: left .15s ease-out;
  -o-transition: left .15s ease-out;
  transition: left .15s ease-out
}

.newsletter_block .newsletter_label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}
.newsletter_block .thead p {
  font-size: 18px;
  border-bottom: 1px solid;
  padding-bottom: 15px
}

.navbarNavaccount button{
  width: 100%;
  display: flex;
  color: #fff;
  transition: 0.5s;
  align-items: center;
  justify-content: space-between;
}
.navbarNavaccount button[aria-expanded="true"] .acc_arrow{transition: 0.5s}
.navbarNavaccount button[aria-expanded="true"] .acc_arrow{
  transform: rotate(180deg);
}
#navbarNavaccount .navbar-nav{
  display: flex;
  flex-direction: column;
}
.navBurger {
  position: absolute;
  left: 0;
  top: -15px;
  cursor: pointer;
  z-index: 3;
  background: #85bc0d;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;}
.navBurger:before,
.navBurger:after {
      content: "";
      position: absolute;
      background: #85bc0d;
      height: 2px;
      width: 100%;
      right: 0;
      will-change: rotate;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
}
.navBurger:before {
    top: -10px;
}
.navBurger:after {
      bottom: -10px;
      width: 90%;
}
.navBurger.active {
    background: transparent;
    background-clip: content-box;
    position: fixed;
    top: 20px;
    left: 20px;
}
.navBurger.active:before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 0;
      background: #eee;
      width: 110%;
}
.navBurger.active:after {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      background: #eee;
      width: 110%;
}
.overlay {
    position: fixed;
    background: #151515;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
.overlay.open {
    opacity: 0.99;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
            padding: 15% 2% 2%;
  }
.overlay.open li {
    display: block;
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}
.wr-reg-page{
    color:#fff;
        margin: 20px 0;
}
.a-reg {
      display: flex;
      align-items: center;
      font-size: 22px;
}
.color-theme{color: #85bc0d}
.fa-user-o{
      border-radius: 50%;
      background: #85bc0d;
      width: 50px;
      height: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
}
.img_success span{
    display: block;
    position: absolute;
    top: 0;
    left: 35%;
    color: #fff;
    font-weight: 600;
    font-size: 90px;
}
.con-404-page{color: #fff}
#drop_user{display: none;}

.footer_sub{width: auto}
.f_sub_head{border-bottom: 4px solid #85bc0d;    color: #fff;}
.footer{padding: 0}
.footer_center{border-top: none;}
.block_counter{justify-content: space-between;}
.soc_text{font-size: 22px;border-bottom: 4px solid #85bc0d;color: #fff}
@media (max-width:767px) {
  .phone_block{
    display: none;
  }
  .menu.desktop_menu{margin: 0}
  .f_sub_head.mobi{cursor: pointer;position: relative;border-bottom: 2px solid #85bc0d}
  .f_sub_head.mobi:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(/published/publicdata/WEBASYST/attachments/SC/themes/images/referalarrow.png) no-repeat center center;
    top: 0;
    right: 0;
    position: absolute;
    transform: rotate(180deg);
    transition: transform .5s linear;
  }
  .f_sub_head.mobi.active:after{
    transform: rotate(0deg);
  }
  .f_sub_head.mobi + .sf-menu{display: none;}
  .header .navbar-collapse{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 70%;
    background: rgb(0, 0, 0);
    z-index: 99;
    height: 100%!important
  }
  .header .collapse:not(.show) {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
  }
  #content{padding: 0}
  .navbarNavaccount{
    background: #85bc0d;
    border-radius: 3px;
  }
  .list-group.affiliate{border-top: 5px solid}
  .menu.mobile_menu{display: flex;width: auto;}
}
@media (max-width:575px){
  #left_tab,#security_tab{display: none;}
  #drop_user{display: block; cursor: pointer;}
  .drop_user_menu{
    display: none;
    position: absolute;
    bottom: -60px;
    right: 0;
    background: #363636;
    padding: 10px;
    z-index: 5;
    border-radius: 3px;
  }
  .drop_user_menu.active{display: flex;}
  .shcart_link.cost_cart{display: none;}
  .cpt_shopping_cart_info{width: auto;}
  .circle_cart{
    width: auto;
    border: none;
    height: auto;
  }
}
@media (max-width:415px){
  .img_success span{font-size: 60px}
  .bottom_menu{
    flex-direction: column!important;
    margin-bottom: 20px;
  }
}
