<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	 <!--[if !mso]><!-->
<meta http-equiv="X-Ua-Compatible" content="IE=edge">	 <!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="GENERaTOR" content="MSHTML 11.00.9600.18666">
<style type="text/css">
@media screen and (max-width: 360px){
    p{ font-size: 16px !important; }
    .container{width: 100%; max-width: 360px}
}
</style>
</head>
<body>
<div class="container" style="margin: -8px; width: 100%; background-image: url(https://lh3.googleusercontent.com/UsqbrlOa_jnS3Pzk-aXlKpgMOenwBu_p367U_xhmQnPfjSox8RdiG9BXZh-3XMQVwNh3q3nKVUNlrW5m_i3Goa7gLnC4sasubIKwjsHo8ueD7dCpPxwhBLPuDQThf08DH16FpPg-uaobIFis-cAf9tkc_EBm1v4M67QyMFSn7agv4gIgW2dPaaMaSBM-BTyNRk7nuEMebMCdhhsfmmv2zonrh4wIGZ-jfwa0P9yJQlS4mVKG-qQ8OqdIVstSXXgHigA76pmgEJvH3qy2QncOVg3czobPtzcrePCtFG3iTD-IXnDt4VaGr4fMI_MGwYDNFKlgE6ixZKQWYf9bqHTRkSSuj90R_u8Bk1j6IjUkGMrU3RHNzXvieD2gOqL3r1gnVrg1_fMRlLw8xQaNIRQMYF4wOACMSsZXCrjO8lsEnlSxzsgwEDlRsNnlqIpA9v48FIFgnon_cw4Vqm-AtZDGcG3fqnkK_EctpF5wvMUbaPIzSEEqkYB9zRKYqyCPuRsokExTeXiIoyRs3mWEShXZMtJBNUm_D4pxXkqICBBcSbanD6jgf29AaQcHVxbGH77kj0Iq5rH0Z-pAd9V6wUMTzl2bpacRa2CzX2kESKLD5YU7mUdn4wTqFEKV=w1298-h950-no); ">
	<center>
		<table border="0" cellpadding="0" cellspacing="0" style="width: 95%; max-width: 600px; font-size: 18px; font-family: Arial, Arial, Helvetica, sans-serif;">
			<tbody>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; padding: 0 10px; background-color: #82b523">
							<tbody>
								<tr>
									<td style="width: 100%;max-width: 600px">
										<a href="<?php echo $store_url; ?>" style="text-decoration: none;" target="_blank"><img style="" src="https://bit.ly/2wV9Nhw"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" style="background-color: #FFFFFF;width: 100%; max-width: 600px; padding: 10px">
							<tbody>
								<tr>
									<td>
										<p style="font-size: 20px"><?=$text_greeting?></p>
                    <?php foreach ($text_main as $text) { ?>
                      <p style="font-size: 20px"><?=$text?></p>
                    <?php } ?>
										<p style="font-size: 16px"><?=$text_note?></p>
									</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; padding-bottom: 50px; font-family: Arial, Arial, Helvetica, sans-serif; ">
							<tbody>
								<tr>
									<td style="width: 100%; text-align: center;">
										<a href="<?php echo $store_url; ?>" target="_blank" style="text-decoration: none;"><p style="color: #656464">© Errors seeds сувениры из Европы 2009-2018</p>
									</td>
								</tr>
								<tr>
									<td style="width: 100%;">
										<center>
											<div>
												<a href="https://www.facebook.com/esuacom/" style="text-decoration: none; display: inline-block; width: 50px;" target="_blank"><img src="https://lh3.googleusercontent.com/W8kxdraLQr4C78D9nlG84Iv1JinyL6dqu8wXX7ZSKsNfJ3Hwt8g3iRxIuXy1ZuDy9h1Ju5sxBpFclSR6IhMjN3us81uonFutGnM-JOhSmA4e1fmguVKz0Z6DwSPG6khe4pzCE95-wKe2A961kpH27acc1ZssMeekUMJ-r9f85OF9aQ-Cvgx8uumS_1t-zZ5m7ICbwar_aFkHYmbL3-s1ZcF4Lzo5zftCcg_hEwDUqVvRSGKLRI4utKbzjQTpiCLbXnCp-XrnfXP5x7UoN7QylEjXgZ7468ps7chxs46fC_PBrEy9l30oEj2NXng9w7GnSUWYRwcg1fPDf0v9fKsTKG3sz1cZty6XZ0sBMIdOM8BW8pRAn8YhI594IFyVQRNWiXTwGkuX7SFip09Kvw-8Kf3lTbz6y_4b8vaaXl4zc9t_SdS-2XrtYHpfga_dIPUJNm1D-d9UJIww0v501zJCRcw3GoiCU2Q6lE7Y2zMMtEBMsz5dYDfGCXy5_Tuo1KI0wPDF3m3mfoLj1LLpVcZkTxxUUCVvcUzqaKzkBQJtYtlNDCxWlmpauewafoQXTbPqFCWDEA0ZGV-44e6FELxBfCchoM6kLPe_6V6CD5bkE5WiIGp-y_CgxUhJrDIEicda79T6JfqArD5b_82xGqhqlfSTIqoLNQwoQepvP-TnA4iqVg=w35-h34-no" alt="facebook"></a>

							          <a href="https://www.instagram.com/errorsseeds_ua/" style="text-decoration: none; display: inline-block; width: 50px;" target="_blank"><img src="https://lh3.googleusercontent.com/fEB9qYrEorFP9Bae6zb3d1CvJFMwiCJbqdFTc7_fJQG930DsA67b27iP1ELMlDS3mQibcgclEAFrX4g5OO4Be_pdx6WF2Pnmo9Bwfj8s8GiW3jpHbNyjtWmSHRHPnOHJp9rbOUDGw8GnwxJsoA0YXgJYTSBFAblWPC4thCLFyb1DIrnqnSSkbNpu5J5po963-3ZjDeqWiKUSleyIa4hK2_uF4NFQGQ3sZVEwAj0z19nwzUE9S5kYGOF_velIzFx47xocLZ7eoVjLS-QxxTBawuxGaDXKdIz_MJHvSO3vVEcvmEd_7t97tQTbBHhrC-UWoMDYM0i-m0dUA_ZFyMnsZ_mDJ2CJRn7ohoGH8kHLxkuJX59rPwF0DYSWG9KVGFXVO-t8756pOeWE6Iw3PmGHgUIckHmDpHAgLskqSN0YkoQPm5ARrKi4BqbNaWDv58UMNIOU221fTE9Bz5CSWxuHQflXrTOcouaXXyuaDTeAjxHZm1mjB7tOVzG147MU5h0g4gqzg_9VeR72KoKbKW_1D1E1-xyHdUPb0vFSPl5Sw8wSYXW17167OOUlKD9ISHxZ9ee9t53U1Tz7gqewMFPGERzXC6OwIsLBq5k9MV8xrTuc72l8u6qrVUhWD3Wsa1OH34jSD81yppSb40VdwoQU6ixUY7bfT4nM=w35-h34-no" alt="instagram"></a>

                      </div>
										</center>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</div>
</body>
</html>
