<head>
  <script type='text/javascript'>
  (function(){ var widget_id = 'gU1nbJCePW';
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
  </script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/niftycube.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/reports/jquery-1.7.min.js"></script>
  <script src="/published/SC/html/scripts/js/slides.min.jquery.js" type="text/javascript"></script>
  <script src="/published/SC/html/scripts/js/test.js" type="text/javascript"></script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T36VTNM');
  </script>
  <!-- End Google Tag Manager -->
  <meta name="yandex-verification" content="3940d507abba79b6" />
  <script type="text/javascript">
  			$(function() {
      var offset = $("#feedback").offset();
      var height_b = screen.height;
      var topPadding = height_b/2;
      $(window).scroll(function() {
       if ($(window).scrollTop() > offset.top) {
        $("#feedback").stop().animate({
        marginTop: $(window).scrollTop() - offset.top + topPadding
         });
        } else {
        $("#feedback").stop().animate({
        marginTop: 0
      });
      }
      });
    });
	</script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/superfish.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/jcarousellite_1.0.1.min.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/popup.js"></script>
  <script type="text/javascript">
			jQuery(function(){
				jQuery('ul.sf-menu').superfish();
			});
		</script>
  <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
  <script src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/jquery.validate.js" type="text/javascript"></script>
  <script src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/validate.register.js" type="text/javascript"></script>
  <script>
			$(function(){
				// Set starting slide to 1
				var startSlide = 1;
				// Get slide number if it exists
				//if (window.location.hash) {
					//startSlide = window.location.hash.replace('#','');
				//}
				// Initialize Slides
				$('#slides').slides({
					preload: true,
					preloadImage: '/img/loading.gif',
					generatePagination: true,
					play: 5000,
					pause: 2500,
					hoverPause: true,
					// Get the starting slide
					start: startSlide
					//animationComplete: function(current){
						// Set the slide number as a hash
						//window.location.hash = '#' + current;
					//}
				});
			});
		</script>
    <script type="text/javascript">
		$(document).ready(function(){
			PopUp($('#obj'), $('#trigg'));
			$('#viber').click(function(){
				viber_open(); return false;
			});

		});
	</script>
  <script type="text/javascript">
function init_viber(){
	var message =
'<div id="viber-wrap">'
	+ '<div class="box-viber">'
		+ '<div id="box-viber">'
			+ '<div id="viber-content">'
{/literal}
{literal}
				+ '<div class="viber-title"> Viber Errors-seeds: <b>+38 093 00 00 849</b> </div>'
				+ '<div class="viber-lead"> Добавьте этот номер в список контактов, откройте Viber на вашем смартфоне и отправьте свое сообщение бесплатно.</div>'
				+ '<div> Время работы: с <b>10:00</b> до <b>20:00</b>, с понедельника по пятницу, с 11:00 до 16:00 суббота и воскресенье.</div>'
{/literal}
{literal}

			+ '</div>'
			+ '<div onclick="hide_viber()" title="Close" class="btn_canc"></div>'
		+ '</div>'
	+ '</div>'
+ '</div>'
	+ '<div id="fade-viber"></div>';
	$('body').append(message);

}
function viber_open() {
    var d = $('#viber-content');
    if (!d.length){
        init_viber();
        $('#viber-wrap').click(hide_viber);
		$('#viber-wrap .box-viber').click(function(e){e.stopPropagation()});

    }
    $('#fade-viber, #viber-wrap').show()
	$('#viber-wrap .box-viber').css({
		top: $(window).height()/2-$('#viber-wrap .box-viber').height()/2+'px',
		left: '50%',
		'margin-left': -$('#viber-wrap .box-viber').width()/2
	});

}

function hide_viber() {
    $('#viber-wrap').hide();
    $('#fade-viber').hide();
    return false
}
</script>
<script>
$(document).ready(function(){

	// hide #back-top first
	$("#back-top").hide();

	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	});

});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#descript').click(function () {
			$('.descript_product_full').show();
			$('.reviews_block').css("display","none");
			$("#descript").css({
			color:"85bc0d",
			display:"block",
			borderBottom:"1px solid",
			borderColor:"85bc0d",
			 paddingLeft:"7px",
			 paddingRight:"7px",
			 paddingBottom:"2px"
			});
			$('#review').css({
			color:"fff",
			borderBottom:"none"
			});
		});
		$('#review').click(function () {
			$('.reviews_block').show();
			$('.descript_product_full').hide();
			$('#review').css("color","85bc0d");
			$("#review").css({
			color:"85bc0d",
			display:"block",
			borderBottom:"1px solid",
			borderColor:"85bc0d",
			 paddingLeft:"7px",
			 paddingRight:"7px",
			 paddingBottom:"2px"
			});
			$('#descript').css({
			color:"fff",
			borderBottom:"none"
			});
		});
		});
		</script>
  <link rel="shortcut icon" href="/logo_favicon.png">
  <script type="text/javascript" src="/mistaces/mistakes.js?ver=1.0"></script>
  <link href="/mistaces/mistakes.css" rel="stylesheet" type="text/css">
  <script type='text/javascript'>
    (function(){ var widget_id = 'gU1nbJCePW';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
  </script>
  <script type="text/javascript">
    function lookup(searchstring) {
        if(searchstring.length == 0) {
            // Hide the suggestion box.
            $('#suggestions').hide();
        } else {
            $.post("/autosearch.php", {queryString: ""+searchstring+""}, function(data){
                if(data.length >0) {
                    $('#suggestions').show();
                    $('#autoSuggestionsList').html(data);
                }
            }, "html");
        }
    }
      function fill(thisValue) {
      $('#searchstring').val(thisValue);
      $("form#autosearch").submit();
      setTimeout("$('#suggestions').hide();", 200);
    }
  </script>
  <style type="text/css">
    .text_left_column {
    max-height:578px;
    overflow-y:auto;
    }
    .text_left_column h1{
        color: #85bc0d;
        font-family: 'AGLettericaCondensedLight-Roman';
        font-size: 28px;
        font-weight: bold;
        margin-top: 0;
    }
    .text_left_column ul{
        color: #b1b1b1;
        list-style-type: disc;
        list-style-position: inside;
        font-family: 'AGLettericaCondensed-Roman';
        font-size: 16px;
        margin-top: 15px;
    }
    </style>
    <style type="text/css">
            .suggestionsBox {
                    position: relative;
                    left: 30px;
                    margin: 24px 0px 0px 0px;
                    width: 200px;
                    background-color: #212427;
                    -moz-border-radius: 7px;
                    -webkit-border-radius: 7px;
                    border: 2px solid #000;
                    color: #fff;
                    z-index: 99999;
            }
            .suggestionList {
                    margin: 0px;
                    padding: 0px;
            }
            .suggestionList ul
            {
            	list-style: none;
            }
            .suggestionList li {
                    margin: 0px 0px 3px 0px;
                    padding: 3px;
                    cursor: pointer;
            }
            .suggestionList li:hover {
                    background-color: #85BC0D;
            }
  </style>

  <link rel="stylesheet" href="/published/publicdata/WEBASYST/attachments/SC/themes/classic/overridestyles.css" type="text/css">
  <script type="text/javascript" src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/jquery.countdown.js"></script>
  <script type="text/javascript" src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/seoboost-popup.js"></script>
  <script type="text/javascript" src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/head.js"></script>
  <link rel="stylesheet" href="/published/publicdata/WEBASYST/attachments/SC/themes/classic/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/published/publicdata/WEBASYST/attachments/SC/themes/classic/jquery.countdown.css" type="text/css">
  <link rel="stylesheet" href="/published/publicdata/WEBASYST/attachments/SC/themes/classic/animate.css" type="text/css">
  <link rel="stylesheet" href="/published/publicdata/WEBASYST/attachments/SC/themes/classic/popup.css" type="text/css">
  <link rel="stylesheet" href="/published/publicdata/WEBASYST/attachments/SC/themes/classic/main.css" type="text/css">
  <link rel="stylesheet" href="/published/SC/html/scripts/css/general.css" type="text/css">
  <script type="text/javascript" src="/published/SC/html/scripts/js/functions.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/behavior.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/widget_checkout.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/frame.js"></script>
  <script type="text/javascript" src="/published/SC/html/scripts/js/spritespin.js"></script>
  <script src="/published/publicdata/WEBASYST/attachments/SC/themes/classic/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
  <script type="text/javascript">

var defaultCurrency = {
	display_template: '{value} грн',
	decimal_places: '2',
	decimal_symbol: '.',
	thousands_delimiter: ',',
	getView: function (price){return this.display_template.replace(/\{value\}/, number_format(price, this.decimal_places, this.decimal_symbol, this.thousands_delimiter));}
	};

var ORIG_URL = 'https://errors-seeds.com.ua/'
var ORIG_LANG_URL = '/';
window.currDispTemplate = defaultCurrency.display_template;
var translate = {};
translate.cnfrm_unsubscribe = 'Вы уверены, что хотите удалить вашу учетную запись в магазине?';
translate.err_input_email = 'Введите правильный электронный адрес';
translate.err_input_nickname = 'Пожалуйста, введите Ваш псевдоним';
translate.err_input_message_subject = 'Пожалуйста, введите тему сообщения';
translate.err_input_price = 'Цена должна быть положительным числом';
function position_this_window(){
	var x = (screen.availWidth - 600) / 2;
	window.resizeTo(600, screen.availHeight - 100);
	window.moveTo(Math.floor(x),50);
}
//-->
</script>
<style type="text/css">
/*.lleo_errorSelection *::-moz-selection,
.lleo_errorSelection *::selection,
.lleo_errorSelection *::-webkit-selection {
    background-color: red !important;
    color: #fff !important;;
}*/

#lleo_dialog,
#lleo_dialog * {
    color: #000 !important;
    font: normal 13px Arial, Helvetica !important;
    line-height: 15px !important;
    margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	border: none 0 !important;
	position: static !important;
	vertical-align: baseline !important;
	overflow: visible !important;
	width: auto !important;
	height: auto !important;
    max-width: none !important;
    max-height: none !important;
	float: none !important;
	visibility: visible !important;
	text-align: left !important;
    text-transform: none !important;
	border-collapse: separate !important;
	border-spacing: 2px !important;
    box-sizing: content-box !important;
    box-shadow: none !important;
    opacity: 1 !important;
    text-shadow: none !important;
    letter-spacing: normal !important;
    -webkit-filter: none !important;
    -moz-filter: none !important;
    filter: none !important;
}
#lleo_dialog *:before,
#lleo_dialog *:after {
    content: '';
}

#lleo_dialog iframe {
	height: 0 !important;
	width: 0 !important;
}

#lleo_dialog {
    position: absolute !important;
    background: #fff !important;
    border: solid 1px #ccc !important;
    padding: 7px 0 0 !important;
    left: -999px;
    top: -999px;
    width: 440px !important;
    overflow: hidden;
    display: block !important;
    z-index: 999999999 !important;
    box-shadow: 8px 16px 30px rgba(0, 0, 0, 0.16) !important;
    border-radius: 3px !important;
    opacity: 0 !important;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}
#lleo_dialog.lleo_show_small {
    width: 150px !important;
}
#lleo_dialog.lleo_show {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s !important;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s !important;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s !important;
    -o-transition: -o-transform 0.3s, opacity 0.3s !important;
    transition: transform 0.3s, opacity 0.3s !important;
}
#lleo_dialog.lleo_collapse {
    opacity: 0 !important;
    -webkit-transform: scale(0.25, 0.1) translate(-550px, 100px);
    -moz-transform: scale(0.25, 0.1) translate(-550px, 100px);
    -ms-transform: scale(0.25, 0.1) translate(-550px, 100px);
    -o-transform: scale(0.25, 0.1) translate(-550px, 100px);
    transform: scale(0.25, 0.1) translate(-550px, 100px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s !important;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s !important;
    -ms-transition: -ms-transform 0.4s, opacity 0.4s !important;
    -o-transition: -o-transform 0.4s, opacity 0.4s !important;
    transition: transform 0.4s, opacity 0.4s !important;
}
#lleo_dialog input::-webkit-input-placeholder {
    color: #aaa !important;
}
#lleo_dialog .lleo_has_pic #lleo_word {
	margin-right: 80px !important;
}
#lleo_dialog #lleo_translationsContainer1 {
	position: relative !important;
}
#lleo_dialog #lleo_translationsContainer2 {
	padding: 7px 0 0 !important;
	vertical-align: middle !important;
}
#lleo_dialog #lleo_word {
    color: #000 !important;
    margin: 0 5px 2px 0 !important;
    /*float: left !important;*/
}
#lleo_dialog .lleo_has_sound #lleo_word {
    margin-left: 30px !important;
}
#lleo_dialog #lleo_text {
    font-weight: bold !important;
    color: #d56e00 !important;
    text-decoration: none !important;
    cursor: default !important;
}
/*
#lleo_dialog #lleo_text.lleo_known {
    cursor: pointer !important;
    text-decoration: underline !important;
}
*/
/*#lleo_dialog #lleo_closeBtn {
    position: absolute !important;
    right: 6px !important;
    top: 5px !important;
    line-height: 1px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-size: 0 !important;
    color: #aaa !important;
    display: block !important;
	z-index: 9999999999 !important;
	width: 7px !important;
	height: 7px !important;
	padding: 0 !important;
	margin: 0 !important;
}*/

#lleo_dialog #lleo_optionsBtn {
    position: absolute !important;
    right: 3px !important;
    top: 5px !important;
    line-height: 1px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-size: 13px !important;
    color: #aaa !important;
    padding: 2px !important;
	display: none;
}
    #lleo_dialog.lleo_optionsShown #lleo_optionsBtn {
        display: block !important;
    }
    #lleo_dialog #lleo_optionsBtn img {
        width: 12px !important;
        height: 12px !important;
    }
#lleo_dialog #lleo_sound {
    float: left !important;
    width: 16px !important;
    height: 16px !important;
    margin-left: 9px !important;
    margin-right: 3px !important;
    background: 0 0 no-repeat !important;
    cursor: pointer !important;
    display: none !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfNJREFUeNq0U01IVFEU/u57Oo5WhBRIBBptykWLYBa2soWiEKQQEbrSFsGbVRQKQc2iFqGitXqvjQxCoCJCqyI0aBUtZILaJNUuYWYWo8HovJ/707nP94bnz0rxwvfOuefd8517fi5TSuE4i50YwZ3l37ZhNlpgzFkaaM/G9sHF1YskNrT+7l4PjMOcb78t2JL71uxgB+2UlfxHTtq5N94fIOh/88kWgWfl73ZCSQkpeGg3H091JY6dI2S00qA/N3KO3dDUYhFgEmZGurG+w9FqApIHsVM7kaTF9Nhn0r8Q7hPWQgIRuNaH3AMUA4W/Lkdh04cpFS43G0TgxQTvCdMETVAk3KynIHwXZU/ge8XDt7KH9bKLjU0P2zVO5LsEpSejVRJ9UR18EtfqKegovs9R3Q6w9c/H1o4Aa2Jwm1lIvn9RJ4w9RdRRzqcYrpwycCll4Cy1lnkS3Bc6vfBg28v8aRIfI78zhB/1GygROH3jLyyzMQ0zlUZuZBSlKkeLoegGtTjYLcJ8pF+NakHOFC2J6w+f25mxSfWrWFF/ShXVPTGvtN14NNkVnxlYWJkgZEL7/vwKr55lKSVnaGYWkuYgrgG172uUv47+U7fw0EHaJXmalUQy/HqO6lBzEsVjJC4Q8kd6TETQpjuaGOvjv8b/AgwA/ij1XMx58NIAAAAASUVORK5CYII=) !important;
}
#lleo_dialog .lleo_has_sound #lleo_sound {
    display: block !important;
}

#lleo_dialog #lleo_soundWave {
    border: solid 5px #4495CC !important;
    border-radius: 5px !important;
    position: absolute !important;
    left: -5px !important;
    top: -5px !important;
    right: -5px !important;
    bottom: -5px !important;
    z-index: 0 !important;
    opacity: 0.9 !important;
    display: none !important;
}
    #lleo_dialog #lleo_soundWave.lleo_beforePlaying {
        display: block !important;
    }
    #lleo_dialog #lleo_soundWave.lleo_playing {
        opacity: 0 !important;
        border-width: 20px !important;
        border-radius: 30px !important;

        -webkit-transform: scale(1.07,1.1) !important;
        -moz-transform: scale(1.07,1.1) !important;
        -ms-transform: scale(1.07,1.1) !important;
        transform: scale(1.07,1.1) !important;

        -webkit-transition: all 0.6s !important;
        -moz-transition: all 0.6s !important;
        -ms-transition: all 0.6s !important;
        transition: all 0.6s !important;
    }


#lleo_dialog #lleo_picOuter {
    position: absolute !important;
    float: right !important;
    top: 4px;
    right: 5px;
    z-index: 9 !important;
    display: none !important;
    width: 100px !important;
}
    #lleo_dialog.lleo_optionsShown #lleo_picOuter {
        right: 25px;
    }
#lleo_dialog .lleo_has_pic #lleo_picOuter {
    display: block !important;
}
    #lleo_dialog #lleo_picOuter:hover {
        width: auto !important;
        z-index: 11 !important;
    }
#lleo_dialog #lleo_pic,
#lleo_dialog #lleo_picBig {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    border: solid 2px #fff !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
	border-radius: 2px !important;
    z-index: 1 !important;
}
#lleo_dialog #lleo_pic {
	position: relative !important;
    border: none !important;
	width: 30px !important;
}
#lleo_dialog #lleo_picBig {
    box-shadow: -1px 2px 4px rgba(0,0,0,0.3);
    z-index: 2 !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
    #lleo_dialog #lleo_picOuter:hover #lleo_picBig {
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transition: opacity 0.3s !important;
        -webkit-transition-delay: 0.3s !important;
    }
#lleo_dialog #lleo_transcription {
    margin: 0 80px 4px 31px !important;
    color: #aaaaaa !important;
}
#lleo_dialog .lleo_no_trans {
    color: #aaa !important;
}

#lleo_dialog .ll-translation-counter {
	float: right !important;
    font-size: 11px !important;
    color: #aaa !important;
    padding: 2px 2px 1px 10px !important;
}

#lleo_dialog .ll-translation-text {
	float: left !important;
	/*width: 80% !important;*/
}

#lleo_dialog #lleo_trans a {
    color: #3F669F !important;
    text-decoration: none !important;
    text-overflow: ellipsis !important;
    padding: 1px 4px !important;
    overflow: hidden !important;
    float: left !important;
    width: 320px !important;
}

#lleo_dialog .ll-translation-item {
    color: #3F669F !important;
    border: solid 1px #fff !important;
    padding: 3px !important;
    width: 100% !important;
    float: left !important;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	border-radius: 2px !important;
}

#lleo_dialog .ll-translation-item:hover {
	border: solid 1px #9FC2C9 !important;
    background: #EDF4F6 !important;
	cursor: pointer !important;
}
#lleo_dialog .ll-translation-item:hover .ll-translation-counter {
	color: #83a0a6 !important;
}

#lleo_dialog .ll-translation-marker {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAWSURBVBhXY7RPm/+fAQkwIXNAbMICAJQ8AkvqWg/SAAAAAElFTkSu…);
}
</style>
</head>
<body>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "Errors Seeds",
      "contentUrl": "/published/publicdata/WEBASYST/attachments/SC/products_pictures/semena-fotoperiodichnogo-feminizirovannogo-sorta-Somango-Feminised.jpg"
    }
  </script>
  <script type="text/text/javascript" async src="https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"></script>
  <script
    <meta charset="UTF-8"/>
    <div class="bg_header">
    <div class="new1_bg">
      <div class="position_center">
        <div class="header">
          {if $lang_iso2 == "ru"}
          <a href="/" class="logo">
            {/if}
            {if $lang_iso2 == "ua"}
            <a href="/ua" class="logo">
            {/if}
            <img src="/published/publicdata/WEBASYST/attachments/SC/themes/images/logo.png" />
            </a>
          <div class="login">
            {cpt_survey overridestyle=':tj7wv2'}
            <div class="count-down-block" style="height: 130px;">
              <div class="header-switcher">
                <button id="header-switcher__button" type='submit'>
                        <noindex>
                        <a rel='http://new.errors-seeds.com.ua/' class='header-switcher__link hidli' href="#">
                        {if $lang_iso2 == "ru"}
                        Перейти на новую версию сайта
                        {/if}
                        {if $lang_iso2 == "ua"}
                        Перейти на нову версію сайту
                        {/if}</a>
                        <noindex>
                     </button>
              </div>
            </div>
            <style>
              .header-switcher {
                background: #f92332;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                text-transform: uppercase;
                color: white;
                width: 285px;
                justify-content: center;
                margin-top: 70px;
                margin-left: 50px;
                border-radius: 4px;
              }

              #header-switcher__button {
                outline: none;
                border: none;
                background: transparent;
                padding: 10px 0;
                text-transform: uppercase;
              }

              .header-switcher a {
                text-decoration: none;
              }

              .header-switcher a:hover,
              .header-switcher a:visited,
              .header-switcher a:active {
                text-decoration: none;
                color: white;
              }
            </style>
            {include file="login.html"} {if !$log}<a class="input" id="trigg" href="javascript:void(0);">
               {if $lang_iso2 == "ru"}
               Вход
               {/if}
               {if $lang_iso2 == "ua"}
               Вхід
               {/if}
               </a> {else}
            <a class="input" id="trigg" href="javascript:void(0);" style="background:url(../images/bg_cabinet.png);
                  width:70px;
                  height:24px;
                  text-align:center;
                  float:left;
                  margin-right:10px;">
               {if $lang_iso2 == "ru"}Кабинет {/if} {if $lang_iso2 == "ua"} Кабінет {/if}
               </a> {/if} {if !$log}<a href="{'?ukey=register'|set_query_html}" class="registration">
               {if $lang_iso2 == "ru"}
               Регистрация
               {/if}
               {if $lang_iso2 == "ua"}
               Реєстрація
               {/if}
               </a> {/if}
          </div>
          <div class="phone">
            <img src="/images/phone_icon.png" />
            <div class="phone_number">
              <p>
                <span>+38 093</span>
                <!-- No Skype -->00-00-849
              </p>
              <p>
                <span>+38 095</span>
                <!-- No Skype -->00-00-849
              </p>
              <p>
                <span>+38 096</span>
                <!-- No Skype -->00-00-849
              </p>
            </div>
          </div>
        </div>
        <div class="menu">
          {if $lang_iso2 == "ru"}
          <ul class="sf-menu">
            <li class="current"><a href="/">Главная</a></li>
            <li class="current">
              <a href="#">О магазине</a>
              <ul>
                <li><a href="/auxpage_about/">О нас</a></li>
                <li><a href="/auxpage_faq/">Часто задаваемые вопросы</a></li>
                <li><a href="/auxpage_schedule/">График работы</a></li>
                <li><a href="/auxpage_delivery/">Доставка</a></li>
                <li><a href="/auxpage_shipping/">Оплата</a></li>
                <li><a href="/auxpage_adress/">Как нас найти</a></li>
                <li><a href="/auxpage_kak-kupit-semena-konopli/">Как купить семена конопли</a></li>
                <li><a href="/feedback/">Контакты</a></li>
                <!-- <li><a href="/blog/">Блог</a></li> -->
                <li>
                  <a href="/auxpage_polit/">Политика замены и возврата</a>
                  <ul>
                    <li><a href="/auxpage_indiv/">Для частных лиц</a></li>
                    <li><a href="/auxpage_for-shop/">Для магазинов</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Семена</a>
              <ul>
                <li>
                  <a href="/category/errors-seeds/">Errors Seeds Silver</a>
                  <ul>
                    <li><a href="/category/errors-seeds-auto/">Errors Seeds Silver Auto</a></li>
                    <li><a href="/category/errors-seeds-regular/">Errors Seeds Silver Regular</a></li>
                    <li><a href="/category/errors-seeds-feminised/">Errors Seeds Silver Feminised</a></li>
                    <li><a href="/category/errors-seeds-auto-fem/">Errors Seeds Silver Auto Fem</a></li>
                    <li><a href="/category/errors-seeds-cup/">Errors Seeds Silver Cup</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/errors-seeds-import/">Errors Seeds Gold</a>
                  <ul>
                    <li><a href="/category/errors-seeds-import-feminised/">Errors Seeds Gold Feminised</a></li>
                    <li><a href="/category/errors-seeds-import-auto-fem/">Errors Seeds Gold Auto Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/carpathians-seeds/">Carpathians seeds</a>
                  <ul>
                    <li><a href="/category/carpathians-seeds-auto-fem/">Carpathians seeds Auto Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/neuroseeds/">Neuroseeds</a>
                  <ul>
                    <li><a href="/category/neuroseeds-auto-fem/">Neuroseeds auto fem</a></li>
                    <li><a href="/category/neuroseeds-fem/">Neuroseeds fem</a></li>
                  </ul>
                </li>
                <li><a href="/category/cbd-sorta/">CBD сорта</a>
                </li>
                <li>
                  <a href="/category/victory-seeds/">Victory Seeds</a>
                  <ul>
                    <li><a href="/category/victory-seeds-auto-fem/">Victory Seeds Auto Fem</a></li>
                    <li><a href="/category/victory-seeds-fem/">Victory Seeds Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/bulk-seed-bank/">Bulk Seed Bank</a>
                  <ul>
                    <li><a href="/category/bulk-seed-bank-auto-fem/">Bulk Seed Bank Auto Fem</a></li>
                    <li><a href="/category/bulk-seed-bank-fem/">Bulk Seed Bank Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/green-house-seeds/">Green House Seeds</a>
                  <ul>
                    <li><a href="/category/green-house-seeds-auto-fem/">Green House Seeds Auto Fem</a></li>
                    <li><a href="/category/green-house-seeds-feminised/">Green House Seeds Feminised</a></li>
                  </ul>
                </li>
                <li><a href="/category/mandala-seeds-/">Mandala Seeds</a>
                </li>
                <li><a href="/category/kannabia/">Kannabia</a>
                </li>
                <li><a href="/category/pyramid-seeds/">Pyramid Seeds</a>
                </li>
                <li><a href="/category/humboldt/">Humboldt</a>
                </li>
                  <li><a href="/category/barneys-farm/">Barneys Farm</a>
                </li>
                <li>
                  <a href="https://errors-seeds.com.ua/category/drugie/">Другие</a>
                  <ul>
                    <li>
                      <a href="/category/vision-seeds/">Vision Seeds</a>
                      <ul>
                        <li><a href="/category/vision-seeds-auto-fem/">Vision Seeds Auto Fem</a></li>
                        <li><a href="/category/vision-seeds-feminised/">Vision Seeds Feminised</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
                      <ul>
                        <li><a href="/category/shortstuff-seeds-auto-fem/">Shortstuff Seeds fem</a></li>
                        <li><a href="/category/shortstuff-seeds-auto-reg/">Shortstuff Seeds reg</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/sweet-seeds/">Sweet Seeds</a>
                      <ul>
                        <li><a href="/category/sweet-seeds-auto-fem/">Sweet Seeds Auto Fem</a></li>
                        <li><a href="/category/sweet-seeds-feminised/">Sweet Seeds Feminised</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                      <ul>
                        <li><a href="/category/dutch-passion-seeds-auto-fem/">Dutch Passion Seeds Auto Fem</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/flash-seeds/">Flash-seeds</a>
                      <ul>
                        <li><a href="/category/flash-seeds-auto-fem/">Flash-seeds Auto Fem</a></li>
                        <li><a href="/category/flash-seeds-regular/">Flash-seeds Regular</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                      <ul>
                        <li><a href="/category/grass-o-maitc-seeds-auto-fem/">Grass-o-matic seeds Auto Fem</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                      <ul>
                        <li><a href="/category/joint-doctor-seeds-regular/">Joint Doctor seeds Regular</a></li>
                        <li><a href="/category/joint-doctor-seeds-auto-fem/">Joint Doctor seeds Auto Fem</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/seedsman/">Seedsman</a>
                      <ul>
                        <li><a href="/category/seedsman-auto-fem/">Seedsman Auto Fem</a></li>
                        <li><a href="/category/seedsman-regular/">Seedsman Regular</a></li>
                        <li><a href="/category/seedsman-feminised/">Seedsman Feminised</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="https://errors-seeds.com.ua/auxpage_action_list">Акции</a></li>
            <!--<li><a href="/category/black-friday/">Black Friday</a></li>-->
            <li><a rel="nofollow" href="https://errors-seeds.com.ua/blog/">Новости</a></li>
            <li>
              <a href="https://errors-seeds.com.ua/auxpage_sotrudnichestvo/">Сотрудничество</a>
              <ul>
                <li><a href="https://errors-seeds.com.ua/auxpage_referalnaya_programma">Реферальная программа</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_opt">Опт</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_dropshipping">Дропшиппинг</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_interesnyy_kontent">Интересный контент</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_smm">SMM </a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_distribjucija">Дистрибьюция</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_briderstvo">Бридерство</a></li>
                <li><a href="https://errors-seeds.com.ua/auxpage_vakansii">Вакансии</a></li>
                <li><a href="https://errors-seeds.com.ua/pricelist/?in_stock=yes">Прайс-лист</a></li>
              </ul>
            </li>
            <li><a href="/auxpage_law/">Закон</a></li>
          </ul>
          {/if} {if $lang_iso2 == "ua"}
          <ul class="sf-menu">
            <li class="current"><a href="/ua">Головна</a></li>
            <li class="current">
              <a href="#">О магазині</a>
              <ul>
                <li><a href="/ua/auxpage_about/">О нас</a></li>
                <li><a href="/ua/auxpage_faq/"> Часті питання </a></li>
                <li><a href="/ua/auxpage_schedule/"> Графік роботи </a></li>
                <li><a href="/ua/auxpage_delivery/">Доставка</a></li>
                <li><a href="/ua/auxpage_shipping/">Оплата</a></li>
                <li><a href="/ua/auxpage_adress/">Як нас знайти</a></li>
                <li><a href="/ua/auxpage_kak-kupit-semena-konopli/">Як купити насіння коноплі</a></li>
                <li><a href="/ua/feedback/">Контакти</a></li>
                <!-- <li><a href="/ua/blog/">Блог</a></li> -->
                <li>
                  <a href="/ua/auxpage_polit/"> Політика заміни і повернення </a>
                  <ul>
                    <li><a href="/ua/auxpage_indiv/"> Для приватних осіб </a></li>
                    <li><a href="/ua/auxpage_for-shop/">Для магазинів</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Насіння</a>
              <ul>
                <li>
                  <a href="/ua/category/errors-seeds/">Errors Seeds Silver</a>
                  <ul>
                    <li><a href="/ua/category/errors-seeds-auto/">Errors Seeds Silver Auto</a></li>
                    <li><a href="/ua/category/errors-seeds-regular/">Errors Seeds Silver Regular</a></li>
                    <li><a href="/ua/category/errors-seeds-feminised/">Errors Seeds Silver Feminised</a></li>
                    <li><a href="/ua/category/errors-seeds-auto-fem/">Errors Seeds Silver Auto Fem</a></li>
                    <li><a href="/ua/category/errors-seeds-cup/">Errors Seeds Silver Cup</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/ua/category/errors-seeds-import/">Errors Seeds Gold</a>
                  <ul>
                    <li><a href="/ua/category/errors-seeds-import-feminised/">Errors Seeds Gold Feminised</a></li>
                    <li><a href="/ua/category/errors-seeds-import-auto-fem/">Errors Seeds Gold Auto Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/ua/category/neuroseeds/">Neuroseeds</a>
                  <ul>
                    <li><a href="/ua/category/neuroseeds-auto-fem/">Neuroseeds auto fem</a></li>
                    <li><a href="/ua/category/neuroseeds-fem/">Neuroseeds fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/ua/category/carpathians-seeds/">Carpathians seeds</a>
                  <ul>
                    <li><a href="/ua/category/carpathians-seeds-auto-fem/">Carpathians seeds Auto Fem</a></li>
                  </ul>
                </li>
                <li><a href="https://errors-seeds.com.ua/category/cbd-sorta/">CBD сорта</a>
                </li>
                <li>
                  <a href="/category/victory-seeds/">Victory Seeds</a>
                  <ul>
                    <li><a href="/category/victory-seeds-auto-fem/">Victory Seeds Auto Fem</a></li>
                    <li><a href="/category/victory-seeds-fem/">Victory Seeds Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/bulk-seed-bank/">Bulk Seed Bank</a>
                  <ul>
                    <li><a href="/category/bulk-seed-bank-auto-fem/">Bulk Seed Bank Auto Fem</a></li>
                    <li><a href="/category/bulk-seed-bank-fem/">Bulk Seed Bank Fem</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/category/green-house-seeds/">Green House Seeds</a>
                  <ul>
                    <li><a href="/category/green-house-seeds-auto-fem/">Green House Seeds Auto Fem</a></li>
                    <li><a href="/category/green-house-seeds-feminised/">Green House Seeds Feminised</a></li>
                  </ul>
                </li>
                <li><a href="/ua/category/mandala-seeds-/">Mandala Seeds</a>
                  <li><a href="/ua/category/kannabia/">Kannabia</a>
                  </li>
                  <li><a href="/ua/category/pyramid-seeds/">Pyramid Seeds</a>
                  </li>
                  <li><a href="/ua/category/humboldt/">Humboldt</a>
                  </li>
                   <li><a href="/ua/category/barneys-farm/">Barneys Farm</a>
                </li>
                  <li>
                    <a href="https://errors-seeds.com.ua/category/drugie/">Інші</a>
                    <ul>
                      <li>
                        <a href="/category/vision-seeds/">Vision Seeds</a>
                        <ul>
                          <li><a href="/category/vision-seeds-auto-fem/">Vision Seeds Auto Fem</a></li>
                          <li><a href="/category/vision-seeds-feminised/">Vision Seeds Feminised</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/shortstuff-seeds/">Shortstuff Seeds</a>
                        <ul>
                          <li><a href="/category/shortstuff-seeds-auto-fem/">Shortstuff Seeds fem</a></li>
                          <li><a href="/category/shortstuff-seeds-auto-reg/">Shortstuff Seeds reg</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/sweet-seeds/">Sweet Seeds</a>
                        <ul>
                          <li><a href="/category/sweet-seeds-auto-fem/">Sweet Seeds Auto Fem</a></li>
                          <li><a href="/category/sweet-seeds-feminised/">Sweet Seeds Feminised</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/dutch-passion-seeds/">Dutch Passion seeds</a>
                        <ul>
                          <li><a href="/category/dutch-passion-seeds-auto-fem/">Dutch Passion Seeds Auto Fem</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/flash-seeds/">Flash-seeds</a>
                        <ul>
                          <li><a href="/category/flash-seeds-auto-fem/">Flash-seeds Auto Fem</a></li>
                          <li><a href="/category/flash-seeds-regular/">Flash-seeds Regular</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/grass-o-matic-seeds/">Grass-o-matic seeds</a>
                        <ul>
                          <li><a href="/category/grass-o-maitc-seeds-auto-fem/">Grass-o-matic seeds Auto Fem</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/joint-doctor-seeds/">Joint Doctor seeds</a>
                        <ul>
                          <li><a href="/category/joint-doctor-seeds-regular/">Joint Doctor seeds Regular</a></li>
                          <li><a href="/category/joint-doctor-seeds-auto-fem/">Joint Doctor seeds Auto Fem</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/category/seedsman/">Seedsman</a>
                        <ul>
                          <li><a href="/category/seedsman-auto-fem/">Seedsman Auto Fem</a></li>
                          <li><a href="/category/seedsman-regular/">Seedsman Regular</a></li>
                          <li><a href="/category/seedsman-feminised/">Seedsman Feminised</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </li>
              </ul>
            </li>
            <li><a href="/ua/auxpage_action_list/">Акції</a></li>
            <!--<li><a href="/category/black-friday/">Black Friday</a></li>-->
            <li><a href="/ua/blog/">Новини</a></li>
            <li>
              <a href="https://errors-seeds.com.ua/auxpage_sotrudnichestvo/">Співпраця</a>
              <ul>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_referalnaya_programma">Реферальна програма</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_opt">Опт</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_dropshipping">Дропшиппінг</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_interesnyy_kontent">Цікавий контент</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_smm">SMM </a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_distribjucija">Дистриб'юція</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_briderstvo">Брідерство</a></li>
                <li><a href="https://errors-seeds.com.ua/ua/auxpage_vakansii">Вакансії</a></li>
                <li><a href="https://errors-seeds.com.ua/pricelist/?in_stock=yes">Прайс-лист</a></li>
              </ul>
            </li>
            <li><a href="/ua/auxpage_law/">Закон</a></li>
          </ul>
          {/if}
        </div>
      </div>
    </div>
  </div>
